﻿







<div class="col-md-12 col-xs-12 col-sm-12 noMarginright EntryPanelcss" data-bind="visible: isEditing" style="display:none;">




    <div class="row rowNoMargin" data-bind="css:{'divvisible': isShowErrorEdit(),'divhidden': !isShowErrorEdit()}">
        <div class="row clientErrorList alert alert-danger col-md-12" id="EntryDetailErrorBox" data-bind="click:function () {errorExpanderClick('EntryDetailErrorBox')}">
            <div class="errUpDownArrowDiv">
                <span class="fa fa-caret-down"></span>
                <span class="fa fa-caret-up"></span>
            </div>
            <div class="errorLabelfull">

                <ul data-bind="foreach: ErrorList">
                    <li data-bind="text: ErrorText"></li>
                </ul>

            </div>
        </div>
    </div>

    <div style="width: 100%; background-color:white ">
        <ul class="noMargin tabAppMenu">
            <li class="carrierLink activePageMenu" id="AddonTab" data-bind="click: AddOnClick"><a>General Info.</a>  </li>

            <li>|</li>
            <li class="carrierLink " id="PhotoTab" data-bind="click: PhotosClick"><a> Photos</a>  </li>
        </ul>

    </div>


    <div id="AddOnEntryDiv" data-bind="with: SelectAddon()">


        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Language
                </label>
            </div>
            <div class="col-md-4 noMargin smallMargintop">
                <select class="form-control " id="CultureID" name="CultureID" tabindex="0" data-bind="options: $parent.CultureList, optionsText: 'ppDisplayName', value: $parent.selectedCulture"></select>

            </div>

            <div class="col-md-1  smallMargintop">
                <label>
                    Active
                </label>


            </div>

            <div class="col-md-4 noMargin smallMargintop">
                <input tabindex="1" type="checkbox" id="ppEnabled" name="ppEnabled" class="form-control  mediumCheckBox" data-bind="checked:ppEnabled" />
            </div>

        </div>


        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Name
                </label>
            </div>
            <div class="col-md-8 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppDescription" name="ppDescription" tabindex="2" placeholder="Enter the addon name" maxlength="100" data-bind="value: ppDescription" />

            </div>

        </div>

        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Description
                </label>
            </div>
            <div class="col-md-8 noMargin smallMargintop">

                <textarea cols="30" class="form-control " id="ppLongDescription" name="ppLongDescription" tabindex="3" maxlength="400" rows="7" data-bind="value: ppLongDescription"></textarea>
            </div>

        </div>


        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Price
                </label>
            </div>
            <div class="col-md-2 noMargin smallMargintop">
                <input type="text" class="form-control numericTextbox" placeholder="Enter price" onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="50" data-bind="value: ppAmount" id="ppAmount" name="ppAmount" />
            </div>

            <div class="col-md-2  smallMargintop">
                <label>
                    Include Tax
                </label>


            </div>

            <div class="col-md-4 noMargin smallMargintop">
                <input tabindex="1" type="checkbox" class="form-control mediumCheckBox" id="ppTax" name="ppTax" data-bind="checked:ppTax" />
            </div>

        </div>



        <div class="row rowNoMargin entryPanel">



            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Order
                </label>
            </div>
            <div class="col-md-2 noMargin smallMargintop">
                <input type="text" class="form-control numericTextbox" placeholder="Enter  order number" onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="2" data-bind="value: ppRowOrder" id="ppRowOrder" name="ppRowOrder" />
            </div>

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Type
                </label>
            </div>
            <div class="col-md-2 noMargin smallMargintop">
                <select class="form-control " id="ppAddonType" name="ppAddonType" tabindex="0" data-bind="options: $parent.AddOnTypeList, optionsText: 'description', value: $parent.selectedAddOnType , event:{ change: $parent.AddOnTypeChanged}"></select>

            </div>




        </div>



        <div class="row rowNoMargin entryPanel" id="TransportRates" style="width:80%" data-bind="visible: $parent.ShowTransportRates">

            <div class="modal-header">

                <h4 class="modal-title">Transport Rates</h4>

            </div>
            <div class="modal-body ">
                <label class="modal-title">Enter the price for each quantity of pax:</label>
                <br />

                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <td>
                                <label>Price 1</label>
                                <input type="text" class="form-control numericTextbox" placeholder="Price 1" onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="25" data-bind="value: ppAmount1" id="ppAmount1" name="ppAmount1" />
                            </td>
                            <td>
                                <label>Price 2</label>
                                <input type="text" class="form-control numericTextbox" placeholder="Price 2" onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="25" data-bind="value: ppAmount2" id="ppAmount2" name="ppAmount2" />
                            </td>
                            <td>
                                <label>Price 3</label>
                                <input type="text" class="form-control numericTextbox" placeholder="Price 3" onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="25" data-bind="value: ppAmount3" id="ppAmount2" name="ppAmount2" />
                            </td>
                            <td>
                                <label>Price 4</label>
                                <input type="text" class="form-control numericTextbox" placeholder="Price 4" onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="25" data-bind="value: ppAmount4" id="ppAmount2" name="ppAmount2" />
                            </td>
                            <td>
                                <label>Price 5</label>
                                <input type="text" class="form-control numericTextbox" placeholder="Price 5" onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="25" data-bind="value: ppAmount5" id="ppAmount5" name="ppAmount5" />
                            </td>
                        </tr>
                        <tr>

                            <td>
                                <label>Price 6</label>
                                <input type="text" class="form-control numericTextbox" placeholder="Price 6" onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="25" data-bind="value: ppAmount6" id="ppAmount6" name="ppAmount6" />
                            </td>
                            <td>
                                <label>Price 7</label>
                                <input type="text" class="form-control numericTextbox" placeholder="Price 7" onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="25" data-bind="value: ppAmount7" id="ppAmount7" name="ppAmount7" />
                            </td>
                            <td>
                                <label>Price 8</label>
                                <input type="text" class="form-control numericTextbox" placeholder="Price 8" onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="25" data-bind="value: ppAmount8" id="ppAmount8" name="ppAmount8" />
                            </td>
                            <td>
                                <label>Price 9</label>
                                <input type="text" class="form-control numericTextbox" placeholder="Price 9" onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="25" data-bind="value: ppAmount9" id="ppAmount9" name="ppAmount9" />
                            </td>
                            <td>
                                <label>Price 10</label>
                                <input type="text" class="form-control numericTextbox" placeholder="Price 10" onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="25" data-bind="value: ppAmount10" id="ppAmount10" name="ppAmount10" />
                            </td>
                        </tr>
                    </table>
                </div>

            </div>

            <div class="modal-footer ">
                <button type="button" class="btn btn-default" data-bind="click: $parent.CloseRates"> Close</button>
            </div>

        </div>


        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Departure
                </label>
            </div>
            <div class="col-md-2 noMargin smallMargintop">

                <input type="text" name="Departure"
                       class="form-control" id="Departure" data-bind="value:ppDeparture, enable: DepartureEnable" />
            </div>

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Duration
                </label>
            </div>
            <div class="col-md-2 noMargin smallMargintop">
                <input type="text" name="Duration"
                       class="form-control" id="Duration" data-bind="value:ppDuration, enable: DurationEnable" />
            </div>

        </div>

        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Valid From
                </label>
            </div>
            <div class="col-md-2 noMargin smallMargintop">

                <input type="text" placeholder="To Date(mm/dd/yyyy)" required title="From Date is required" name="FromDate"
                       class="form-control dateinput" id="FromDate" data-bind="FromDatePicker:{}, value:$parent.selectedFromDate" />
            </div>

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    To
                </label>
            </div>
            <div class="col-md-2 noMargin smallMargintop">
                <input type="text" placeholder="To Date(mm/dd/yyyy)" required title="To Date is required" name="ToDate"
                       class="form-control dateinput" id="ToDate" data-bind="ToDatePicker:{}, value:$parent.selectedToDate" />
            </div>

        </div>


        <br />

        <div class="col-md-6  noMargin mediumMargintop">
            <div class="btn btn-primary " role="button" type="submit" data-bind="click: $parent.SaveClick">
                Save
            </div>


            <div class="btn btn-danger" tabindex="21" role="button" data-bind="click: $parent.CloseClick">
                Close
            </div>

        </div>


    </div>


    <div id="PhotoDiv" style="display:none">
        <div class="row rowNoMargin entryPanel">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td>
                            <input type="file" name="UploadFile1" id="txtUploadFile1" class="filestyle" data-buttonName="btn-primary" />
                        </td>
                        <td>
                            <img data-bind="attr: {src: Picture1()}" class="carrierLogo" id="Picture1" />
                        </td>
                    </tr>

                    <tr>
                        <td>

                            <div>
                                <input type="file" name="UploadFile" id="txtUploadFile" class="filestyle" data-buttonName="btn-primary" />
                                <input type="hidden" id="AddonId" />
                            </div>


                        </td>
                        <td>
                            <img data-bind="attr: {src: Picture2()}" class="carrierLogo" id="Picture2" />
                        </td>
                    </tr>

                </table>
            </div>

            <div class="col-md-6  noMargin mediumMargintop">

                <div class="btn btn-danger" tabindex="21" role="button" data-bind="click: CloseClick">
                    Close
                </div>

            </div>
        </div>
    </div>
</div>
<hr class="EndPage">


<div id="dialog" title="Alert" style="display:none;">
    <div id="DialogAlertMessage" class="DialogAlertMessage"></div>
</div>   