﻿<%@ Page Title="" Language="VB" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewPage" %>

<asp:Content ID="HotelAdminDashboard" ContentPlaceHolderID="TitleContent" runat="server">
Hotel
</asp:Content>


<asp:Content ID="HotelContent" ContentPlaceHolderID="MainContent" runat="server">


</asp:Content>

