﻿<%@ Page Title="" Language="VB" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewPage" %>

<asp:Content ID="GuestsAdminDashboard" ContentPlaceHolderID="TitleContent" runat="server">
Guests
</asp:Content>


<asp:Content ID="GuestsContent" ContentPlaceHolderID="MainContent" runat="server">


</asp:Content>

