﻿<%@ Page Title="" Language="VB" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewPage" %>

<asp:Content ID="ReservationAdminDashboard" ContentPlaceHolderID="TitleContent" runat="server">
Reservation
</asp:Content>


<asp:Content ID="ReservationContent" ContentPlaceHolderID="MainContent" runat="server">


</asp:Content>

