﻿<%@ Page Title="" Language="VB" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewPage" %>

<asp:Content ID="SalesAdminDashboard" ContentPlaceHolderID="TitleContent" runat="server">
Sales
</asp:Content>


<asp:Content ID="SalesContent" ContentPlaceHolderID="MainContent" runat="server">


</asp:Content>

