﻿<div class="col-md-12 col-xs-12 col-sm-12 noMarginright EntryPanelcss" data-bind="visible: isEditing" style="display:none;">

    <div class="row rowNoMargin" data-bind="css:{'divvisible': isShowErrorEdit(),'divhidden': !isShowErrorEdit()}">
        <div class="row clientErrorList alert alert-danger col-md-12" id="EntryDetailErrorBox" data-bind="click:function () {errorExpanderClick('EntryDetailErrorBox')}">
            <div class="errUpDownArrowDiv">
                <span class="fa fa-caret-down"></span>
                <span class="fa fa-caret-up"></span>
            </div>
            <div class="errorLabelfull">

                <ul data-bind="foreach: ErrorList">
                    <li data-bind="text: ErrorText"></li>
                </ul>

            </div>
        </div>
    </div>


    <!----Success Msg Div--->
    <div class="row  col-md-10 rowNoMargin succesMsgDiv" data-bind="css: { 'entrypanelSuccessDiv': isEditing() }">
        <div class="col-md-7 rowNoMargin  alert alert-success" id="ServiceMsg" data-bind="css: { 'toolbarhide': isEditing(), 'divhiddenVisiblity': !isSucess() }">
        </div>

    </div>
    <!------->

    <h4>Enter Information of the service</h4>

    <br />

    <div class="row rowNoMargin entryPanel">
        <div class="btn btn-primary " role="button" type="submit" data-bind="click: SaveClick">
            Save
        </div>


        <div class="btn btn-danger" tabindex="21" role="button" data-bind="click: CloseClick">
            Close
        </div>

    </div>

    <br />

    <div  data-bind="with: SelectedService()">

        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Description
                </label>
            </div>
            <div class="col-md-6 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppDescription" name="ppDescription" tabindex="1" maxlength="100" data-bind="value: ppDescription" />

            </div>


            <div class="col-md-1  smallMargintop">
                <label>
                    Active
                </label>


            </div>

            <div class="col-sm-1 noMargin smallMargintop">
                <input tabindex="1" type="checkbox" id="ppActive" name="ppActive" class="form-control  mediumCheckBox" data-bind="checked:ppActive" />
            </div>


        </div>


        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Details
                </label>
            </div>
            <div class="col-md-8 noMargin smallMargintop">

                <textarea cols="30" class="form-control " id="ppDetails" name="ppDetails"  maxlength="500" rows="7" data-bind="value: ppDetails"></textarea>
            </div>

        </div>

        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Code
                </label>
            </div>
            <div class="col-md-2 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppCode" name="ppCode" tabindex="1" maxlength="10" data-bind="value: ppCode" />

            </div>


            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Order in list
                </label>
            </div>
            <div class="col-md-2 noMargin smallMargintop">
                <input type="text" class="form-control numericTextbox"  onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="3" data-bind="value: ppListOrder" id="ppListOrder" name="ppListOrder" />
            </div>



        </div>


        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Video Url
                </label>
            </div>
            <div class="col-md-8 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppVideoURL" name="ppVideoURL" tabindex="1" maxlength="200" data-bind="value: ppVideoURL" />

            </div>

        </div>

        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Level
                </label>
            </div>
            <div class="col-md-2 noMargin smallMargintop">

                <select class="form-control " id="cbotype" name="cbotype" tabindex="0" data-bind="value: ppDifficulty ">
                    <option value="0"></option>
                        <option value="1">Beginner</option>
                    <option value="2">Intermediate</option>
                    <option value="3">Advanced</option>
                </select>

            </div>

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Category
                </label>
            </div>

            <div class="col-md-4 noMargin smallMargintop">
                <select class="form-control " id="cmbCategoryList" name="cmbCategoryList" tabindex="0" data-bind="options: $parent.CategoryList, optionsText: 'ppDescription', value: $parent.selectedCategory"></select>

            </div>
         
        </div>

    </div>


    <br />

    <div id="DivConditions"  data-bind="visible: ShowConditions" style="display:none;">
        <h4>Service Conditions</h4>
        <hr />
        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Language
                </label>
            </div>
            <div class="col-md-4 noMargin smallMargintop">
                <select class="form-control " id="CultureID" name="CultureID" tabindex="0" data-bind="options: CultureList, optionsText: 'ppDisplayName', value: selectedCulture , event:{ change: CultureConditionsChanged}"></select>

            </div>

        </div>

        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Conditions
                </label>
            </div>
            <div class="col-md-9 noMargin smallMargintop">

                <textarea cols="30" class="form-control " id="ServiceConditions" name="ServiceConditions" rows="10" data-bind="value: ServiceConditions"></textarea>
            </div>

        </div>

        <br />
        <div class="row rowNoMargin entryPanel">
            <div class="btn btn-primary " role="button" type="submit" data-bind="click: SaveConditions">
                Save Conditions
            </div>

        </div>

    </div>

    <br />

    <div id="DivConditions" data-bind="visible: ShowConditions" style="display:none;">
        <h4>Service Bring Information</h4>
        <hr />
        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Language
                </label>
            </div>
            <div class="col-md-4 noMargin smallMargintop">
                <select class="form-control " id="CultureID" name="CultureID" tabindex="0" data-bind="options: CultureList, optionsText: 'ppDisplayName', value: selectedBringInfoCulture , event:{ change: CultureBringChanged}"></select>

            </div>

        </div>

        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Bring Info

                </label>
            </div>
            <div class="col-md-9 noMargin smallMargintop">

                <textarea cols="30" class="form-control " id="ServicesBringInfo" name="ServicesBringInfo" rows="10" data-bind="value: ServicesBringInfo"></textarea>
            </div>

        </div>

        <br />

        <div class="row rowNoMargin entryPanel">
            <div class="btn btn-primary " role="button" type="submit" data-bind="click: SaveBringInfo">
                Save Bring Info
            </div>

        </div>

    </div>

    <br />
    <div id="DivPhotos" data-bind="visible: ShowConditions" style="display:none;">
        <h4>Photos</h4>
       
        <input type="hidden" id="HdfServiceId" />

        <div class="row rowNoMargin entryPanel">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td>
                            <input type="file" name="UploadFile1" id="txtUploadFile1" class="filestyle" data-buttonName="btn-primary" />
                        </td>
                        <td>
                            <img data-bind="attr: {src: Picture1()}" class="carrierLogo" id="Picture1" />
                        </td>
                    </tr>

                    <tr>
                        <td>

                            <div>
                                <input type="file" name="UploadFile" id="txtUploadFile2" class="filestyle" data-buttonName="btn-primary" />
                            </div>


                        </td>
                        <td>
                            <img data-bind="attr: {src: Picture2()}" class="carrierLogo" id="Picture2" />
                        </td>
                    </tr>



                    <tr>
                        <td>

                            <div>
                                <input type="file" name="UploadFile" id="txtUploadFile3" class="filestyle" data-buttonName="btn-primary" />
                            </div>


                        </td>
                        <td>
                            <img data-bind="attr: {src: Picture3()}" class="carrierLogo" id="Picture3" />
                        </td>
                    </tr>
                </table>
            </div>


        </div>
    </div>

    <br />

    <div id="DivRates" data-bind="visible: ShowConditions" style="display:none;">
        <h4>Rates</h4>
        <hr />

        <div class="row rowNoMargin" data-bind="css:{'divvisible': isShowErrorEditRate(),'divhidden': !isShowErrorEditRate()}">
            <div class="row clientErrorList alert alert-danger col-md-12" id="EntryDetailErrorBoxRate" data-bind="click:function () {errorExpanderClick('EntryDetailErrorBoxRate')}">
                <div class="errUpDownArrowDiv">
                    <span class="fa fa-caret-down"></span>
                    <span class="fa fa-caret-up"></span>
                </div>
                <div class="errorLabelfull">

                    <ul data-bind="foreach: ErrorRateList">
                        <li data-bind="text: ErrorText"></li>
                    </ul>

                </div>
            </div>
        </div>


        <div data-bind="with: selectedRate()">

            <div class="row rowNoMargin entryPanel">

                <div class="col-sm-2 noMargin smallMargintop">
                    <label>
                        Description
                    </label>
                </div>
                <div class="col-md-6 noMargin smallMargintop">
                    <input type="text" class="form-control " id="ppDescription" name="ppDescription" tabindex="1" maxlength="100" data-bind="value: ppDescription" />

                </div>


                <div class="col-md-1  smallMargintop">
                    <label>
                        Active
                    </label>


                </div>

                <div class="col-sm-1 noMargin smallMargintop">
                    <input tabindex="1" type="checkbox" id="ppActive" name="ppActive" class="form-control  mediumCheckBox" data-bind="checked:ppActive" />
                </div>


            </div>



            <div class="row rowNoMargin entryPanel">

                <div class="col-sm-2 noMargin smallMargintop">
                    <label>
                        Start
                    </label>
                </div>
                <div class="col-md-2 noMargin smallMargintop">

                    <input type="text" placeholder="To Date(mm/dd/yyyy)" required title="From Date is required" name="FromDate"
                           class="form-control dateinput" id="FromDate" data-bind="FromDatePicker:{}, value:$parent.selectedFromDate" />
                </div>

                <div class="col-sm-2 noMargin smallMargintop">
                    <label>
                        End
                    </label>
                </div>
                <div class="col-md-2 noMargin smallMargintop">
                    <input type="text" placeholder="To Date(mm/dd/yyyy)" required title="To Date is required" name="ToDate"
                           class="form-control dateinput" id="ToDate" data-bind="ToDatePicker:{}, value:$parent.selectedToDate" />
                </div>

            </div>

            <div class="row rowNoMargin entryPanel">

                <div class="col-sm-2 noMargin smallMargintop">
                    <label>
                        Adults Price
                    </label>
                </div>
                <div class="col-md-2 noMargin smallMargintop">

                    <input type="text" name="ppAdults"
                           class="form-control numericTextbox" id="ppAdults" onkeypress="return OnlyPositiveNumeric(event)" maxlength="20" data-bind="value: ppAdults" />
                </div>

                <div class="col-sm-2 noMargin smallMargintop">
                    <label>
                        Max Adults
                    </label>
                </div>
                <div class="col-md-2 noMargin smallMargintop">
                    <input type="text" name="ppMaxAdults"
                           class="form-control numericTextbox" id="ppMaxAdults" onkeypress="return OnlyPositiveNumeric(event)" maxlength="2" data-bind="value: ppMaxAdults" />
                </div>

            </div>


            <div class="row rowNoMargin entryPanel">

                <div class="col-sm-2 noMargin smallMargintop">
                    <label>
                        Children Price
                    </label>
                </div>
                <div class="col-md-2 noMargin smallMargintop">

                    <input type="text" name="ppChildren"
                           class="form-control numericTextbox" id="ppChildren" onkeypress="return OnlyPositiveNumeric(event)" maxlength="20" data-bind="value: ppChildren" />
                </div>

                <div class="col-sm-2 noMargin smallMargintop">
                    <label>
                        Max Children
                    </label>
                </div>
                <div class="col-md-2 noMargin smallMargintop">
                    <input type="text" name="ppMaxChildren"
                           class="form-control numericTextbox" id="ppMaxChildren" onkeypress="return OnlyPositiveNumeric(event)" maxlength="2" data-bind="value: ppMaxChildren" />
                </div>

            </div>


            <div class="row rowNoMargin entryPanel">

                <div class="col-sm-2 noMargin smallMargintop">
                    <label>
                        Infants Price
                    </label>
                </div>
                <div class="col-md-2 noMargin smallMargintop">

                    <input type="text" name="ppInfants"
                           class="form-control numericTextbox" id="ppInfants" onkeypress="return OnlyPositiveNumeric(event)" maxlength="20" data-bind="value: ppInfants" />
                </div>

                <div class="col-sm-2 noMargin smallMargintop">
                    <label>
                        Max Infants
                    </label>
                </div>
                <div class="col-md-2 noMargin smallMargintop">
                    <input type="text" name="ppMaxInfants"
                           class="form-control numericTextbox" id="ppMaxInfants" onkeypress="return OnlyPositiveNumeric(event)" maxlength="2" data-bind="value: ppMaxInfants" />
                </div>

            </div>


            <div class="row rowNoMargin entryPanel">

                <div class="col-sm-2 noMargin smallMargintop">
                    <label>
                        Students Price
                    </label>
                </div>
                <div class="col-md-2 noMargin smallMargintop">

                    <input type="text" name="ppStudents"
                           class="form-control numericTextbox" id="ppStudents" onkeypress="return OnlyPositiveNumeric(event)" maxlength="20" data-bind="value: ppStudents" />
                </div>

                <div class="col-sm-2 noMargin smallMargintop">
                    <label>
                        Max Students
                    </label>
                </div>
                <div class="col-md-2 noMargin smallMargintop">
                    <input type="text" name="ppMaxStudents"
                           class="form-control numericTextbox" id="ppMaxStudents" onkeypress="return OnlyPositiveNumeric(event)" maxlength="2" data-bind="value: ppMaxStudents" />
                </div>

            </div>            

            <br />

            <div class="row rowNoMargin entryPanel">
                <div class="btn btn-primary " role="button" type="submit" data-bind="click: $parent.SaveRateClick">
                    Save
                </div>


                <div class="btn btn-danger" tabindex="21" role="button" data-bind="click: $parent.CancelRateClick">
                    Cancel
                </div>

            </div>

        </div>
            <!-----Grid------->
            <div class="dataGrid" style="margin-top:5px !important">
                <table>

                    <thead>
                        <tr>
                            <th style="width:5%" class="editButtonHeader">


                            </th>
                            <th style="width:5%" class="editButtonHeader">


                            </th>

                            <th>


                                <span> Description</span>

                            </th>

                            <th>
                                <span>Start</span>

                            </th>

                            <th>
                                <span>End</span>
                            </th>

                            <th style="width:8%">
                                <span>Adults</span>

                            </th>

                            <th style="width:8%">
                                <span>Children</span>

                            </th>


                            <th style="width:8%">
                                <span>Infants</span>

                            </th>


                            <th style="width:8%">
                                <span>Students</span>

                            </th>

                        </tr>
                    </thead>

                    <tbody data-bind="foreach: $root.RateServiceList">
                        <tr data-bind="click: function (data, event) { $parent.selectedRate(data) }, css: { rowEven: ($index() % 2 === 0), rowOdd: ($index() % 2 === 1), 'selectedRow': ppRateID() == $parent.selectedRate().ppRateID() }">

                            <td class="actioncolumn">


                                <i class="fa fa-pencil editButton" data-bind="click: function (data, event) { $parent.EditRate(data) }" />



                            </td>


                            <td class="actioncolumn">


                                <i class="fa fa-trash-o editButton " data-bind="click: function (data, event) { $parent.DeleteRateClick(data) }" />



                            </td>

                            <td data-bind="text: ppDescription"></td>

                            <td data-bind="text: UnFormatFrom"></td>

                            <td data-bind="text: UnFormatTo"></td>

                            <td data-bind="text: ppAdults"></td>
                            <td data-bind="text: ppChildren"></td>
                            <td data-bind="text: ppInfants"></td>
                            <td data-bind="text: ppStudents"></td>

                        </tr>

                    </tbody>

                </table>




            </div>
            <!----------->
        </div>
 


</div>