﻿<div class="col-md-12 col-xs-12 col-sm-12 noMarginright EntryPanelcss" data-bind="visible: isDetail" >
    <h4>Rooms Detail </h4>

    <!-----Grid------->
    <div class="dataGrid" style="margin-top:5px !important">
        <table>

            <thead>
                <tr>

                    <th>
                        <span>Date</span>
                    </th>

                    <th>
                        <span>Room</span>

                    </th>

                    <th>
                        <span>Adults</span>
                    </th>

                    <th>
                        <span>Children</span>

                    </th>

                    <th>
                        <span>Free</span>

                    </th>




                </tr>
            </thead>

            <tbody data-bind="foreach: ReservationRooms">
                <tr>



                    <td data-bind="text: ppDate"></td>

                    <td data-bind="text: ppRoom"></td>

                    <td data-bind="text: ppAdults"></td>

                    <td data-bind="text: ppChildren"></td>

                    <td data-bind="text: ppChildrenFree"></td>

                

                </tr>

            </tbody>

        </table>



    </div>

    <h4>Addons Included </h4>

    <!-----Grid------->
    <div class="dataGrid" style="margin-top:5px !important">
        <table>

            <thead>
                <tr>

                    <th>
                        <span>Addon</span>
                    </th>

                    <th>
                        <span>Quantity</span>

                    </th>


                </tr>
            </thead>

            <tbody data-bind="foreach: ReservationAddons">
                <tr>



                    <td data-bind="text: ppAddon"></td>

                    <td data-bind="text: ppQty"></td>
                </tr>

            </tbody>

        </table>





    </div>
    <!----------->

    <h4>Bank Log </h4>
    <!-----Grid------->
    <div class="dataGrid" style="margin-top:5px !important">
        <table>

            <thead>
                <tr>

                    <th>
                        <span>Response</span>
                    </th>

                    <th>
                        <span>Transaction Id</span>

                    </th>
                    <th>
                        <span>Amount</span>

                    </th>

                </tr>
            </thead>

            <tbody data-bind="foreach: ReservationLog">
                <tr>



                    <td data-bind="text: ppResponse"></td>

                    <td data-bind="text: ppTransactionID"></td>

                    <td data-bind="text: ppAmount"></td>

                </tr>

            </tbody>

        </table>





    </div>
    <!----------->
</div>