.dispatch-board-container.container {
  min-height: 500px;
  padding: 0 0 15px;
  max-width:100%;
  float:left;
}
.dispatch-board-outer-container{
	overflow-x:auto;
}

.toggle a{cursor:pointer;}

@media (max-width: 3000px) {
.dispatch-board-inner-container{
	width:100%;
}
}

.dispatch-board-container.container ul.nav-tabs{
	border:0;
}
.select-option-main {
  background: #e9e9e9 none repeat scroll 0 0;
  border-left: medium none #e0e0e0;
  border-right: 1px solid #e0e0e0;
  box-shadow:-1px -3px 6px -4px #bbb inset;
}
.dispatch-board-container.container ul.nav-tabs li a{
	background-color:transparent; 
	padding:11px 45px; 
	color:#b9b9b9; 
	font-weight:bold;
	font-size:15px;
}
.dispatch-board-container.container ul.nav-tabs li.active a {
  color: #000;
  font-weight: bold;
  background-color:transparent; 
}
.dispatch-board-container .select-content {
  background: #fff;
  border: 1px solid #e7e7e7;
}
.select-option-main .nav.nav-tabs li{
	background:url(/Images/images/separator.jpg) no-repeat 100% 50%;
}

.select-option-main .nav.nav-tabs li:last-child{
	background:none;
}
.tab-btn-section{
	padding:12px;
	border-bottom:1px solid #e7e7e7;
}
.tab-btn-section ul{
	padding:0;
	list-style:none;
	overflow:hidden;
	margin:0;
}
.tab-btn-section ul li {
  border: 1px solid #f7f7f7;
  float: left;
  line-height: 38px;
  margin: 0 6px 0 0;
  border-radius:3px;
}
.tab-btn-section ul li:hover {
  background: #f7f7f7;
  border: 1px solid #eee;
}
.tab-btn-section ul li a{
  width:100%;
  height:100%;
  display:block;
  text-decoration:none;
  color: #100509;
  box-shadow:0 0 3px 0 #ccc;
}
.tab-btn-section ul li.booked a {
  background: url("/Images/images/sprite-icon.png") no-repeat scroll 4px -1px;
  padding: 0 12px 0 35px;
}
.tab-btn-section ul li.pkp-reqsted a {
  background: url("/Images/images/sprite-icon.png") no-repeat scroll 5px -37px;
  padding: 0 12px 0 40px;
}
.tab-btn-section ul li.in-transit a {
  background: url("/Images/images/sprite-icon.png") no-repeat scroll 6px -73px;
  padding: 0 12px 0 40px;
}
.tab-btn-section ul li.out-for-delivery a {
  background: url("/Images/images/sprite-icon.png") no-repeat scroll 4px -114px;
  padding: 0 12px 0 37px;
}
.tab-btn-section ul li.delivered a {
  background: url("/Images/images/sprite-icon.png") no-repeat scroll 4px -157px;
  padding: 0 12px 0 38px;
}
.tab-btn-section ul li.print a {
  background: url("/Images/images/sprite-icon.png") no-repeat scroll 4px -198px;
  padding: 0 12px 0 38px;
}
.tab-btn-section ul li.email a {
  background: url("/Images/images/sprite-icon.png") no-repeat scroll 4px -238px;
  padding: 0 12px 0 38px;
}
.tab-toolbar-section{
	padding:12px 12px 8px;
	border-bottom: 1px solid #eee;
}
.tab-toolbar-section-left{
	width:760px;
	float:left;
	position:relative;
}
.tab-toolbar-section-left ul{
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
	z-index:2;
}
.tab-toolbar-section-left ul li{
	display:inline-block;
	padding:0 5px 0 0;
	line-height:31px;
	border-right:1px solid #e8e8e8;
}
/*.tab-toolbar-section-left ul li:first-child {
  margin: 0 9px 0 0;
}*/
.tab-toolbar-section-left .hidden-advanced-search ul li{
	border:0;
	line-height:10px;
}
.tab-toolbar-section-left ul li:last-child{
	padding:0;
	border-right:0;
}
.tab-toolbar-section-left ul li input[type="text"] {
  border: 1px solid #eee;
  border-radius: 3px;
  box-shadow: 0 1px 3px #eee inset;
  float: left;
  height: 32px;
  line-height: 32px;
  margin: 0 6px 0 0;
  padding: 0 7px;
  width: 173px;
}
.tab-toolbar-section-left ul li input[type="text"].dateinput {
  width: 173px;
}
.tab-toolbar-section-left ul li input[type="text"]:focus {
  border: 1px solid #89c6e5;
  box-shadow: 0 1px 3px #89c6e5 inset;
}
.tab-toolbar-section-left button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0;
  margin: 0;
  padding: 0 7px 0 7px;
  height: 30px;
}
.tab-toolbar-section-left ul li button span.fa.fa-search {
  color: #616161;
  font-size: 20px;
  font-weight: 100;
}
.tab-toolbar-section-left ul li a {
  color: #3d3d3d;
  text-decoration: underline;
  margin:0 10px;
}
.tab-toolbar-section-right{
	width:480px;
	float:right;
}
.tab-toolbar-section-right .page-size {
  border-right: 1px solid #efefef;
  float: left;
  margin: 0 10px 0 0;
  overflow: hidden;
  width: 152px;
}
.tab-toolbar-section-right .page-size p {
  color: #3d3d3d;
  float: left;
  line-height: 33px;
  margin: 0;
  padding: 0 10px 0 0;
}
.page-size-select-container {
  background: url("/Images/images/select-arrow.jpg") no-repeat scroll 100% 0;
  border: 1px solid #eee;
  border-radius: 3px;
  height: 34px;
  overflow: hidden;
  width: 73px;
}
.page-size-select-container select {
  background: none;
  border: 0;
  color: #3d3d3d;
  height: 34px;
  width: 90px;
  cursor:pointer;
}
.page-no{
  border-right: 1px solid #efefef;
  float: left;
  margin: 0 10px 0 0;
  overflow: hidden;
  width: 158px;
}
.tab-toolbar-section-right .page-no p {
  color: #3d3d3d;
  float: left;
  line-height: 33px;
  margin: 0;
  padding: 0 10px 0 0;
}
.tab-toolbar-section-right .page-no input[type="text"] {
  width:42px;
  height:34px;
  line-height:34px;
  border:1px solid #eee;
  box-shadow:0 2px 3px #eee inset;
  border-radius:3px;
  float:left;
  color:#3d3d3d;
  text-align:center;
  margin:0 6px 0 0;
}
.tab-toolbar-section-right .page-no button{
	width:34px;
	height:34px;
	line-height:34px;
	color:#fff;
	background:#909090;
	border:0;
	border-radius:3px;
	font-weight:bold;
	margin:0;
}
.shown {
  float: right;
  overflow: hidden;
  width:147px;
}
.shown .fa.fa-angle-left {
  background: #909090;
  border-radius: 3px;
  color: #fff;
  float: left;
  font-size: 23px;
  font-weight: bold;
  height: 34px;
  line-height: 34px;
  text-align: center;
  width: 34px;
  cursor:pointer;
}
.shown .fa.fa-angle-right {
  background: #909090;
  border-radius: 3px;
  color: #fff;
  float: right;
  font-size: 23px;
  font-weight: bold;
  height: 34px;
  line-height: 34px;
  text-align: center;
  width: 34px;
  cursor:pointer;
}
.shown > p {
  color: #3d3d3d;
  float: left;
  line-height: 34px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 77px;
}
body.nav-sm .tab-toolbar-section span.fa {
  display: block !important;
}
.dispatch-board-container h2 {
  color: #2a3f54;
  font-size: 21px;
  font-weight: bold;
  margin: 6px 0 19px;
}
table.dispatch-board-main-container.table{
	margin:0;
}
table.dispatch-board-main-container.table tr td p{
	padding:0 0 0 8px;
	margin:0;
	text-align:left;
}
table.dispatch-board-main-container table.table{
	margin:0;
}
table.dispatch-board-main-container thead tr th{
  background: #000;
  border-right: 1px solid #eee;
  color: #dedede;
  padding: 0 0 0 8px;
  text-align: left;
  vertical-align: middle;
  font-size:13px;
}
table.dispatch-board-main-container thead tr td{
  padding: 0;
}

table.dispatch-board-main-container tbody tr td{

  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-top: 0;
  color: #333333;
  padding: 0 0 0 0;
  text-align: left;
  vertical-align: middle;
  font-size:13px;
}
.dispatch-board-main-container tbody tr td table tr td {
  padding: 0 0 0 8px;
}
table.dispatch-board-main-container tbody tr.clickable.table-row-bg td {
  background: #1286c2;
  color:#fff;
}
table.dispatch-board-main-container thead tr th:last-child,
table.dispatch-board-main-container tbody tr td:last-child
{
  border-right: 0;
}
.dispatch-board-main-container ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align:left;
}
.dispatch-board-main-container ul li {
  display: inline-block;
  padding: 0 8px;
}
.dispatch-board-main-container ul li span.fa {
  color: #878787;
  font-size: 17px;
  display:block!important;
  cursor:pointer;
}
table.dispatch-board-main-container tbody tr.clickable.table-row-bg td ul li span.fa{
  color:#fff;
}
.hidden-details-container{
	padding:14px 14px 18px;
}
.three-box-section{
	padding:0 0 25px;
}
.box1{
	background:#f9f9f9;
	padding:18px 18px 13px;
	border:1px solid #eee;
	border-radius:4px;
	margin:0 14px 0 0;
	width:377px;
	position:relative;
	float:left;
}
ul.edit-save-section{
	position:absolute;
	right:10px;
	top:14px;
}
ul.edit-save-section li{
	padding:0 5px;
	float:left;
}
ul.edit-save-section li a span.edit-icon{
	background:url(/Images/images/edit-save-icon.png) no-repeat 0 0;
	width:18px;
	height:18px;
	display:block;
}
ul.edit-save-section li a:hover span.edit-icon{
	background:url(/Images/images/edit-save-icon.png) no-repeat 0 -21px;
}
ul.edit-save-section li a span.save-icon{
	background:url(/Images/images/edit-save-icon.png) no-repeat -33px 0;
	width:18px;
	height:18px;
	display:block;
}

ul.edit-save-section li a:hover span.save-icon{
	background:url(/Images/images/edit-save-icon.png) no-repeat -33px -21px;
}
ul.edit-save-section li a span.fa.fa-pencil {
  color: #c6c5c5;
  font-size:19px;
}
ul.edit-save-section li a:hover span.fa.fa-pencil {
  color: #000;
  text-decoration:none;
}
.box1 > h2 {
  font-size: 16px;
  margin: 0 0 12px;
  text-align: left;
  color:#494949;
  font-weight:400;
}
.box4{
	background:#f9f9f9;
	padding:18px 18px 13px;
	border:1px solid #eee;
	border-radius:4px;
	margin:0 14px 0 0;
	width:377px;
	float:left;
	position:relative;
}
.box4 > h2 {
  font-size: 16px;
  margin: 0 0 15px;
  text-align: left;
  color:#494949;
  font-weight:400;
}
.inner-box4{
	padding:0 0 5px;
}
.box4 .inner-box4 label {
  color: #7b7b7b;
  float: left;
  font-size: 14px;
  margin: 4px 8px 0 0;
  padding: 0;
  text-align: left;
  width: 120px;
  font-weight:normal;
}
.box4 .inner-box4 .input-field {
  color: #7b7b7b;
  float: left;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  width: 211px;
  font-weight:normal;
}
.box4 .inner-box4 .input-field textarea{
  height:139px;
  width: 211px;
  border:1px solid #e8e8e8;
  border-radius:3px;
  font-weight:normal;
  font-size:13px;
  max-width:211px;
  max-height:120px;
}
.box4 .inner-box4 .input-field textarea:focus {
  border: 1px solid #89c6e5;
  border-radius: 3px;
  box-shadow: 0 0 2px #89c6e5;
}
.box2{
	background:#f9f9f9;
	padding:18px 18px 13px;
	border:1px solid #eee;
	border-radius:4px;
	margin:0 14px 0 0;
	width:377px;
	float:left;
	position:relative;
}
.box2 > h2 {
  font-size: 16px;
  margin: 0 0 15px;
  text-align: left;
  color:#494949;
  font-weight:400;
}
.inner-box2{
	padding:0 0 5px;
}
.box2 .inner-box2 label {
  color: #7b7b7b;
  float: left;
  font-size: 14px;
  margin: 4px 8px 0 0;
  padding: 0;
  text-align: left;
  width: 123px;
  font-weight:normal;
}
.box2 .inner-box2 .input-field {
  color: #7b7b7b;
  float: left;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  width: 208px;
  font-weight:normal;
}
.box2 .inner-box2 .input-field > input[type="text"] {
  border: 1px solid #eee;
  border-radius: 3px;
  box-shadow: 0 0 4px #eee inset;
  height: 30px;
  line-height: 30px;
  width: 100%;
  margin:0 0 7px;
  padding:0 7px;
}
.box2 .inner-box2 .input-field > input[type="text"]:focus, 
.box2 .inner-box2 .inner-input-field .from:focus,
.box2 .inner-box2 .inner-input-field .to:focus
{
  border: 1px solid #89c6e5;
  border-radius: 3px;
}
.box2 .inner-box2 .inner-input-field .from {
  border: 1px solid #eee;
  border-radius: 3px;
  box-shadow: 0 0 3px #eee;
  float: left;
  height: 30px;
  line-height: 30px;
  width: 86px;
  padding:0 7px;
}
.box2 .inner-box2 .inner-input-field{
  overflow:hidden;
  padding:0 0 6px;
}
.box2 .inner-box2 .inner-input-field p {
  width:36px;
  line-height:30px;
  height:30px;
  text-align:center;
  float:left;
  font-weight:bold;
  margin:0;
}
.box2 .inner-box2 .inner-input-field .to {
  border: 1px solid #eee;
  border-radius: 3px;
  box-shadow: 0 0 3px #eee;
  float: right;
  height: 30px;
  line-height: 30px;
  width: 86px;
  padding:0 7px;
}

.box3{
	background:#f9f9f9;
	padding:18px;
	border:1px solid #eee;
	border-radius:4px;
	margin:0 14px 0 0;
	width:428px;
	float:left;
	position:relative;
}
.box3 > h2 {
  font-size: 16px;
  margin: 0 0 15px;
  text-align: left;
  color:#494949;
  font-weight:400;
}
.scan-details-left{
	width:212px;
	float:left;
}
.scan-details-left > textarea {
  border: 1px solid #eee;
  box-shadow: 0 0 3px #eee inset;
  height: 271px;
  width: 100%;
  max-height: 271px;
  max-width: 100%;
}
.scan-details-left > textarea:focus {
  border: 1px solid #89c6e5;
  border-radius: 3px;
}
.scan-details-right{
	width:160px;
	float:right;
}
.scan-details-right select {
	width:100%;
	height:160px;
	margin:0 0 14px;
	border:1px solid #eee;
	border-radius:3px;
}
.scan-details-right select:focus {
  border: 1px solid #89c6e5;
  border-radius: 3px;
}
.scan-details-right option {
  font-weight: normal;
  padding: 3px 7px;
}
.scan-details-right > ul {
  overflow: hidden;
  padding: 0 0 6px;
  text-align: left;
  width: 100%;
}
.scan-details-right ul li {
  float:left;
  width:100%;
  font-weight: normal;
  padding: 0 0 5px;
  display:block;
  color:#7b7b7b;
  font-size:14px;
}
.scan-details-right .btn.btn-primary {
  background: #8d8d8d;
  color: #fff;
  font-weight: bold;
  height: 34px;
  margin: 0;
  width: 100%;
  border:1px solid #8b8b8b;
}
.scan-details-right .btn.btn-primary:hover {
	background: #333;
}
.dispatch-board-main-container .inner-tab ul li {
  padding: 0;
}
.dispatch-board-container.container ul.nav-tabs li a {
	padding:6px 10px;
	min-width: 120px;
    text-align: center;
    font-weight: 400;
	margin:0;
}
.hidden-details-container .btn-group {
  clear: both;
  float: right;
  padding: 20px 0;
  text-align: right;
}
.hidden-details-container .btn-group .btn.btn-primary{
  margin:0 0 0 5px;
  border-radius:4px !important;
}
.inner-tab table th {
  background: #888;
  border-right: 1px solid #eee;
  color: #eee;
}
table.dispatch-board-main-container .inner-tab table tbody tr th {
	padding: 8px 6px;
	font-size: 13px;
	}
table.dispatch-board-main-container .inner-tab table tbody tr td {
  text-align:left;
  padding:6px;
  background:#fafafa;
  font-size: 13px;
}
.dispatch-board-container.container .inner-tab ul.nav-tabs li.active a {
  background: #222;
  color:#eee;
  font-weight:normal;
}
.dispatch-board-container.container .inner-tab ul.nav-tabs li a {
  margin-right:5px;
  background-color: #e9e9e9;
  border-radius:3px 3px 0 0;
}
.hidden-advanced-search {
  background: #333;
  left: -6px;
  position: absolute;
  top: -7px;
  width: 364px;
  z-index: 1;
  padding:52px 0 5px 0;
  display:none;
  box-shadow: -1px 4px 8px -3px #666;
}
.hidden-advanced-search-overlay {
  background: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  display:none;
}
.hidden-advanced-search li {
  border-bottom: 1px solid #555;
  display: block !important;
  padding: 5px 13px !important;
  width: 100%;
  font-weight:bold;
  color:#ccc;
}

.hidden-advanced-search label {
  color: #ccc;
  font-weight:normal;
}
.hidden-advanced-search input[type="radio"] {
  margin: 0 0 0 35px;
}
.hidden-advanced-search input[type="checkbox"] {
  margin: 0;
  position: relative;
  top: 1px;
}
.hidden-advanced-search p {
  display: inline-block;
  width: 49%;
  margin:0;
}

.select-option-main ul li img.select-option-active-arrow {
  bottom: -7px;
  left: 50px;
  position: absolute;
  top: auto;
  display:none;
}
.select-option-main ul li.active img.select-option-active-arrow {
  display: block;
}
.custom-booked {
  background: url("/Images/images/custom-status-icon.png") no-repeat scroll -6px -7px;
  display: block;
  float: left;
  height: 20px;
  margin: 0 5px 0 0;
  width: 18px;
}
.table-row-bg .custom-booked {
  background: url("/Images/images/custom-status-icon.png") no-repeat scroll -6px -28px;
}
.custom-pickup{
  background: url("/Images/images/custom-status-icon.png") no-repeat scroll -6px -65px;
  display: block;
  float: left;
  height: 16px;
  margin: 0 5px 0 0;
  width: 22px;
}
.table-row-bg .custom-pickup {
  background: url("/Images/images/custom-status-icon.png") no-repeat scroll -6px -82px;
}
.custom-intransit{
  background: url("/Images/images/custom-status-icon.png") no-repeat scroll -6px -117px;
  display: block;
  float: left;
  height: 16px;
  margin: 0 5px 0 0;
  width: 22px;
}
.table-row-bg .custom-intransit{
  background: url("/Images/images/custom-status-icon.png") no-repeat scroll -6px -134px;
}
.custom-out-of-delivery{
  background: url("/Images/images/custom-status-icon.png") no-repeat scroll -6px -172px;
  display: block;
  float: left;
  height: 18px;
  margin: 0 5px 0 0;
  width: 18px;
}
.table-row-bg .custom-out-of-delivery{
  background: url("/Images/images/custom-status-icon.png") no-repeat scroll -6px -191px;
}
.custom-delivered{
  background: url("/Images/images/custom-status-icon.png") no-repeat scroll -6px -234px;
  display: block;
  float: left;
  height: 20px;
  margin: 0 5px 0 0;
  width: 18px;
}
.table-row-bg .custom-delivered{
  background: url("/Images/images/custom-status-icon.png") no-repeat scroll -6px -255px;
}
.custom-print{
  background: url("/Images/images/custom-status-icon.png") no-repeat scroll -6px -297px;
  display: block;
  float: left;
  height: 20px;
  margin: 0 5px 0 0;
  width: 21px;
}
.table-row-bg .custom-print{
  background: url("/Images/images/custom-status-icon.png") no-repeat scroll -6px -318px;
}
.custom-email{
  background: url("/Images/images/custom-status-icon.png") no-repeat scroll -6px -358px;
  display: block;
  float: left;
  height: 16px;
  margin: 0 5px 0 0;
  width: 20px;
}
.table-row-bg .custom-email{
  background: url("/Images/images/custom-status-icon.png") no-repeat scroll -6px -375px;
}
.origin-terminal {
  padding: 0 0 15px;
}
.box1-terminal {
  line-height: 20px;
  overflow: hidden;
}
.box1-terminal > label {
  color: #7b7b7b;
  float: left;
  font-weight: normal;
  text-align: left;
  width: 65px;
}
.box1-terminal > span {
  float: left;
  color: #7b7b7b;
  line-height: inherit;
  text-align: left;
  width: 20px;
}
.box1-terminal > p {
  float: left;
  color: #7b7b7b;
  padding: 0 !important;
  width: 254px;
}

.shipment-entry-top {
  background: #e9e9e9;
  border-left: medium none #e0e0e0;
  border-right: 1px solid #e0e0e0;
  box-shadow: -1px -3px 6px -4px #bbb inset;
  padding:5px 13px;
  position:relative;
}
.shipment-entry-top label {
  color: #000;
  float: left;
  font-size: 15px;
  font-weight: 400;
  height: 32px;
  line-height: 32px;
  padding: 0 9px 0 0;
  margin:0;
}
.shipment-entry-top > input[type="text"] {
  border: 1px solid #dadada;
  border-radius: 3px;
  box-shadow: 0 0 2px #dadada inset;
  height: 32px;
  line-height: 32px;
  width: 36%;
  float:left;
  padding:0 6px;
}
.shipment-entry-top > button {
  background: none;
  border: 0 none;
  font-size: 18px;
  left: -35px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 2px;
  width: 30px;
  float:left;
}
.shipment-entry-top > button:hover {
  color:#000;
 }
.shipment-entry-top > p {
  color: #000;
  float: left;
  font-size: 15px;
  height: 32px;
  line-height: 32px;
  margin: 0 0 0 10px;
  padding: 0;
}
.shipment-entry-top > img.active-arrow {
  bottom: -7px;
  left: 23px;
  position: absolute;
}
.shipment-entry-middle {
  background: #fff;
  border: 1px solid #e7e7e7;
  padding: 12px;
}
.shipment-entry-middle-top{
  padding:0 0 1.4%;	
}
.shipment-entry-middle-top-left{
  width:63.8%;
  float:left;
}

.origin-destination-section{
  padding:0 0 2%;
}
.origin-destination-section h2,
.lading-instruction-section h2
{
  color: #494949;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 12px;
  text-align: left;
}
.origin-terminal-section{
  width:49%; 
  float:left;
  background: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 4px;
  padding:17px 17px 7px;
  position:relative;
}
.destination-terminal-section{
  width:49%; 
  float:right;
  background: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 4px;
  padding:17px 17px 7px;
  position:relative;
}
/*PANKAJ start*/
.origin-ContactInfo-section{
  width:100%; 
  float:left;
  background: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 4px;
  padding:10px 17px 10px;
  position:relative;
}
.origin-ContactInfo-link-down{
  display:block;
  height:100%;
  padding:10px 17px 10px;
  text-align:right;
  width:100%;
}

.origin-ContactInfo-link-up{
  float:left;
  height:100%;
  padding:10px 17px 10px;
  text-align:right;
  width:100%;
}
.origin-ContactInfo-link-up{
  display:none;
}
.origin-ContactInfo-section-Detail{
  width:100%; 
  /*float:right;*/
  background: #f9f9f9;
  /*border: 1px solid #eee;*/
      
  border-radius: 4px;
  /*padding:17px 17px 7px;*/
  position:relative;
}
.origin-ContactInfo-section-Detail{
  display:none;
}
.origin-ContactInfo-section .add-to-master{
  width:100%;
  height:30px;
  top:0;
  right:0;
  padding:0 15px 0 0;
}


.destination-contactInfo-section{
  width:100%; 
  float:right;
  background: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 4px;
  padding:10px 17px 10px;
  position:relative;
}

.destination-contactInfo-link-down{
  display:block;
  height:100%;
  padding:10px 17px 10px;
  text-align:right;
  width:100%;
}

.destination-contactInfo-link-up{
  float:left;
  height:100%;
  padding:10px 17px 10px;
  text-align:right;
  width:100%;
}
.destination-contactInfo-link-up{
  display:none;
}
.destination-contactInfo-section-Detail{
  width:100%; 
  /*float:right;*/
  background: #f9f9f9;
  /*border: 1px solid #eee;*/
      
  border-radius: 4px;
  /*padding:17px 17px 7px;*/
  position:relative;
}
.destination-contactInfo-section-Detail{
  display:none;
}
.destination-contactInfo-section .add-to-master{
  width:100%;
  height:30px;
  top:0;
  right:0;
  padding:0 15px 0 0;
}
/*PANKAJ end*/
.origin-destination-input-section {
  padding: 0 0 10px;
}
.origin-destination-input-section input {
  border: 1px solid #dadada;
  border-radius: 4px;
  height: 32px;
  line-height: 32px;
  width: 100%;
  box-shadow: 0 0 3px #eee inset;
  padding:0 6px;
}
.origin-destination-input-section-left {
  float: left;
  width: 49%;
}
.origin-destination-input-section-right {
  float: right;
  width: 49%;
}
.add-to-master {
  position: absolute;
  right: 18px;
  top: 19px;
}
.add-to-master label{
	font-weight:normal;
}
.add-to-master input[type="checkbox"]{
  position: relative;
  top: 1px;
}

/*kavit start*/

.destination-instruction-link-down{
  display:block;
  height:100%;
  padding:15px 0 0;
  text-align:right;
  width:100%;
}
.destination-instruction-link-up{
  float:left;
  height:100%;
  padding:15px 0 0;
  text-align:right;
  width:100%;
}
.destination-instruction-link-up{
  display:none;
}


/*kavit end*/
.lading-instruction-section{
  background: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 17px 17px 0;
  position: relative;
  width: 100%;
  margin:0 0 2%;
}
.lading-instruction-section textarea {
  border: 1px solid #dadada;
  border-radius: 4px;
  height: 92px;
  line-height: 20px;
  width: 100%;
  box-shadow: 0 0 3px #eee inset;
  padding:6px;
  margin:0 0 17px;
  display:none;
}
.lading-instruction-section .add-to-master{
  width:100%;
  height:46px;
  top:0;
  right:0;
  padding:0 15px 0 0;
}
.lading-instruction-link-down{
  display:block;
  height:100%;
  padding:15px 0 0;
  text-align:right;
  width:100%;
}
.lading-instruction-link-up{
  float:left;
  height:100%;
  padding:15px 0 0;
  text-align:right;
  width:100%;
}
.lading-instruction-link-up{
  display:none;
}
.shipment-entry-middle-top-right{
  width:35%;
  float:right;
  
}
.shipment-information{
  background: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 17px 17px 7px;
  position: relative;
  margin:0 0 4%;
}
.shipment-entry-middle-top-right h2{
  color: #494949;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 12px;
  text-align: left;
}
.shipment-info-label-sec {
  padding: 0 0 3px;
  width: 100%;
}
.shipment-info-label-sec .labelTxt {
  float: left;
  margin: 0 2% 0 0;
  width: 32%;
}
.shipment-info-label-sec .labelTxtEnd {
  float: left;
  margin: 0;
  width: 32%;
}
.shipment-info-input-sec {
  padding: 0 0 10px;
  width: 100%;
}
.shipment-info-input-sec select {
  border: 1px solid #dadada;
  border-radius: 4px;
  box-shadow: 0 0 3px #eee inset;
  height: 32px;
  line-height: 32px;
  width: 100%;
}
.shipment-info-input-sec input[type="text"] {
  border: 1px solid #dadada;
  border-radius: 4px;
  box-shadow: 0 0 3px #eee inset;
  height: 32px;
  line-height: 32px;
  width: 100%;
  padding:0 6px;
}
.input1 {
  float: left;
  margin: 0 2% 0 0;
  width: 32%;
}
.input2 {
  float: left;
  width: 32%;
  line-height:32px;
}
.input2 a{
  background:#8b8b8b;
  color:#fff;
  border-radius:4px;
  display:block;
  text-align:center;
  width:100%;
}
.input2 a:hover{
  background:#333;
}
.shipment-entry-middle-middle{
  padding:0 0 1.4%;	
}
.shipment-product-table-section{
  width:100%;
  background: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 4px;
  position: relative;
  margin:0 0 2%;
}
.shipment-product-table-section h2 {
  color: #494949;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 12px;
  text-align: left;
  padding:17px 17px 0;
}
.shipment-product-table{
  overflow:auto;
}
.shipment-product-table table{
  margin-bottom:5px;
}
.shipment-product-table-section tr th {
  background: #888;
  color: #eaeaea;
  font-size: 14px;
  font-weight: normal;
  height: 32px;
  vertical-align: middle;
}
.shipment-product-table-section tr td {
  font-size: 14px;
  font-weight: normal;
  padding: 4px 3px 0!important;
  text-align: center;
  vertical-align: middle !important;
  border:0 !important;
}
.shipment-product-table table.table table.table{
  background:none;
  margin:0;
}
.shipment-product-table table.table table.table tr td {
  height: auto;
  width: 60px;
  padding:0 6px 0 0 !important;
  border:0;
}
.shipment-product-table input[type="text"] {
  border: 1px solid #dadada;
  border-radius: 4px;
  box-shadow: 0 0 3px #eaeaea inset;
  height: 32px;
  line-height: 32px;
  padding:0 6px;
}
.shipment-product-table select {
  border: 1px solid #dadada;
  border-radius: 4px;
  box-shadow: 0 0 3px #eaeaea inset;
  height: 32px;
  line-height: 32px;
}
.shipment-product-table-section .fa.fa-plus {
  border: 1px solid #000;
  border-radius: 15px;
  font-weight: 300;
  height: 20px;
  line-height: 19px;
  padding: 0 0 0 1px;
  text-align: center;
  width: 20px;
}
.shipment-product-table-section a{
  text-decoration:underline;
  color:#000;
}
.shipment-accessorial-section{
  width:100%;
  background: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 4px;
  position: relative;
  height:250px;
  padding:17px;
  margin:0 0 4%;
}
.shipment-accessorial-section h2 {
  color: #494949;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 12px;
  padding: 0;
  text-align: left;
}
.shipment-accessorial-container {
  background: #fdfdfd;
  border: 1px solid #dadada;
  border-radius: 4px;
  height: 183px;
  overflow: auto;
}
.shipment-accessorial-container > ul {
  list-style: none;
  padding: 0;
}
.shipment-accessorial-container li {
  font-size: 13px;
  padding: 2px 7px 0;
}
.shipment-accessorial-container li input[type="checkbox"]{
  position:relative;
  top:1px;
}
.shipment-accessorial-container li label{
  font-weight:normal;
  margin:0;
}
.carrier-information {
  float: left;
  padding: 0 1% 0 0;
  width: 49.5%;
}
.carrier-information-box {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 17px;
  position: relative;
  width: 100%;
  margin:0 0 3.5%;
}
.carrier-information-box h2 {
  color: #494949;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 12px;
  padding: 0;
  text-align: left;
}
.carrier-info-input-section {
  padding: 0 0 10px;
}
.carrier-info-input-section select{
  width:100%;
  height:32px;
  line-height:32px;
  border:1px solid #dadada;
  box-shadow:0 0 3px #eee inset;
  border-radius:4px;
}
.carrier-info-input-section input[type="text"]{
  width:100%;
  height:32px;
  line-height:32px;
  border:1px solid #dadada;
  box-shadow:0 0 3px #eee inset;
  border-radius:4px;
  padding:0 6px;
}
.carrier-info-input-section-left {
  float: left;
  width: 49%;
}
.carrier-info-input-section-left input{
  margin:0 0 3px;
}
.carrier-info-input-section-right {
  float: right;
  width: 49%;
}
.carrier-info-input-section-right input{
  margin:0 0 3px;
}
.carrier-info-input-section-left > ul {
  list-style: none;
  padding: 0;
  text-align:right;
}
.carrier-info-input-section-left > ul li{
  display:inline-block;
  text-align:right;
}
.carrier-info-input-section-right > p {
  text-align: right;
  margin:0;
}
.carrier-info-input-section-right > p a {
  background: #8b8b8b none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  padding: 0px 10px;
  text-decoration: none;
  float:right;
  line-height:32px;
}
.carrier-info-input-section-right > p a:hover{
  background: #333;
}
.carrier-info-input-section-right > p a.carrier-cost-details{
  background: transparent;
  border-radius:0;
  color:#73879c;
  padding:0;
}

.carrier-info-input-section-left > p {
  margin:0;
}
.carrier-info-input-section-left ul li a {
  border: 1px solid #000;
  border-radius: 11px;
  display: block;
  height: 16px;
  line-height: 13px;
  text-align: center;
  width: 16px;
}
.carrier-cost-details-box{
	display:none;
}
.carrier-cost-details-box table.table tr th {
  background: #888 none repeat scroll 0 0;
  border: 0 none;
  color: #eaeaea;
  font-weight: normal;
  height: 32px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
.carrier-cost-details-box table.table tr td {
  border: 0 none;
  font-weight: normal;
  height: 32px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
.carrier-cost-details-box table.table {
  border:1px solid #eee;
  background:#fff;
  margin-bottom:10px;
}
.total-section > label {
  float: left;
  font-weight: normal;
  width: 28%;
  margin:0;
  height:28px;
  line-height:28px;
}
.total-section > p {
  float: right;
  font-weight: normal;
  width: 30%;
  text-align:right;
}
.total-section input[type="text"]{
	width:50px;
	height:28px;
	line-height:28px;
	border:1px solid #eaeaea;
	box-shadow:0 0 3px #eee inset;
	border-radius:3px;
	padding:0 6px;
}
.carrier-note-box{
  background: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 17px;
  position: relative;
  width: 100%;
  margin:0 0 12px;
}
.carrier-note-box .add-to-master{
  width:100%;
  height:46px;
  top:0;
  right:0;
}
.carrier-note-link-down{
 width:100%;
 height:100%;
 display:block;
 text-align:right;
 padding:15px 15px 0 0;
}
.carrier-note-link-up{
 width:100%;
 height:100%;
 text-align:right;
 padding:15px 15px 0 0;
 float:left;
}
.carrier-cost-details .fa.fa-caret-up{
  display:none;
}
.carrier-cost-details.selected .fa.fa-caret-up{
  display:inline-block;
}
.carrier-cost-details.selected .fa.fa-caret-down{
  display:none;
}
.carrier-note-box h2 {
  color: #494949;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: left;
}
.carrier-note-input-box{
  display:none;
  padding:12px 0 0;
}
.carrier-note-input-box textarea {
  border: 1px solid #dadada;
  border-radius: 4px;
  box-shadow: 0 0 3px #eee inset;
  height: 110px;
  width: 100%;
}

.customer-information{
  float: right;
  padding: 0;
  width: 49%;
}
.customer-information-box {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 17px;
  position: relative;
  width: 100%;
  margin:0 0 3.5%;
}
.customer-information-box h2 {
  color: #494949;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 12px;
  padding: 0;
  text-align: left;
}
.customer-info-input-section {
  padding: 0 0 10px;
}
.customer-info-input-section select{
  width:100%;
  height:32px;
  line-height:32px;
  border:1px solid #dadada;
  box-shadow:0 0 3px #eee inset;
  border-radius:4px;
}
.customer-info-input-section input[type="text"]{
  width:100%;
  height:32px;
  line-height:32px;
  border:1px solid #dadada;
  box-shadow:0 0 3px #eee inset;
  border-radius:4px;
  padding:0 6px;
}
.customer-info-input-section-left {
  float: left;
  width: 49%;
}
.customer-info-input-section-left input{
  margin:0 0 3px;
}
.customer-info-input-section-right {
  float: right;
  width: 49%;
}
.customer-info-input-section-right input{
  margin:0 0 3px;
}
.customer-info-input-section-left > ul {
  list-style: none;
  padding: 0;
  text-align:right;
}
.customer-info-input-section-left > ul li{
  display:inline-block;
  text-align:right;
}
.customer-info-input-section-right > p {
  text-align: right;
  margin:0;
}

.customer-info-input-section-right > p a {
  background: #8b8b8b none repeat scroll 0 0;
  border-radius: 4px;
  color: #fff;
  padding: 0px 10px;
  text-decoration: none;
  float:right;
  line-height:32px;
}
.customer-info-input-section-right > p a:hover{
  background: #333;
}
.customer-info-input-section-right > p a.customer-cost-details{
  background: transparent;
  border-radius:0;
  color:#73879c;
  padding:0;
}
.customer-cost-details .fa.fa-caret-up{
  display:none;
}
.customer-cost-details.selected .fa.fa-caret-up{
  display:inline-block;
}
.customer-cost-details.selected .fa.fa-caret-down{
  display:none;
}
.customer-info-input-section-left > p {
  margin:0;
}
.customer-info-input-section-left ul li a {
  border: 1px solid #000;
  border-radius: 11px;
  display: block;
  height: 16px;
  line-height: 13px;
  text-align: center;
  width: 16px;
}
.customer-cost-details-box{
	display:none;
}
.customer-cost-details-box table.table tr th {
  background: #888 none repeat scroll 0 0;

  border: 0 none;
  color: #eaeaea;
  font-weight: normal;
  height: 32px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
.customer-cost-details-box table.table tr td {
  border: 0 none;
  font-weight: normal;
  height: 32px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
.customer-cost-details-box table.table {
  border:1px solid #eee;
  background:#fff;
  margin-bottom:10px;
}
.customer-note-box{
  background: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 17px;
  position: relative;
  width: 100%;
  margin:0 0 12px;
}
.customer-note-box .add-to-master{
  width:100%;
  height:46px;
  top:0;
  right:0;
}
.customer-note-link-down{
 width:100%;
 height:100%;
 display:block;
 text-align:right;
 padding:15px 15px 0 0;
}
.customer-note-link-up{
 width:100%;
 height:100%;
 text-align:right;
 padding:15px 15px 0 0;
 float:left;
}
.customer-note-box h2 {
  color: #494949;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: left;
}
.customer-note-input-box{
  display:none;
  padding:12px 0 0;
}
.customer-note-input-box textarea.note {
  border: 1px solid #dadada;
  border-radius: 4px;
  box-shadow: 0 0 3px #eaeaea inset;
  height: 70px;
  width: 100%;
}
.customer-note-input-box > label {
  float: left;
  width: 60px;
  margin:0;
}
.customer-note-input-box > input[type="checkbox"] {
  float: left;
  margin: 0 6px 0 0;
  position:relative;
  top:2px;
}
.customer-note-input-box > p {
  float: left;
  margin: 0;
  padding: 0 19px 0 6px;
}
.customer-note-input-box p a {
  border: 1px solid #000;
  border-radius: 10px;
  display: block;
  height: 16px;
  line-height: 14px;
  text-align: center;
  width: 16px;
}
.customer-note-input-box > input[type="radio"] {
  margin: 0 4px 0 0;
  float:left;
  position:relative;
  top:2px;
}
.customer-note-input-box > textarea {
  border: 1px solid #dadada;
  border-radius: 4px;
  box-shadow: 0 0 3px #eaeaea inset;
  height: 85px;
  width: 100%;
}
.customer-note-input-box table.table {
  border: 1px solid #eaeaea;
  background:#fff;
  margin-bottom:0;
}
.customer-note-input-box table.table tr th {
  border: 0;
  background: #888;
  color: #eaeaea;
}

/*PANKAJ start*/
.bill-of-location-section{
  float: left;
  width: 100%;	
  background: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 10px 17px 0px;
  position: relative;
}
.bill-of-location-link-down{
  display:block;
  height:100%;
  padding:10px 17px 0px;
  text-align:right;
  width:100%;
}

.bill-of-location-link-up{
  float:left;
  height:100%;
  padding:10px 17px 0px;
  text-align:right;
  width:100%;
}
.bill-of-location-link-up{
  display:none;
}

.bill-of-location{
  display:none;
}
.bill-of-location-section .add-to-master{
  width:100%;
  height:30px;
  top:0;
  right:0;
  padding:10px 10px 0 0;
}
.bill-of-location{
  float: left;
  width: 100%;	
  background: #f9f9f9;
  /*border: 1px solid #eee;
  border-radius: 4px;
  padding: 17px;*/
  position: relative;
}
.bill-of-location-section h2{
  color: #494949;
  font-size: 16px;
  font-weight: 400;
  padding:10px 17px 10px;
  margin: 0 0 12px;
 
  text-align: left;
}
.bill-of-location .add-to-master {
  font-size: 12px;
  font-weight: bold;
  text-align:right;
  margin:0 0 12px

}
/*PANKAJ end*/


.location-input-section{
  padding:0 0 10px;	
}
.location-input-section input{
  width:100%;
  height:32px;
  line-height:32px;
  border:1px solid #eaeaea;
  box-shadow:0 0 3px #eee inset;
  border-radius:4px;
  padding:0 6px;
}
.location-input-section-left{
  width:49%;
  float:left;
}
.location-input-section-right{
  width:49%;
  float:right;
}
.shipment-entry-bottom {
  background: #fff;
  border-bottom: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  padding: 15px;
}
.shipment-entry-bottom ul {
  list-style: none;
  padding: 0;
  text-align: right;
}
.shipment-entry-bottom ul li{
  display:inline-block;
}
.shipment-entry-bottom ul li button {
  background: #1083bc;
  border: 1px solid #0374ac;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  height: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0 21px;
  text-transform: uppercase;
}
.shipment-entry-bottom ul li button:hover {
  background: #0374ac;
}
.carrier-note-link-up,.customer-note-link-up{
	display:none;
}

@media (max-width: 1900px) {
.dispatch-board-inner-container {
  width: 1900px;
}
}

@media (max-width: 1515px) {

.tab-toolbar-section-left {
  width: 700px;
}
}

@media (max-width: 1470px) {
.hidden-advanced-search {
   width: 312px;
}


.tab-toolbar-section-left button {
  padding: 0 5px 0 3px;
}


}

@media (max-width: 1324px) {

}

@media (max-width: 1455px) {
	
.tab-toolbar-section-left {
  float: none;
  margin: 0 0 13px;
  text-align: left;
  width: 100%;
  padding:10px 0 0;
  left: 9px;
}
.tab-toolbar-section {
  padding:0;
}
.tab-toolbar-section-right {
  background: #fafafa;
  border-top: 1px solid #eee;
  float: none;
  padding: 10px 14px;
  width: 100%;
}
.hidden-advanced-search {
  top: 0;
}
.shown {
  width: 137px;
}
.shown > p {
  width: 67px;
}

}


@media (max-width: 1205px) {
.origin-destination-section h2, .lading-instruction-section h2, .shipment-entry-middle-top-right h2, .shipment-product-table-section h2, .shipment-accessorial-section h2, .carrier-information-box h2, .customer-information-box h2, .bill-of-location h2, .carrier-note-box h2, .customer-note-box h2 {
  font-size: 12px;
  font-weight: bold;
}
.add-to-master {
  font-size: 12px;
  font-weight: bold;
  top: 12px;
}
.origin-terminal-section, .destination-terminal-section, .lading-instruction-section, .shipment-entry-middle-top-right, .shipment-product-table-section, .shipment-accessorial-section, .carrier-information-box, .customer-information-box, .bill-of-location, .carrier-note-box, .customer-note-box
{
  padding:10px;
}
.input2 a {
  font-size: 12px;
}

}

@media (max-width: 1110px) {
.shipment-entry-middle-top-left {
  float: none;
  padding: 0 0 12px;
  width: 100%;
}

.shipment-entry-middle-top-right {
  float: none;
  width: 100%;
}
.shipment-product-table-section {
  float: none;
  margin: 0 0 12px;
  width: 100%;
}
.shipment-accessorial-section {
  float: none;
  width: 100%;
}
.carrier-information , .customer-information, .bill-of-location{
  float: none;
  padding: 0;
  width: 100%;
}
.bill-of-location > h2 {
  padding: 12px 12px 0;
}
.shipment-product-table-section h2 {
  padding: 0 17px 11px;
}
.location-input-section {
  padding: 0 12px 10px;
}
}

@media (max-width: 1058px) {


.tab-btn-section {
  padding: 12px;
}
.dispatch-board-container h2 {
  margin: 6px 0 19px;
}
.shipment-product-table-section {
  height: 272px;
}
}

@media (max-width: 1326px) {
.top_nav .navbar-right {
  width: 58%;
}
}

@media (max-width: 1014px) {
.top_nav .navbar-right {
  width: 45%;
}
}
@media (max-width: 767px) {
.main_container .top_nav .top_nav_items .navbar-right {
  float: none;
  width: 100%;
}
.top_nav .nav_menu .top_nav_items .navbar-nav {
  margin: 7.5px 0;
}
.top_nav .top_head_area .toggle {
  background: #08618d none repeat scroll 0 0;
  margin: 0 0 16px;
  padding-bottom: 14px;
  padding-top: 14px;
  width: 100%;
}
.profile.floatleft {
  position: absolute;
  right: 0;
  top: 0;
  margin:0;
}
.floatleft.msglist {
  position: absolute;
  right: 144px;
  top: 5px;
}
.navbar-nav .open .dropdown-menu {
  left: -122px;
  position: absolute;
  right: auto;
}
.dropdown-menu::after {
  right: 51%;
}
.dropdown-menu::after {
  right: 41%;
}
.top_nav .navbar-right li.header-search {
  float: none;
  width: 100%;
}
.top_nav .navbar-right li.header-search ul {
  padding:0;
}
.header-search .input-group {
  width: 100%;
}
}

@media (max-width: 687px) {
.tab-btn-section ul li {
  float: none;
  margin: 0 6px 3px 0;
  width: 100%;
}
.tab-toolbar-section-left ul li {
  display: block;
  line-height: 20px;
  padding: 0;
  margin:0 0 10px;
  border:0;
}
.tab-toolbar-section-left ul li input[type="text"],
.tab-toolbar-section-left ul li input[type="text"].dateinput {
  float: none;
  margin: 0 6px 7px 0;
  width: 96%;
}
.tab-toolbar-section-left button {
  background: #eee;
  border-radius: 4px;
  border-style: none;
  border-width: 0;
  box-shadow: 0 0 4px #ddd inset;
  height: 30px;
  margin: 0;
  padding: 0 11px 0 7px;
  width: 96%;
}
.hidden-advanced-search {
  position:inherit;
  padding:0;
}
.origin-terminal-section{
  width:100%;
  float:none;
  margin:0 0 12px;
}
.destination-terminal-section{
  width:100%;
  float:none;
}

}

@media (max-width: 569px) {
/*.tab-toolbar-section-left ul li {
  display: block;
  line-height: 20px;
  padding: 0 14px;
  margin:0 0 10px;
}*/
.tab-toolbar-section-left ul li input[type="text"],
.tab-toolbar-section-left ul li input[type="text"].dateinput {
  width: 100%;
}
.tab-toolbar-section-left button {
  width: 100%;
}
.hidden-advanced-search {
  display: none;
  left: 0;
  padding: 10px 0 0;
  position: inherit;
  top: 0;
  width:100%;
  z-index: 1;
}
.tab-toolbar-section-left ul li {
  padding: 0;
}
.tab-toolbar-section-left {
  left: 4px;
  width: 98%;
}
}

@media (max-width: 530px) {
.tab-toolbar-section-right .page-size {
  border-right: 0 none;
  float: none;
  margin: 0 auto 10px;
  width: 132px;
}
.page-no {
  border-right: 0 none;
  float: none;
  margin: 0 auto 10px;
  overflow: hidden;
  width: 138px;
}
.shown {
  float: none;
  margin: 0 auto;
  overflow: hidden;
  width: 147px;
}
.shown > p {
  width: 77px;
}

}


@media (max-width: 420px) {
.dispatch-board-container.container ul.nav-tabs li a {
	min-width: 85px;
}
.select-option-main ul li img.select-option-active-arrow {
  left: 31px;
}
}

@media (max-width: 395px) {
.shipment-entry-top > input[type="text"] {
  width: 60%;
}
.shipment-entry-bottom ul li button {
  font-size: 12px;
  height: 32px;
  line-height: 32px;
  padding: 0 13px;
}
.input2 a {
  font-size: 8px;
  font-weight: bold;
}
}


@media (max-width: 330px) {
.carrier-info-input-section-left > p, .customer-info-input-section-left > p {
  font-size: 12px;
}
}