﻿<div class="col-md-12 col-xs-12 col-sm-12 noMarginright EntryPanelcss" data-bind="visible: isEditing" style="display:none;">


    <div class="row rowNoMargin" data-bind="css:{'divvisible': isShowErrorEdit(),'divhidden': !isShowErrorEdit()}">
        <div class="row clientErrorList alert alert-danger col-md-12" id="EntryDetailErrorBox" data-bind="click:function () {errorExpanderClick('EntryDetailErrorBox')}">
            <div class="errUpDownArrowDiv">
                <span class="fa fa-caret-down"></span>
                <span class="fa fa-caret-up"></span>
            </div>
            <div class="errorLabelfull">

                <ul data-bind="foreach: ErrorList">
                    <li data-bind="text: ErrorText"></li>
                </ul>

            </div>
        </div>
    </div>



    <div id="TabsDiv" style="width: 100%; background-color:white ">
        <ul class="noMargin tabAppMenu">
            <li class="carrierLink activePageMenu" id="GeneralInfoTab" data-bind="click: GeneralInfoClick"><a>General Info.</a>  </li>

            <li>|</li>
            <li class="carrierLink " id="DatesTab" data-bind="click: DatesClick"><a> Dates</a>  </li>

            <li>|</li>
            <li class="carrierLink " id="DiscountsTab" data-bind="click: DiscountsClick"><a> Discounts</a>  </li>

            <li>|</li>
            <li class="carrierLink " id="ExcepTab" data-bind="click: ExcepClick"><a> Exceptions</a>  </li>
        </ul>

    </div>



    <div id="GeneralInfoDiv" data-bind="with: SelectedRate()">


        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Code
                </label>
            </div>
            <div class="col-md-2 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppRateCode" name="ppRateCode" tabindex="2" placeholder="Enter the rate code" maxlength="5" data-bind="value: ppRateCode" />

            </div>


            <div class="col-md-1  smallMargintop">
                <label>
                    Active
                </label>


            </div>

            <div class="col-md-2 noMargin smallMargintop">
                <input tabindex="1" type="checkbox" id="ppEnabled" name="ppEnabled" class="form-control  mediumCheckBox" data-bind="checked:ppEnabled" />
            </div>


        </div>

        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Description
                </label>
            </div>
            <div class="col-md-8 noMargin smallMargintop">

                <input class="form-control " id="ppDescription" name="ppDescription" tabindex="3" maxlength="100" placeholder="Enter the rate description" data-bind="value: ppDescription"/>
            </div>

        </div>


        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Start
                </label>
            </div>
            <div class="col-md-2 noMargin smallMargintop">

                <input type="text" placeholder="To Date(mm/dd/yyyy)" required title="From Date is required" name="FromDate"
                       class="form-control dateinput" id="FromDate" data-bind="FromDatePicker:{}, value:$parent.selectedFromDate" />
            </div>

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    End
                </label>
            </div>
            <div class="col-md-2 noMargin smallMargintop">
                <input type="text" placeholder="To Date(mm/dd/yyyy)" required title="To Date is required" name="ToDate"
                       class="form-control dateinput" id="ToDate" data-bind="ToDatePicker:{}, value:$parent.selectedToDate" />
            </div>

        </div>


        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Min Stay
                </label>
            </div>
            <div class="col-md-2 noMargin smallMargintop">

                <input type="text"  name="ppMinLos"
                       class="form-control numericTextbox" id="ppMinLos"   onkeypress="return OnlyPositiveNumeric(event)"  maxlength="5" data-bind="value: ppMinLos" />
            </div>

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Max Stay
                </label>
            </div>
            <div class="col-md-2 noMargin smallMargintop">
                <input type="text"  name="ppMaxLos"
                       class="form-control numericTextbox" id="ppMaxLos"  onkeypress="return OnlyPositiveNumeric(event)"  maxlength="5" data-bind="value: ppMaxLos" />
            </div>

        </div>


        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Type
                </label>
            </div>
            <div class="col-md-2 noMargin smallMargintop">

                <select class="form-control " id="cbotype" name="cbotype" tabindex="0" data-bind="value: ppType ">
                    <option value="N">Normal</option>
                    <option value="P">Paquete</option>
                </select>

            </div>

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Free Nights
                </label>
            </div>
            <div class="col-md-2 noMargin smallMargintop">
                <input type="text" class="form-control numericTextbox" placeholder="Enter  order number" onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="5" data-bind="value: ppFreeNights" id="ppFreeNights" name="ppFreeNights" />

            </div>

        </div>


        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Details
                </label>
            </div>
            <div class="col-md-8 noMargin smallMargintop">

                <textarea cols="30" class="form-control " id="ppRateDetail" name="ppRateDetail" tabindex="3" maxlength="1000" rows="7" data-bind="value: ppRateDetail"></textarea>
            </div>

        </div>




        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Conditions
                </label>
            </div>
            <div class="col-md-8 noMargin smallMargintop">

                <textarea cols="30" class="form-control " id="ppConditions" name="ppConditions" tabindex="3" maxlength="1000" rows="7" data-bind="value: ppConditions"></textarea>
            </div>

        </div>


        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Order
                </label>
            </div>
            <div class="col-md-2 noMargin smallMargintop">

                <input type="text" name="ppMinLos"
                       class="form-control numericTextbox" id="ppRowOrder" onkeypress="return OnlyPositiveNumeric(event)" maxlength="5" data-bind="value: ppRowOrder" />
            </div>


        </div>


        <br />

        <div class="col-md-6  noMargin mediumMargintop">
            <div class="btn btn-primary " role="button" type="submit" data-bind="click: $parent.SaveClick">
                Save
            </div>


            <div class="btn btn-danger" tabindex="21" role="button" data-bind="click: $parent.CloseClick">
                Close
            </div>

        </div>

    </div>


    <div id="DatesDiv" style="background-color:white"  >
        <div id="DatesDetail" class="col-md-12 col-xs-12 col-sm-12 noMarginright" data-bind="visible: ShowGridDetailDetail">
            <!---------Toolbar------>
            <div class="row   commandbuttondiv">

                <div class="toolBox">                    

                    <div data-bind="click:RefreshClickDetail">                        
                        <i class="fa fa-refresh actionButton" aria-hidden="true"></i>
                        <span>Refresh</span>
                    </div>
                    <div data-bind="click:AddClickDetail">                        
                        <i class="fa fa-file-o actionButton" aria-hidden="true"></i>
                        <span>Add</span>
                    </div>
                    <div data-bind="click:DeleteClickDetail">                        
                        <i class="fa fa-trash-o actionButton" aria-hidden="true"></i>
                        <span>Delete </span>
                    </div>
                </div>

                <div class="pagerPanel">
                    <div>
                        <span>Page size</span>
                        <select data-bind="options:pageSizeOptionsDetail,value:selectedPageSizeDetail,event: { change:GetSelectedPageSizeDetail}"></select>
                    </div>

                    <div>
                        <span>Page no.</span>
                        <input type="text" name="page-number" value="" data-bind="value:pageNumberDetail,valueUpdate:'input',PagingwithEnterKey:GetSelectedPageDetail" />
                        <button data-bind="click:GetSelectedPageDetail">GO</button>
                    </div>

                    <div>
                        <span class="fa fa-angle-left" data-bind="click:BackwardpageClickDetail"></span>
                        <span data-bind="text:pageNoLabelDetail"></span>
                        <span class="fa fa-angle-right" data-bind="click:ForwardPageClickDetail"></span>
                    </div>
                </div>
            </div>


            <!---------------------->
            <!-----Grid------->
            <div class="dataGrid" style="margin-top:5px !important">
                <table>

                    <thead>
                        <tr>
                            <th style="width:5%" class="editButtonHeader">
                            </th>

                            <th style="width:6%" data-bind="click: function () { SetOrderByDetail('start_date') }">
                                <span>Start</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'start_date' == orderByDetail(), 'divhidden': 'start_date' != orderByDetail() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDetail(), 'divhidden': !isDownDetail() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDetail(), 'divhidden': !isUpDetail() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:6%" data-bind="click: function () { SetOrderByDetail('end_date') }">
                                <span>End</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'end_date' == orderByDetail(), 'divhidden': 'end_date' != orderByDetail() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDetail(), 'divhidden': !isDownDetail() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDetail(), 'divhidden': !isUpDetail() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:10%" data-bind="click: function () { SetOrderByDetail('ratedet_id') }">
                                <span>Room</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'ratedet_id' == orderByDetail(), 'divhidden': 'ratedet_id' != orderByDetail() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDetail(), 'divhidden': !isDownDetail() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDetail(), 'divhidden': !isUpDetail() }">
                                    </div>
                                </div>
                            </th>


                            <th style="width:4%" data-bind="click: function () { SetOrderByDetail('adult1') }">
                                <span> 1 Adult</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'adult1' == orderByDetail(), 'divhidden': 'adult1' != orderByDetail() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDetail(), 'divhidden': !isDownDetail() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDetail(), 'divhidden': !isUpDetail() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:4%" data-bind="click: function () { SetOrderByDetail('adult2') }">
                                <span> 2 Adult</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'adult2' == orderByDetail(), 'divhidden': 'adult2' != orderByDetail() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDetail(), 'divhidden': !isDownDetail() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDetail(), 'divhidden': !isUpDetail() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:4%" data-bind="click: function () { SetOrderByDetail('adult3') }">
                                <span> 3 Adult</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'adult3' == orderByDetail(), 'divhidden': 'adult3' != orderByDetail() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDetail(), 'divhidden': !isDownDetail() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDetail(), 'divhidden': !isUpDetail() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:4%" data-bind="click: function () { SetOrderByDetail('adult4') }">
                                <span> 4 Adult</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'adult4' == orderByDetail(), 'divhidden': 'adult4' != orderByDetail() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDetail(), 'divhidden': !isDownDetail() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDetail(), 'divhidden': !isUpDetail() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:4%" data-bind="click: function () { SetOrderByDetail('adult5') }">
                                <span> 5 Adult</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'adult5' == orderByDetail(), 'divhidden': 'adult5' != orderByDetail() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDetail(), 'divhidden': !isDownDetail() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDetail(), 'divhidden': !isUpDetail() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:4%" data-bind="click: function () { SetOrderByDetail('adult6') }">
                                <span> 6 Adult</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'adult6' == orderByDetail(), 'divhidden': 'adult6' != orderByDetail() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDetail(), 'divhidden': !isDownDetail() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDetail(), 'divhidden': !isUpDetail() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:4%" data-bind="click: function () { SetOrderByDetail('child') }">
                                <span> Children</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'child' == orderByDetail(), 'divhidden': 'child' != orderByDetail() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDetail(), 'divhidden': !isDownDetail() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDetail(), 'divhidden': !isUpDetail() }">
                                    </div>
                                </div>
                            </th>

                        </tr>
                    </thead>

                    <tbody data-bind="foreach: $root.RatesDetailList">
                        <tr data-bind="click: function (data, event) { $parent.SelectedDeatilRate(data) }, css: { rowEven: ($index() % 2 === 0), rowOdd: ($index() % 2 === 1), 'selectedRow': ppRateDet_id() == $parent.SelectedDeatilRate().ppRateDet_id() }">

                            <td class="actioncolumn">
                                <%--<img class="editButton" src="../../Images/Edit.png">--%>

                                <i class="fa fa-pencil editButton" data-bind="click: function (data, event) { $parent.RateEntryDetail(data) }" />



                            </td>

                            <td data-bind="text: FormatStartDate"></td>

                            <td data-bind="text: FormatEndDate"></td>

                            <td data-bind="text: ppRoomName"></td>


                            <td data-bind="text: ppAdult1"></td>
                            <td data-bind="text: ppAdult2"></td>
                            <td data-bind="text: ppAdult3"></td>
                            <td data-bind="text: ppAdult4"></td>
                            <td data-bind="text: ppAdult5"></td>
                            <td data-bind="text: ppAdult6"></td>
                            <td data-bind="text: ppChild"></td>
                        </tr>

                    </tbody>

                </table>




            </div>
            <!----------->


            <div class="btn btn-danger" tabindex="21" role="button" data-bind="click: CloseClick">
                Close
            </div>
        </div>

        <div class="smallMargintop col-md-22" id="RateDetailDiv" data-bind="visible: isEditingDetail">

            <!-- #include file="RatesDetailEntry.html" -->
        </div>

     </div>

    <div id="DiscountsDiv" style="display:none; background-color:white">

        <div id="DiscountDiscount" class="col-md-12 col-xs-12 col-sm-12 noMarginright" data-bind="visible: ShowGridDetailDisc">
            <!---------Toolbar------>
            <div class="row   commandbuttondiv">

                <div class="toolBox">                   
                    <div data-bind="click:RefreshClickDiscount">
                        <i class="fa fa-refresh actionButton" aria-hidden="true"></i>
                        <span>Refresh</span>
                    </div>
                    <div data-bind="click:AddClickDiscount">
                        <i class="fa fa-file-o actionButton" aria-hidden="true"></i>
                        <span>Add</span>
                    </div>
                    <div data-bind="click:DeleteClickDiscount">
                        <i class="fa fa-trash-o actionButton" aria-hidden="true"></i>
                        <span>Delete </span>
                    </div>
                </div>

                <div class="pagerPanel">
                    <div>
                        <span>Page size</span>
                        <select data-bind="options:pageSizeOptionsDiscount,value:selectedPageSizeDiscount,event: { change:GetSelectedPageSizeDiscount}"></select>
                    </div>

                    <div>
                        <span>Page no.</span>
                        <input type="text" name="page-number" value="" data-bind="value:pageNumberDiscount,valueUpdate:'input',PagingwithEnterKey:GetSelectedPageDiscount" />
                        <button data-bind="click:GetSelectedPageDiscount">GO</button>
                    </div>

                    <div>
                        <span class="fa fa-angle-left" data-bind="click:BackwardpageClickDiscount"></span>
                        <span data-bind="text:pageNoLabelDiscount"></span>
                        <span class="fa fa-angle-right" data-bind="click:ForwardPageClickDiscount"></span>
                    </div>
                </div>
            </div>
            <!---------------------->
            <!-----Grid------->
            <div class="dataGrid" style="margin-top:5px !important">
                <table>

                    <thead>
                        <tr>
                            <th style="width:5%" class="editButtonHeader">
                            </th>

                            <th style="width:6%" data-bind="click: function () { SetOrderByDiscount('dateFrom') }">
                                <span>Start</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'start_date' == orderByDiscount(), 'divhidden': 'start_date' != orderByDiscount() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDiscount(), 'divhidden': !isDownDiscount() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDiscount(), 'divhidden': !isUpDiscount() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:6%" data-bind="click: function () { SetOrderByDiscount('dateTo') }">
                                <span>End</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'end_date' == orderByDiscount(), 'divhidden': 'end_date' != orderByDiscount() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDiscount(), 'divhidden': !isDownDiscount() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDiscount(), 'divhidden': !isUpDiscount() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:10%" data-bind="click: function () { SetOrderByDiscount('type') }">
                                <span>Type</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'ratedet_id' == orderByDiscount(), 'divhidden': 'ratedet_id' != orderByDiscount() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDiscount(), 'divhidden': !isDownDiscount() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDiscount(), 'divhidden': !isUpDiscount() }">
                                    </div>
                                </div>
                            </th>


                            <th style="width:10%" data-bind="click: function () { SetOrderByDiscount('discount') }">
                                <span>Discount</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'ratedet_id' == orderByDiscount(), 'divhidden': 'ratedet_id' != orderByDiscount() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDiscount(), 'divhidden': !isDownDiscount() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDiscount(), 'divhidden': !isUpDiscount() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:4%" data-bind="click: function () { SetOrderByDiscount('disc1') }">
                                <span> 1 Night</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'adult1' == orderByDiscount(), 'divhidden': 'adult1' != orderByDiscount() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDiscount(), 'divhidden': !isDownDiscount() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDiscount(), 'divhidden': !isUpDiscount() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:4%" data-bind="click: function () { SetOrderByDiscount('disc2') }">
                                <span> 2 Nights</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'adult2' == orderByDiscount(), 'divhidden': 'adult2' != orderByDiscount() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDiscount(), 'divhidden': !isDownDiscount() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDiscount(), 'divhidden': !isUpDiscount() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:4%" data-bind="click: function () { SetOrderByDiscount('disc3') }">
                                <span> 3 Nights</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'adult3' == orderByDiscount(), 'divhidden': 'adult3' != orderByDiscount() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDiscount(), 'divhidden': !isDownDiscount() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDiscount(), 'divhidden': !isUpDiscount() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:4%" data-bind="click: function () { SetOrderByDiscount('disc4') }">
                                <span> 4 Nights</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'adult4' == orderByDiscount(), 'divhidden': 'adult4' != orderByDiscount() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDiscount(), 'divhidden': !isDownDiscount() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDiscount(), 'divhidden': !isUpDiscount() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:4%" data-bind="click: function () { SetOrderByDiscount('disc5') }">
                                <span> 5 Nights</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'adult5' == orderByDiscount(), 'divhidden': 'adult5' != orderByDiscount() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDiscount(), 'divhidden': !isDownDiscount() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDiscount(), 'divhidden': !isUpDiscount() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:4%" data-bind="click: function () { SetOrderByDiscount('disc6') }">
                                <span> 6 Nights</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'adult6' == orderByDiscount(), 'divhidden': 'adult6' != orderByDiscount() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDiscount(), 'divhidden': !isDownDiscount() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDiscount(), 'divhidden': !isUpDiscount() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:4%" data-bind="click: function () { SetOrderByDiscount('disc7') }">
                                <span> 7 Nights</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'child' == orderByDiscount(), 'divhidden': 'child' != orderByDiscount() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDiscount(), 'divhidden': !isDownDiscount() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDiscount(), 'divhidden': !isUpDiscount() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:4%" data-bind="click: function () { SetOrderByDiscount('disc8') }">
                                <span> 8 Nights</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'child' == orderByDiscount(), 'divhidden': 'child' != orderByDiscount() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDiscount(), 'divhidden': !isDownDiscount() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDiscount(), 'divhidden': !isUpDiscount() }">
                                    </div>
                                </div>
                            </th>

                        </tr>
                    </thead>

                    <tbody data-bind="foreach: $root.RatesDiscountList">
                        <tr data-bind="click: function (data, event) { $parent.SelectedDiscount(data) }, css: { rowEven: ($index() % 2 === 0), rowOdd: ($index() % 2 === 1), 'selectedRow': ppRowID() == $parent.SelectedDiscount().ppRowID() }">

                            <td class="actioncolumn">
                                <%--<img class="editButton" src="../../Images/Edit.png">--%>

                                <i class="fa fa-pencil editButton" data-bind="click: function (data, event) { $parent.EditRateDiscount(data) }" />



                            </td>

                            <td data-bind="text: FormatFrom"></td>

                            <td data-bind="text: FormatTo"></td>

                            <td data-bind="text: ppTypeDesc"></td>


                            <td data-bind="text: ppDiscount"></td>

                            <td data-bind="text: ppDisc1"></td>
                            <td data-bind="text: ppDisc2"></td>
                            <td data-bind="text: ppDisc3"></td>
                            <td data-bind="text: ppDisc4"></td>
                            <td data-bind="text: ppDisc5"></td>
                            <td data-bind="text: ppDisc6"></td>
                            <td data-bind="text: ppDisc7"></td>
                            <td data-bind="text: ppDisc8"></td>
                        </tr>

                    </tbody>

                </table>




            </div>
            <!----------->


            <div class="btn btn-danger" tabindex="21" role="button" data-bind="click: CloseClick">
                Close
            </div>
        </div>


        <div class="smallMargintop col-md-22" id="RateDiscDiv" data-bind="visible: isEditingDisc">
            
            <!-- #include file="RateDiscountEntry.html" -->
        </div>

    </div>

    <div id="ExcepDiv" style="display:none; background-color:white">

        <div id="DivExc" class="col-md-12 col-xs-12 col-sm-12 noMarginright"   data-bind="visible: ShowGridDetailExcep">
            <!---------Toolbar------>
            <div class="row   commandbuttondiv">

                <div class="toolBox">                   

                    <div data-bind="click:RefreshClickExc">
                        <i class="fa fa-refresh actionButton" aria-hidden="true"></i>
                        <span>Refresh</span>
                    </div>
                    <div data-bind="click:AddClickExc">
                        <i class="fa fa-file-o actionButton" aria-hidden="true"></i>
                        <span>Add</span>
                    </div>
                    <div data-bind="click:DeleteClickExc">
                        <i class="fa fa-trash-o actionButton" aria-hidden="true"></i>
                        <span>Delete </span>
                    </div>
                </div>

                <div class="pagerPanel">
                    <div>
                        <span>Page size</span>
                        <select data-bind="options:pageSizeOptionsExc,value:selectedPageSizeExc,event: { change:GetSelectedPageSizeExc}"></select>
                    </div>

                    <div>
                        <span>Page no.</span>
                        <input type="text" name="page-number" value="" data-bind="value:pageNumberExc,valueUpdate:'input',PagingwithEnterKey:GetSelectedPageExc" />
                        <button data-bind="click:GetSelectedPageExc">GO</button>
                    </div>

                    <div>
                        <span class="fa fa-angle-left" data-bind="click:BackwardpageClickExc"></span>
                        <span data-bind="text:pageNoLabelExc"></span>
                        <span class="fa fa-angle-right" data-bind="click:ForwardPageClickExc"></span>
                    </div>
                </div>
            </div>
            <!---------------------->
            <!-----Grid------->
            <div class="dataGrid" style="margin-top:5px !important">
                <table>

                    <thead>
                        <tr>
                            <th style="width:5%" class="editButtonHeader">
                            </th>

                            <th style="width:6%" data-bind="click: function () { SetOrderByExc('start_date') }">
                                <span>Start</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'start_date' == orderByExc(), 'divhidden': 'start_date' != orderByExc() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownExc(), 'divhidden': !isDownExc() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpExc(), 'divhidden': !isUpExc() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:6%" data-bind="click: function () { SetOrderByExc('end_date') }">
                                <span>End</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'end_date' == orderByExc(), 'divhidden': 'end_date' != orderByExc() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownExc(), 'divhidden': !isDownExc() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpExc(), 'divhidden': !isUpExc() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:10%" data-bind="click: function () { SetOrderByExc('rl.description') }">
                                <span>Room</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'description' == orderByExc(), 'divhidden': 'description' != orderByExc() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownExc(), 'divhidden': !isDownExc() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpExc(), 'divhidden': !isUpExc() }">
                                    </div>
                                </div>
                            </th>


                            <th style="width:4%" data-bind="click: function () { SetOrderByExc('adult1') }">
                                <span> 1 Adult</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'adult1' == orderByExc(), 'divhidden': 'adult1' != orderByExc() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownExc(), 'divhidden': !isDownExc() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpExc(), 'divhidden': !isUpExc() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:4%" data-bind="click: function () { SetOrderByExc('adult2') }">
                                <span> 2 Adults</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'adult2' == orderByExc(), 'divhidden': 'adult2' != orderByExc() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownExc(), 'divhidden': !isDownExc() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpExc(), 'divhidden': !isUpExc() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:4%" data-bind="click: function () { SetOrderByExc('adult3') }">
                                <span> 3 Adults</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'adult3' == orderByExc(), 'divhidden': 'adult3' != orderByExc() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownExc(), 'divhidden': !isDownExc() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpExc(), 'divhidden': !isUpExc() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:4%" data-bind="click: function () { SetOrderByExc('adult4') }">
                                <span> 4 Adults</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'adult4' == orderByExc(), 'divhidden': 'adult4' != orderByExc() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownExc(), 'divhidden': !isDownExc() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpExc(), 'divhidden': !isUpExc() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:4%" data-bind="click: function () { SetOrderByExc('adult5') }">
                                <span> 5 Adults</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'adult5' == orderByExc(), 'divhidden': 'adult5' != orderByExc() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownExc(), 'divhidden': !isDownExc() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpExc(), 'divhidden': !isUpExc() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:4%" data-bind="click: function () { SetOrderByExc('adult6') }">
                                <span> 6 Adults</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'adult6' == orderByExc(), 'divhidden': 'adult6' != orderByExc() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownExc(), 'divhidden': !isDownExc() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpExc(), 'divhidden': !isUpExc() }">
                                    </div>
                                </div>
                            </th>


                            <th style="width:4%" data-bind="click: function () { SetOrderByExc('child') }">
                                <span> Children</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'child' == orderByExc(), 'divhidden': 'child' != orderByExc() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownExc(), 'divhidden': !isDownExc() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpExc(), 'divhidden': !isUpExc() }">
                                    </div>
                                </div>
                            </th>

                        </tr>
                    </thead>

                    <tbody data-bind="foreach: $root.RatesExcList">
                        <tr data-bind="click: function (data, event) { $parent.SelectedExcRate(data) }, css: { rowEven: ($index() % 2 === 0), rowOdd: ($index() % 2 === 1), 'selectedRow': ppRowID() == $parent.SelectedExcRate().ppRowID() }">

                            <td class="actioncolumn">
                              
                                <i class="fa fa-pencil editButton" data-bind="click: function (data, event) { $parent.EditRateExc(data) }" />



                            </td>

                            <td data-bind="text: FormatStartDate"></td>

                            <td data-bind="text: FormatEndDate"></td>

                            <td data-bind="text: ppRoomName"></td>


                            <td data-bind="text: ppAdult1"></td>
                            <td data-bind="text: ppAdult2"></td>
                            <td data-bind="text: ppAdult3"></td>
                            <td data-bind="text: ppAdult4"></td>
                            <td data-bind="text: ppAdult5"></td>
                            <td data-bind="text: ppAdult6"></td>
                            <td data-bind="text: ppChild"></td>
                     
                        </tr>

                    </tbody>

                </table>




            </div>
            <!----------->


            <div class="btn btn-danger" tabindex="21" role="button" data-bind="click: CloseClick">
                Close
            </div>
        </div>

        <div class="smallMargintop col-md-22" id="RateExcepDiv" data-bind="visible: isEditingExcep">
            
            <!-- #include file="RateExcepEntry.html" -->
       
        </div>

    </div>


        <hr class="EndPage">


        <div id="dialog" title="Alert" style="display:none;">
            <div id="DialogAlertMessage" class="DialogAlertMessage"></div>
        </div>

    </div>
