﻿<div class="col-md-12 col-xs-12 col-sm-12 noMarginright EntryPanelcss">



    <div class="row rowNoMargin" data-bind="css:{'divvisible': isShowErrorEditDiscount(),'divhidden': !isShowErrorEditDiscount()}">
        <div class="row clientErrorList alert alert-danger col-md-12" id="EntryDiscountErrorBoxDiscount" data-bind="click:function () {errorExpanderClick('EntryDiscountErrorBoxDiscount')}">
            <div class="errUpDownArrowDiv">
                <span class="fa fa-caret-down"></span>
                <span class="fa fa-caret-up"></span>
            </div>
            <div class="errorLabelfull">

                <ul data-bind="foreach: ErrorListDiscount">
                    <li data-bind="text: ErrorText"></li>
                </ul>

            </div>
        </div>
    </div>

    <div id="RateDiscountDiv" data-bind="with: SelectedDiscount()">



        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Start
                </label>
            </div>
            <div class="col-md-3 noMargin smallMargintop">

                <input type="text" placeholder="To Date(mm/dd/yyyy)" required title="From Date is required" name="FromDateDiscount"
                       class="form-control dateinput" id="FromDateDiscount" data-bind="FromDatePicker:{}, value:$parent.selectedFromDateDiscount" />
            </div>

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    End
                </label>
            </div>
            <div class="col-md-3 noMargin smallMargintop">
                <input type="text" placeholder="To Date(mm/dd/yyyy)" required title="To Date is required" name="ToDateDiscount"
                       class="form-control dateinput" id="ToDateDiscount" data-bind="ToDatePicker:{}, value:$parent.selectedToDateDiscount" />
            </div>

        </div>

        <hr />

        <div class="row rowNoMargin entryPanel">

            <table class="table-responsive" style="width:40%">

                <tr>
                    <td valign="top">

                        <table cellspacing="5" cellpadding="10" border="1" class="table-responsive">

                            <tr>
                                <td style="text-align:center;font-weight: bold;font-size:12px">
                                   
                                    <label class="">General Discount</label>
                                    <input type="radio" id="chkGeneral" name="chkDiscounts" value="general"  data-bind="bsChecked: DiscTypeButton , checked: $parent.DiscountType "   autocomplete="off"    />
                                   

                           
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <input type="text" name="ppDiscount"
                                           class="form-control numericTextbox" id="ppDiscount" onkeypress="return OnlyPositiveNumeric(event)" maxlength="5" data-bind="value: ppDiscount" />
                                </td>
                             </tr>

     
                        </table>

                    </td>

                    <td valign="top">

                        <table cellspacing="5" cellpadding="10" border="1">

                            <tr>
                                <td colspan="2" style="text-align:center;font-weight: bold; ">

                                    <label class="">Discount Per Night</label>

                                    <input type="radio" id="chkNight" name="chkDiscounts" value="night"  data-bind="bsChecked: DiscTypeButton , checked: $parent.DiscountType  "   autocomplete="off"   />
                                
                                </td>
                            </tr>

  

                            <tr>
                                <td width="20%">
                                  1
                                </td>
                                <td>
                                    <input type="text" name="ppDisc1"
                                           class="form-control numericTextbox" id="ppDisc1" onkeypress="return OnlyPositiveNumeric(event)" maxlength="5" data-bind="value: ppDisc1" />
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    <input type="text" name="ppDisc2"
                                           class="form-control numericTextbox" id="ppDisc2" onkeypress="return OnlyPositiveNumeric(event)" maxlength="5" data-bind="value: ppDisc2" />
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    3
                                </td>
                                <td>
                                    <input type="text" name="ppDisc3"
                                           class="form-control numericTextbox" id="ppDisc3" onkeypress="return OnlyPositiveNumeric(event)" maxlength="5" data-bind="value: ppDisc3" />
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    4
                                </td>
                                <td>
                                    <input type="text" name="ppDisc4"
                                           class="form-control numericTextbox" id="ppDisc4" onkeypress="return OnlyPositiveNumeric(event)" maxlength="5" data-bind="value: ppDisc4" />
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    5
                                </td>
                                <td>
                                    <input type="text" name="ppDisc5"
                                           class="form-control numericTextbox" id="ppDisc5" onkeypress="return OnlyPositiveNumeric(event)" maxlength="5" data-bind="value: ppDisc5" />
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    6
                                </td>
                                <td>
                                    <input type="text" name="ppDisc6"
                                           class="form-control numericTextbox" id="ppDisc6" onkeypress="return OnlyPositiveNumeric(event)" maxlength="5" data-bind="value: ppDisc6" />
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    7
                                </td>
                                <td>
                                    <input type="text" name="ppDisc7"
                                           class="form-control numericTextbox" id="ppDisc7" onkeypress="return OnlyPositiveNumeric(event)" maxlength="5" data-bind="value: ppDisc7" />
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    8
                                </td>
                                <td>
                                    <input type="text" name="ppDisc8"
                                           class="form-control numericTextbox" id="ppDisc8" onkeypress="return OnlyPositiveNumeric(event)" maxlength="5" data-bind="value: ppDisc8" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </div>

        <br />



    </div>

    <div class="col-md-6  noMargin mediumMargintop">
        <div class="btn btn-primary " role="button" type="submit" data-bind="click: SaveClickDiscount">
            Save
        </div>


        <div class="btn btn-danger" tabindex="21" role="button" data-bind="click: CloseClickDiscount">
            Close
        </div>

    </div>

</div>
