﻿<div class="col-md-12 col-xs-12 col-sm-12 noMarginright EntryPanelcss" >



    <div class="row rowNoMargin" data-bind="css:{'divvisible': isShowErrorEditDetail(),'divhidden': !isShowErrorEditDetail()}">
        <div class="row clientErrorList alert alert-danger col-md-12" id="EntryDetailErrorBoxDetail" data-bind="click:function () {errorExpanderClick('EntryDetailErrorBoxDetail')}">
            <div class="errUpDownArrowDiv">
                <span class="fa fa-caret-down"></span>
                <span class="fa fa-caret-up"></span>
            </div>
            <div class="errorLabelfull">

                <ul data-bind="foreach: ErrorListDetail">
                    <li data-bind="text: ErrorText"></li>
                </ul>

            </div>
        </div>
    </div>

    <div id="RateDetailDiv" data-bind="with: SelectedDeatilRate()">


        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Room Type
                </label>
            </div>
            <div class="col-md-7 noMargin smallMargintop">
                <select class="form-control " id="cmbRoomType" name="cmbRoomType" tabindex="0" data-bind="options: $parent.RoomTypeList, optionsText: 'ppDescription', value: $parent.selectedRoomType"></select>

            </div>




        </div>


        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Start
                </label>
            </div>
            <div class="col-md-3 noMargin smallMargintop">

                <input type="text" placeholder="To Date(mm/dd/yyyy)" required title="From Date is required" name="FromDateDetail"
                       class="form-control dateinput" id="FromDateDetail" data-bind="FromDatePicker:{}, value:$parent.selectedFromDateDetail" />
            </div>

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    End
                </label>
            </div>
            <div class="col-md-3 noMargin smallMargintop">
                <input type="text" placeholder="To Date(mm/dd/yyyy)" required title="To Date is required" name="ToDateDetail"
                       class="form-control dateinput" id="ToDateDetail" data-bind="ToDatePicker:{}, value:$parent.selectedToDateDetail" />
            </div>

        </div>

        <hr />

        <div class="row rowNoMargin entryPanel">

            <table class="table-responsive"  style="width:80%">

                <tr>
                    <td>

                        <table cellspacing="5" cellpadding="10" border="1" class="table-responsive">

                            <tr>
                                <td colspan="3" style="text-align:center;font-weight: bold;font-size:16px">Adults</td>
                            </tr>

                            <tr>
                                <td style="width:20%;font-weight: bold; background-color: whitesmoke">Qty</td>
                                <td style="width:40%;font-weight: bold; background-color: whitesmoke">Week</td>
                                <td style="width:40%;font-weight: bold; background-color: whitesmoke">Weekend</td>
                            </tr>

                            <tr>
                                <td>1</td>

                                <td>
                                    <input type="text" name="ppAdult1"
                                           class="form-control numericTextbox" id="ppAdult1" onkeypress="return OnlyPositiveNumeric(event)" maxlength="25" data-bind="value: ppAdult1" />
                                </td>
                                <td>
                                    <input type="text" name="ppWAdult1"
                                           class="form-control numericTextbox" id="ppWAdult1" onkeypress="return OnlyPositiveNumeric(event)" maxlength="25" data-bind="value: ppWAdult1" />
                                </td>
                            </tr>

                            <tr>
                                <td>2</td>
                                <td>
                                    <input type="text" name="ppAdult2"
                                           class="form-control numericTextbox" id="ppAdult2" onkeypress="return OnlyPositiveNumeric(event)" maxlength="25" data-bind="value: ppAdult2" />
                                </td>
                                <td>
                                    <input type="text" name="ppWAdult2"
                                           class="form-control numericTextbox" id="ppWAdult2" onkeypress="return OnlyPositiveNumeric(event)" maxlength="25" data-bind="value: ppWAdult2" />
                                </td>
                            </tr>

                            <tr>
                                <td>3</td>
                                <td>
                                    <input type="text" name="ppAdult3"
                                           class="form-control numericTextbox" id="ppAdult3" onkeypress="return OnlyPositiveNumeric(event)" maxlength="25" data-bind="value: ppAdult3" />
                                </td>
                                <td>

                                    <input type="text" name="ppWAdult3"
                                           class="form-control numericTextbox" id="ppWAdult3" onkeypress="return OnlyPositiveNumeric(event)" maxlength="25" data-bind="value: ppWAdult3" />
                                </td>
                            </tr>

                            <tr>
                                <td>4</td>
                                <td>
                                    <input type="text" name="ppAdult4"
                                           class="form-control numericTextbox" id="ppAdult4" onkeypress="return OnlyPositiveNumeric(event)" maxlength="25" data-bind="value: ppAdult4" />
                                </td>
                                <td>
                                    <input type="text" name="ppWAdult4"
                                           class="form-control numericTextbox" id="ppWAdult4" onkeypress="return OnlyPositiveNumeric(event)" maxlength="25" data-bind="value: ppWAdult4" />
                                </td>
                            </tr>

                            <tr>
                                <td>5</td>
                                <td>
                                    <input type="text" name="ppAdult5"
                                           class="form-control numericTextbox" id="ppAdult5" onkeypress="return OnlyPositiveNumeric(event)" maxlength="25" data-bind="value: ppAdult5" />
                                </td>
                                <td>
                                    <input type="text" name="ppWAdult5"
                                           class="form-control numericTextbox" id="ppWAdult5" onkeypress="return OnlyPositiveNumeric(event)" maxlength="25" data-bind="value: ppWAdult5" />
                                </td>
                            </tr>

                            <tr>
                                <td>6</td>
                                <td>
                                    <input type="text" name="ppAdult6"
                                           class="form-control numericTextbox" id="ppAdult6" onkeypress="return OnlyPositiveNumeric(event)" maxlength="25" data-bind="value: ppAdult6" />
                                </td>
                                <td>

                                    <input type="text" name="ppWAdult6"
                                           class="form-control numericTextbox" id="ppWAdult6" onkeypress="return OnlyPositiveNumeric(event)" maxlength="25" data-bind="value: ppWAdult6" />
                                </td>
                            </tr>

                            <tr>
                                <td>7</td>
                                <td>
                                    <input type="text" name="ppAdult7"
                                           class="form-control numericTextbox" id="ppAdult7" onkeypress="return OnlyPositiveNumeric(event)" maxlength="25" data-bind="value: ppAdult7" />
                                </td>
                                <td>
                                    <input type="text" name="ppWAdult7"
                                           class="form-control numericTextbox" id="ppWAdult7" onkeypress="return OnlyPositiveNumeric(event)" maxlength="25" data-bind="value: ppWAdult7" />
                                </td>
                            </tr>

                            <tr>
                                <td>8</td>
                                <td>
                                    <input type="text" name="ppAdult8"
                                           class="form-control numericTextbox" id="ppAdult8" onkeypress="return OnlyPositiveNumeric(event)" maxlength="25" data-bind="value: ppAdult8" />
                                </td>
                                <td>
                                    <input type="text" name="ppWAdult8"
                                           class="form-control numericTextbox" id="ppWAdult8" onkeypress="return OnlyPositiveNumeric(event)" maxlength="25" data-bind="value: ppWAdult8" />
                                </td>
                            </tr>

                            <tr>
                                <td>9</td>
                                <td>
                                    <input type="text" name="ppAdult9"
                                           class="form-control numericTextbox" id="ppAdult9" onkeypress="return OnlyPositiveNumeric(event)" maxlength="25" data-bind="value: ppAdult9" />
                                </td>
                                <td>
                                    <input type="text" name="ppWAdult9"
                                           class="form-control numericTextbox" id="ppWAdult9" onkeypress="return OnlyPositiveNumeric(event)" maxlength="25" data-bind="value: ppWAdult9" />
                                </td>
                            </tr>

                            <tr>
                                <td>10</td>
                                <td>
                                    <input type="text" name="ppAdult10"
                                           class="form-control numericTextbox" id="ppAdult10" onkeypress="return OnlyPositiveNumeric(event)" maxlength="25" data-bind="value: ppAdult10" />
                                </td>
                                <td>
                                    <input type="text" name="ppWAdult10"
                                           class="form-control numericTextbox" id="ppWAdult10" onkeypress="return OnlyPositiveNumeric(event)" maxlength="25" data-bind="value: ppWAdult10" />
                                </td>
                            </tr>
                        </table>

                    </td>

                    <td valign="top">

                        <table cellspacing="5" cellpadding="10" border="1" class="table-responsive"  >

                            <tr>
                                <td colspan="3" style="text-align:center;font-weight: bold; font-size:16px ">Children</td>
                            </tr>

                            <tr>
                                <td style="font-weight: bold; background-color: whitesmoke">Week</td>
                                <td style="font-weight: bold; background-color: whitesmoke">Weekend</td>
                            </tr>

                            <tr>


                                <td>
                                    <input type="text" name="ppAdult1"
                                           class="form-control numericTextbox" id="ppChild" onkeypress="return OnlyPositiveNumeric(event)" maxlength="25" data-bind="value: ppChild" />
                                </td>
                                <td>
                                    <input type="text" name="ppWAdult1"
                                           class="form-control numericTextbox" id="ppWChild" onkeypress="return OnlyPositiveNumeric(event)" maxlength="25" data-bind="value: ppWChild" />
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>
            </table>

        </div>

            <br />

            <div class="col-md-6  noMargin mediumMargintop">
                <div class="btn btn-primary " role="button" type="submit" data-bind="click: $parent.SaveClickDetail">
                    Save
                </div>


                <div class="btn btn-danger" tabindex="21" role="button" data-bind="click: $parent.CloseClickDetail">
                    Close
                </div>

            </div>

        </div>

</div>
