﻿<%@ Page Title="" Language="VB" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewPage" %>

<asp:Content ID="General" ContentPlaceHolderID="TitleContent" runat="server">
General
</asp:Content>


<asp:Content ID="GeneralContent" ContentPlaceHolderID="MainContent" runat="server">


</asp:Content>

