﻿<div class="col-md-12 col-xs-12 col-sm-12 noMarginright EntryPanelcss" data-bind="visible: isEditing" style="display:none;">


    <div class="row rowNoMargin" data-bind="css:{'divvisible': isShowErrorEdit(),'divhidden': !isShowErrorEdit()}">
        <div class="row clientErrorList alert alert-danger col-md-12" id="EntryDetailErrorBox" data-bind="click:function () {errorExpanderClick('EntryDetailErrorBox')}">
            <div class="errUpDownArrowDiv">
                <span class="fa fa-caret-down"></span>
                <span class="fa fa-caret-up"></span>
            </div>
            <div class="errorLabelfull">

                <ul data-bind="foreach: ErrorList">
                    <li data-bind="text: ErrorText"></li>
                </ul>

            </div>
        </div>
    </div>



    <div id="TabsDiv" style="width: 100%; background-color:white ">
        <ul class="noMargin tabAppMenu">
            <li class="carrierLink activePageMenu" id="GeneralInfoTab" data-bind="click: GeneralInfoClick"><a>General Info.</a>  </li>

            <li>|</li>
            <li class="carrierLink " id="ContractsTab" data-bind="click: ContractsClick"><a> Contracts</a>  </li> 
            <li>|</li>
            <li class="carrierLink " id="PromosTab" data-bind="click: PromosClick"><a> Promotional Codes</a>  </li>           
        </ul>

    </div>



    <div id="GeneralInfoDiv" data-bind="with: SelectedAgency()">


        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Name
                </label>
            </div>
            <div class="col-md-8 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppAgencyName" name="ppAgencyName" tabindex="2" placeholder="Enter the name" maxlength="100" data-bind="value: ppAgencyName" />

            </div>            
        </div>

        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Type
                </label>
            </div>           

            <div class="col-md-7 noMargin smallMargintop">
                <select class="form-control " id="cmbAgencyType" name="cmbAgencyType" tabindex="0" data-bind="options: $parent.AgencyTypeList, optionsText: 'ppTypeName', value: $parent.selectedAgencyType"></select>

            </div>
        </div>

        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Country
                </label>
            </div>
            <div class="col-md-7 noMargin smallMargintop">
                <!--<select name="ddlCountryId" class="selectpicker form-control" id="ddlCountryId" data-live-search="true"></select>-->
                <select class="form-control" id="ddlCountryId" name="ddlCountryId" tabindex="0" data-bind="options: $parent.CountryList, optionsText: 'ppName', value: $parent.selectedCountry"></select>
            </div>

        </div>

        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Province
                </label>
            </div>
            <div class="col-md-8 noMargin smallMargintop">
                <input class="form-control " id="ppProvince" name="ppProvince" tabindex="3" maxlength="100" placeholder="Enter the province" data-bind="value: ppProvince"/>
            </div>
        </div>

        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Canton
                </label>
            </div>
            <div class="col-md-8 noMargin smallMargintop">
                <input class="form-control " id="ppCanton" name="ppCanton" tabindex="3" maxlength="100" placeholder="Enter the canton" data-bind="value: ppCanton" />
            </div>
        </div>

        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    District
                </label>
            </div>
            <div class="col-md-8 noMargin smallMargintop">
                <input class="form-control " id="ppDistrict" name="ppDistrict" tabindex="3" maxlength="100" placeholder="Enter the district" data-bind="value: ppDistrict" />
            </div>
        </div>

        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Address
                </label>
            </div>
            <div class="col-md-8 noMargin smallMargintop">
                <textarea cols="30" class="form-control " id="ppAddress" name="ppAddress" tabindex="3" maxlength="250" rows="7" data-bind="value: ppAddress"></textarea>
            </div>
        </div>

        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Phone
                </label>
            </div>
            <div class="col-md-8 noMargin smallMargintop">
                <input class="form-control " id="ppPhone" name="ppPhone" tabindex="3" maxlength="50" placeholder="Enter the phone" data-bind="value: ppPhone" />
            </div>
        </div>

        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Notification Emails
                </label>
            </div>
            <div class="col-md-8 noMargin smallMargintop">
                <input class="form-control " id="ppNotificationEmailReservations" name="ppNotificationEmailReservations" title="Enter notification emails, separated by ," tabindex="3" maxlength="250" placeholder="Notification emails, separated by ," data-bind="value: ppNotificationEmailReservations" />
            </div>
        </div>

        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-12 noMargin smallMargintop">
                <hr />
            </div>            
        </div>

        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-12 noMargin smallMargintop">               
                <h4>Main contact information</h4>               
            </div>
        </div>

        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Name
                </label>
            </div>
            <div class="col-md-8 noMargin smallMargintop">
                <input class="form-control " id="ppContactName" name="ppContactName" tabindex="3" maxlength="100" placeholder="Enter the contact name" data-bind="value: ppContactName" />
            </div>
        </div>

        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Occupation
                </label>
            </div>
            <div class="col-md-8 noMargin smallMargintop">
                <input class="form-control " id="ppOccupation" name="ppOccupation" tabindex="3" maxlength="100" placeholder="Enter the contact occupation" data-bind="value: ppContactOccupation" />
            </div>
        </div>

        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Email
                </label>
            </div>
            <div class="col-md-8 noMargin smallMargintop">
                <input class="form-control " id="ppContactEmail" name="ppContactEmail" tabindex="3" maxlength="50" placeholder="Enter the contact email" data-bind="value: ppContactEmail" />
            </div>
        </div>

        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Office phone
                </label>
            </div>
            <div class="col-md-8 noMargin smallMargintop">
                <input class="form-control " id="ppOfficePhone" name="ppOfficePhone" tabindex="3" maxlength="50" placeholder="Enter the contact office phone" data-bind="value: ppContactOfficePhone" />
            </div>
        </div>

        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Mobile phone
                </label>
            </div>
            <div class="col-md-8 noMargin smallMargintop">
                <input class="form-control " id="ppMobilePhone" name="ppMobilePhone" tabindex="3" maxlength="50" placeholder="Enter the contact mobile phone" data-bind="value: ppContactMobilePhone" />
            </div>
        </div>

        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-12 noMargin smallMargintop">
                <hr />
            </div>
        </div>    


        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-12 noMargin smallMargintop">
                <h4>Credit Card information</h4>
            </div>
        </div>


        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Number
                </label>
            </div>
            <div class="col-md-5 noMargin smallMargintop">
                <input class="form-control " id="NumTarjeta" name="NumTarjeta" tabindex="3" maxlength="50" placeholder="Enter the credit card number" data-bind="value: NumTarjeta" />
            </div>
        </div>



        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Exp. Date
                </label>
            </div>
            <div class="col-md-5 noMargin smallMargintop">
                <input class="form-control " id="FecVencimiento" name="FecVencimiento" tabindex="3" maxlength="50" placeholder="Enter the expiration Date (MM/YYYY)" data-bind="value: FecVencimiento" />
            </div>
        </div>

        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                   Secure Code
                </label>
            </div>
            <div class="col-md-5 noMargin smallMargintop">
                <input class="form-control " id="CodSeguridad" name="CodSeguridad" tabindex="3" maxlength="50" placeholder="Enter the security code" data-bind="value: CodSeguridad" />
            </div>
        </div>


        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Type
                </label>
            </div>
            <div class="col-md-5 noMargin smallMargintop">

                <input class="form-control " id="TipoTarjeta" name="TipoTarjeta" tabindex="3" maxlength="50"  data-bind="value: TipoTarjeta" placeholder="Enter the card type (Visa, Mastercard, American Express, ...)"/>
            </div>
        </div>

        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-12 noMargin smallMargintop">
                <hr />
            </div>
        </div>

        <div class="row rowNoMargin entryPanel">
            <div class="col-md-2 noMargin smallMargintop">
                <label>
                    Active
                </label>
            </div>
            <div class="col-md-1 noMargin smallMargintop">
                <input tabindex="1" type="checkbox" id="ppActive" name="ppActive" class="form-control  mediumCheckBox" data-bind="checked:ppActive" />
            </div>

            <div class="col-md-2 noMargin smallMargintop">
                <label>
                    Credit available
                </label>
            </div>
            <div class="col-md-1 noMargin smallMargintop">
                <input tabindex="1" type="checkbox" id="ppAvailableCredit" name="ppAvailableCredit" class="form-control  mediumCheckBox" data-bind="checked:ppAvailableCredit" />
            </div>
        </div>  
        
        
                  

        <br />

        <div class="col-md-6  noMargin mediumMargintop">
            <div class="btn btn-primary " role="button" type="submit" data-bind="click: $parent.SaveClick">
                Save
            </div>


            <div class="btn btn-danger" tabindex="21" role="button" data-bind="click: $parent.CloseClick">
                Close
            </div>

        </div>        

    </div>    

    <div id="ContractsDiv" style="background-color:white"  >
        <div id="ContractsDetail" class="col-md-12 col-xs-12 col-sm-12 noMarginright" data-bind="visible: ShowGridDetailDetail">
            <!---------Toolbar------>
            <div class="row   commandbuttondiv">

                <div class="toolBox">                    

                    <div data-bind="click:RefreshClickDetail">                        
                        <i class="fa fa-refresh actionButton" aria-hidden="true"></i>
                        <span>Refresh</span>
                    </div>
                    <div data-bind="click:AddClickDetail">                        
                        <i class="fa fa-file-o actionButton" aria-hidden="true"></i>
                        <span>Add</span>
                    </div>
                    <div data-bind="click:DeleteClickDetail">                        
                        <i class="fa fa-trash-o actionButton" aria-hidden="true"></i>
                        <span>Delete </span>
                    </div>
                </div>

                <div class="pagerPanel">
                    <div>
                        <span>Page size</span>
                        <select data-bind="options:pageSizeOptionsDetail,value:selectedPageSizeDetail,event: { change:GetSelectedPageSizeDetail}"></select>
                    </div>

                    <div>
                        <span>Page no.</span>
                        <input type="text" name="page-number" value="" data-bind="value:pageNumberDetail,valueUpdate:'input',PagingwithEnterKey:GetSelectedPageDetail" />
                        <button data-bind="click:GetSelectedPageDetail">GO</button>
                    </div>

                    <div>
                        <span class="fa fa-angle-left" data-bind="click:BackwardpageClickDetail"></span>
                        <span data-bind="text:pageNoLabelDetail"></span>
                        <span class="fa fa-angle-right" data-bind="click:ForwardPageClickDetail"></span>
                    </div>
                </div>
            </div>


            <!---------------------->
            <!-----Grid------->
            <div class="dataGrid" style="margin-top:5px !important">
                <table>

                    <thead>
                        <tr>
                            <th style="width:5%" class="editButtonHeader">
                            </th>

                            <th style="width:10%" data-bind="click: function () { SetOrderByDetail('agency_contract_code') }">
                                <span>Code</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'agency_contract_code' == orderByDetail(), 'divhidden': 'agency_contract_code' != orderByDetail() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDetail(), 'divhidden': !isDownDetail() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDetail(), 'divhidden': !isUpDetail() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:10%" data-bind="click: function () { SetOrderByDetail('start_date') }">
                                <span>Start</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'start_date' == orderByDetail(), 'divhidden': 'start_date' != orderByDetail() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDetail(), 'divhidden': !isDownDetail() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDetail(), 'divhidden': !isUpDetail() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:10%" data-bind="click: function () { SetOrderByDetail('end_date') }">
                                <span>End</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'end_date' == orderByDetail(), 'divhidden': 'end_date' != orderByDetail() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDetail(), 'divhidden': !isDownDetail() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDetail(), 'divhidden': !isUpDetail() }">
                                    </div>
                                </div>
                            </th> 
                            
                            <th data-bind="click: function () { SetOrderByDetail('notes') }">
                                <span>Notes</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'notes' == orderByDetail(), 'divhidden': 'notes' != orderByDetail() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDetail(), 'divhidden': !isDownDetail() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDetail(), 'divhidden': !isUpDetail() }">
                                    </div>
                                </div>
                            </th>                                

                        </tr>
                    </thead>

                    <tbody data-bind="foreach: $root.ContractDetailList">
                        <tr data-bind="click: function (data, event) { $parent.SelectedAgencyContract(data) }, css: { rowEven: ($index() % 2 === 0), rowOdd: ($index() % 2 === 1), 'selectedRow': ppAgencyContractCode() == $parent.SelectedAgencyContract().ppAgencyContractCode() }">

                            <td class="actioncolumn">
                                <%--<img class="editButton" src="../../Images/Edit.png">--%>

                                <i class="fa fa-pencil editButton" data-bind="click: function (data, event) { $parent.ContractEntryDetail(data) }" />



                            </td>

                            <td data-bind="text: ppAgencyContractCode"></td>

                            <td data-bind="text: FormatStartDate"></td>

                            <td data-bind="text: FormatEndDate"></td>

                            <td data-bind="text: ppNotes"></td>
                        </tr>

                    </tbody>

                </table>




            </div>
            <!----------->

            <br />
            <div class="btn btn-danger" tabindex="21" role="button" data-bind="click: CloseClick">
                Close
            </div>
        </div>

        <div class="smallMargintop col-md-22" id="ContractDetailDiv" data-bind="visible: isEditingDetail">

            <!-- #include file="ContractsDetailEntry.html" -->
        </div>

     </div>  
    
    <div id="PromosDiv" style="background-color:white">

        <div id="NoPromoCodesSection" class="col-sm-12" style="display:none;">
            <br />
            <label>There are no promotional codes available.</label>
        </div>

        <!-- Promotional Code dropdownlist -->
        <div id="PromoCodes" data-bind="with: selectedPromoCode()">
            <div class="row rowNoMargin entryPanel">
                <div class="col-sm-12 noMargin smallMargintop">
                    <hr />
                </div>
            </div>

            <div class="row rowNoMargin entryPanel">
                <div class="col-sm-12 noMargin smallMargintop">
                    <h4>Promotional Codes</h4>
                </div>
            </div>

            <div class="row rowNoMargin entryPanel">

                <div class="col-sm-1 noMargin smallMargintop">
                    <label>
                        Code
                    </label>
                </div>
                <div class="col-md-7 noMargin smallMargintop">
                    <!--<select class="form-control" id="ddlPromoCode" name="ddlPromoCode" tabindex="0" data-bind="options: $parent.PromoCodeList, optionsText: 'ppPromoCode', optionsValue: 'ppPromoID'"></select>-->
                    <select class="form-control" id="ddlPromoCode" name="ddlPromoCode" tabindex="0"></select>
                </div>

            </div>

            <br />

            <div id="PromoInfoSection" style="display:none;" class="PromoCodeItem">
                <div class="row rowNoMargin entryPanel">
                    <div class="col-sm-2 noMargin smallMargintop">
                        <label style="font-weight: bold;">
                            Description
                        </label>
                    </div>
                    <div class="col-md-8 noMargin smallMargintop">
                        <label id="lblPromoDescription"></label>
                    </div>

                </div>

                <div class="row rowNoMargin entryPanel">

                    <div class="col-sm-2 noMargin smallMargintop">
                        <label style="font-weight: bold;">
                            Type
                        </label>
                    </div>
                    <div class="col-md-8 noMargin smallMargintop">
                        <label id="lblPromoType"></label>
                    </div>
                </div>

                <div class="row rowNoMargin entryPanel">

                    <div class="col-sm-2 noMargin smallMargintop">
                        <label style="font-weight: bold;">
                            Start Date
                        </label>
                    </div>
                    <div class="col-md-2 noMargin smallMargintop">
                        <label id="lblPromoStartDate"></label>
                    </div>
                </div>

                <div class="row rowNoMargin entryPanel">

                    <div class="col-sm-2 noMargin smallMargintop">
                        <label style="font-weight: bold;">
                            End Date
                        </label>
                    </div>
                    <div class="col-md-2 noMargin smallMargintop">
                        <label id="lblPromoEndDate"></label>
                    </div>
                </div>

                <div class="col-md-6  noMargin mediumMargintop">
                    <div class="btn btn-primary " role="button" type="submit" data-bind="click: $parent.RelatePromoCodeClick">
                        Relate Promo Code
                    </div>
                </div>                
            </div>
        </div>

        <div id="PromosDetail" class="col-md-12 col-xs-12 col-sm-12 noMarginright" data-bind="visible: ShowGridDetailDetailPromo">
            <!---------Toolbar------>
            <div class="row   commandbuttondiv">

                <div class="toolBox">

                    <div data-bind="click:RefreshClickDetailPromo">
                        <i class="fa fa-refresh actionButton" aria-hidden="true"></i>
                        <span>Refresh</span>
                    </div>                   
                    <div data-bind="click:DeleteClickDetailPromo">
                        <i class="fa fa-trash-o actionButton" aria-hidden="true"></i>
                        <span>Delete </span>
                    </div>
                </div>

                <div class="pagerPanel">
                    <div>
                        <span>Page size</span>
                        <select data-bind="options:pageSizeOptionsDetailPromo,value:selectedPageSizeDetailPromo,event: { change:GetSelectedPageSizeDetailPromo}"></select>
                    </div>

                    <div>
                        <span>Page no.</span>
                        <input type="text" name="page-number" value="" data-bind="value:pageNumberDetailPromo,valueUpdate:'input',PagingwithEnterKey:GetSelectedPageDetailPromo" />
                        <button data-bind="click:GetSelectedPageDetailPromo">GO</button>
                    </div>

                    <div>
                        <span class="fa fa-angle-left" data-bind="click:BackwardpageClickDetailPromo"></span>
                        <span data-bind="text:pageNoLabelDetailPromo"></span>
                        <span class="fa fa-angle-right" data-bind="click:ForwardPageClickDetailPromo"></span>
                    </div>
                </div>
            </div>


            <!---------------------->
            <!-----Promos Grid------->
            <div class="dataGrid" style="margin-top:5px !important">
                <table>

                    <thead>
                        <tr>                           
                            <th style="width:10%" data-bind="click: function () { SetOrderByDetail('pc.promo_code') }">
                                <span>Code</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'pc.promo_code' == orderByDetailPromo(), 'divhidden': 'pc.promo_code' != orderByDetailPromo() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDetailPromo(), 'divhidden': !isDownDetailPromo() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDetailPromo(), 'divhidden': !isUpDetailPromo() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:10%" data-bind="click: function () { SetOrderByDetail('pc.description') }">
                                <span>Description</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'pc.description' == orderByDetailPromo(), 'divhidden': 'pc.description' != orderByDetailPromo() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDetailPromo(), 'divhidden': !isDownDetailPromo() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDetailPromo(), 'divhidden': !isUpDetailPromo() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:10%" data-bind="click: function () { SetOrderByDetail('pc.type') }">
                                <span>Type</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'pc.type' == orderByDetailPromo(), 'divhidden': 'pc.type' != orderByDetailPromo() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDetailPromo(), 'divhidden': !isDownDetailPromo() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDetailPromo(), 'divhidden': !isUpDetailPromo() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:10%" data-bind="click: function () { SetOrderByDetail('pc.start_date') }">
                                <span>End</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'pc.start_date' == orderByDetail(), 'divhidden': 'pc.start_date' != orderByDetailPromo() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDetail(), 'divhidden': !isDownDetailPromo() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDetail(), 'divhidden': !isUpDetail() }">
                                    </div>
                                </div>
                            </th>

                            <th style="width:10%" data-bind="click: function () { SetOrderByDetail('pc.end_date') }">
                                <span>End</span>
                                <div class="sortingIcon" data-bind="css: { 'divvisible': 'pc.end_date' == orderByDetail(), 'divhidden': 'pc.end_date' != orderByDetailPromo() }">
                                    <div class="glyphicon glyphicon-chevron-down" data-bind="css: { 'divvisible': isDownDetail(), 'divhidden': !isDownDetailPromo() }">
                                    </div>
                                    <div class="glyphicon glyphicon-chevron-up" data-bind="css: { 'divvisible': isUpDetail(), 'divhidden': !isUpDetail() }">
                                    </div>
                                </div>
                            </th>                           

                        </tr>
                    </thead>

                    <tbody data-bind="foreach: $root.PromoDetailList">
                        <tr data-bind="click: function (data, event) { $parent.selectedPromoCode(data); $parent.ValidateAvailablePromoCodes();}, css: { rowEven: ($index() % 2 === 0), rowOdd: ($index() % 2 === 1), 'selectedRow': ppPromoCode() == $parent.selectedPromoCode().ppPromoCode() }">                           

                            <td data-bind="text: ppPromoCode"></td>

                            <td data-bind="text: ppDescription"></td>

                            <td data-bind="text: ppType"></td>

                            <td data-bind="text: UnFormatFrom"></td>

                            <td data-bind="text: UnFormatTo"></td>                           
                        </tr>

                    </tbody>

                </table>




            </div>
            <!----------->

            <br />
            <div class="btn btn-danger" tabindex="21" role="button" data-bind="click: CloseClick">
                Close
            </div>
        </div>

       

    </div> 

        <hr class="EndPage">


        <div id="dialog" title="Alert" style="display:none;">
            <div id="DialogAlertMessage" class="DialogAlertMessage"></div>
        </div>

    </div>
