﻿<div class="col-md-12 col-xs-12 col-sm-12 noMarginright EntryPanelcss" >



    <div class="row rowNoMargin" data-bind="css:{'divvisible': isShowErrorEditDetail(),'divhidden': !isShowErrorEditDetail()}">
        <div class="row clientErrorList alert alert-danger col-md-12" id="EntryDetailErrorBoxDetail" data-bind="click:function () {errorExpanderClick('EntryDetailErrorBoxDetail')}">
            <div class="errUpDownArrowDiv">
                <span class="fa fa-caret-down"></span>
                <span class="fa fa-caret-up"></span>
            </div>
            <div class="errorLabelfull">

                <ul data-bind="foreach: ErrorListDetail">
                    <li data-bind="text: ErrorText"></li>
                </ul>

            </div>
        </div>
    </div>

    <div id="ContractDetailDiv" data-bind="with: SelectedAgencyContract()">      

        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Start
                </label>
            </div>
            <div class="col-md-3 noMargin smallMargintop">

                <input type="text" placeholder="To Date(mm/dd/yyyy)" required title="From Date is required" name="FromDateDetail"
                       class="form-control dateinput" id="FromDateDetail" data-bind="FromDatePicker:{}, value:$parent.selectedFromDateDetail" />
            </div>

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    End
                </label>
            </div>
            <div class="col-md-3 noMargin smallMargintop">
                <input type="text" placeholder="To Date(mm/dd/yyyy)" required title="To Date is required" name="ToDateDetail"
                       class="form-control dateinput" id="ToDateDetail" data-bind="ToDatePicker:{}, value:$parent.selectedToDateDetail" />
            </div>

        </div>
        
        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Notes
                </label>
            </div>
            <div class="col-md-8 noMargin smallMargintop">
                <textarea cols="30" class="form-control " id="ppAddress" name="ppNotes" tabindex="3" maxlength="500" rows="7" data-bind="value: ppNotes"></textarea>
            </div>
        </div>                                            

            <br />

            <div class="col-md-6  noMargin mediumMargintop">
                <div class="btn btn-primary " role="button" type="submit" data-bind="click: $parent.SaveClickDetail">
                    Save
                </div>


                <div class="btn btn-danger" tabindex="21" role="button" data-bind="click: $parent.CloseClickDetail">
                    Close
                </div>

            </div>

    </div>

    <br />
    
    <div class="row" id="ContractFileSection">
        <div class="row">
            <div class="col-md-12">
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>Load Contract File</h4>
            </div>
        </div>

        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    File
                </label>
            </div>
            <div class="col-md-8 noMargin smallMargintop">
                <input type="file" class="filestyle" name="txtUploadContractFile" id="txtUploadContractFile" data-buttonName="btn-primary">
                <input type="hidden" id="hfContractCode" />
            </div>
        </div>

        <br />

        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-12 noMargin smallMargintop">
                <label id="lbDownloadFile" style="text-decoration: underline; color: darkblue; cursor: pointer; display:none;">
                    Download Contract File...
                </label>
            </div>
        </div>
    </div>
</div>
