﻿<%@ Page Title="" Language="VB" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewPage" %>

<asp:Content ID="ProfilesAdminDashboard" ContentPlaceHolderID="TitleContent" runat="server">
Profiles
</asp:Content>


<asp:Content ID="ProfilesContent" ContentPlaceHolderID="MainContent" runat="server">
    <input id="txtTrackingURLBase"  value="<%: Url.Action("Index").ToLower().Replace("/security", "")%>" type="hidden"/>

</asp:Content>

