﻿<div class="col-md-12 col-xs-12 col-sm-12 noMarginright EntryPanelcss" data-bind="visible: isEditingUsers">


    <div class="row rowNoMargin" data-bind="css:{'divvisible': isShowErrorEdit(),'divhidden': !isShowErrorEdit()}">
        <div class=" row clientErrorList alert alert-danger col-md-12" id="EntryDetailErrorBox" data-bind="click:function () {errorExpanderClick('EntryDetailErrorBox')}">
            <div class=" errUpDownArrowDiv">
                <span class="fa fa-caret-down"></span>
                <span class="fa fa-caret-up"></span>
            </div>
            <div class="errorLabelfull">

                <ul data-bind="foreach: ErrorList">
                    <li data-bind="text: ErrorText"></li>
                </ul>

            </div>
        </div>
    </div>

    <div class="row  col-md-12 rowNoMargin succesMsgDiv" data-bind="css:{'entrypanelSuccessDiv':isShowErrorEdit()}">
        <div class="col-md-7 rowNoMargin  alert alert-success" id="UserMsg"   data-bind="css: { 'divvisible': isShowMsgUser(), 'divhidden': !isShowMsgUser() }">
        </div>

    </div>


    <div id="UsersInfoDiv" data-bind="with: SelectedUser()">

        <div    data-bind="css: { 'divvisible': $parent.ShowEditUser(), 'divhidden': !$parent.ShowEditUser() }">

            <div class="row rowNoMargin entryPanel">

                <div class="col-sm-2 noMargin smallMargintop">
                    <label>
                        First Name
                    </label>
                </div>
                <div class="col-md-3 noMargin smallMargintop">
                    <input type="text" class="form-control " id="ppFirstName" name="ppFirstName" tabindex="1" maxlength="30" data-bind="value: ppFirstName" />

                </div>


                <div class="col-md-1  smallMargintop">
                    <label>
                        Active
                    </label>
                </div>

                <div class="col-sm-1 noMargin smallMargintop">
                    <input tabindex="1" type="checkbox" id="ppActive" name="ppActive" class="form-control  mediumCheckBox" data-bind="checked:ppActive" />
                </div>

                <div class="col-md-1  smallMargintop">
                    <label>
                        Domain User
                    </label>
                </div>
                <div class="col-sm-1 noMargin smallMargintop">
                    <input tabindex="1" type="checkbox" id="ppisDomainUser" name="ppActive" class="form-control  mediumCheckBox" data-bind="checked:ppisDomainUser" />
                </div>

            </div>

            <div class="row rowNoMargin entryPanel">

                <div class="col-sm-2 noMargin smallMargintop">
                    <label>
                        Last Name
                    </label>
                </div>
                <div class="col-md-3 noMargin smallMargintop">
                    <input type="text" class="form-control " id="ppLastName" name="ppLastName" tabindex="2" maxlength="50" data-bind="value: ppLastName" />

                </div>

            </div>


            <div class="row rowNoMargin entryPanel">

                <div class="col-sm-2 noMargin smallMargintop">
                    <label>
                        SurName
                    </label>
                </div>
                <div class="col-md-3 noMargin smallMargintop">
                    <input type="text" class="form-control " id="SecondSurname" name="SecondSurname" tabindex="2" maxlength="50" data-bind="value: SecondSurname" />

                </div>

            </div>

            <div class="row rowNoMargin entryPanel">

                <div class="col-sm-2 noMargin smallMargintop">
                    <label>
                        UserName
                    </label>
                </div>
                <div class="col-md-3 noMargin smallMargintop">
                    <input type="text" class="form-control " id="ppUserName" name="ppUserName" tabindex="2" maxlength="50" data-bind="value: ppUserName" placeholder="Enter an username or email" />

                </div>

            </div>

            <div class="row rowNoMargin entryPanel">

                <div class="col-sm-2 noMargin smallMargintop">
                    <label>
                        Password
                    </label>
                </div>
                <div class="col-md-3 noMargin smallMargintop">
                    <input type="password" class="form-control " id="ppPassword" name="ppPassword" tabindex="2" maxlength="100" data-bind="value: ppPassword" />

                </div>

            </div>

            <div class="row rowNoMargin entryPanel">

                <div class="col-sm-2 noMargin smallMargintop">
                    <label>
                        Confirmation
                    </label>
                </div>
                <div class="col-md-3 noMargin smallMargintop">
                    <input type="password" class="form-control " id="ppPasswordConfirmation" name="ppPasswordConfirmation" tabindex="2" maxlength="100" data-bind="value: ppPasswordConfirmation" />

                </div>

            </div>

            <div class="row rowNoMargin entryPanel">

                <div class="col-sm-2 noMargin smallMargintop">
                    <label>
                        Profile
                    </label>
                </div>
                <div class="col-md-3 noMargin smallMargintop">
                    <select class="form-control " id="ProfileListID" name="ProfileListID" tabindex="0" data-bind="options: $parent.ProfileList, optionsText: 'ppProfileName', value: $parent.SelectedProfileUser"></select>

                </div>


            </div>


            <div class="row rowNoMargin entryPanel">

                <div class="col-sm-2 noMargin smallMargintop">
                    <label>
                        Agency User
                    </label>
                </div>
                <div class="col-md-1 noMargin smallMargintop">
                    <input tabindex="1" type="checkbox" id="isAgencyUser" name="isAgencyUser" class="form-control  mediumCheckBox" data-bind="checked:isAgencyUser, event: { change: $root.AgencyChange }" />
                </div>

                <div class="col-md-3 noMargin smallMargintop"    data-bind="css: { 'divvisible': $parent.isAgency(), 'divhidden': !$parent.isAgency() }">
                    <select class="form-control " id="AgencyList" name="AgencyList"  data-bind="options: $parent.AgenciesList, optionsText: 'ppAgencyName', value: $parent.selectedAgency"></select>
                </div>

            </div>

            <div data-bind="css:{'divvisible': $parent.EditinExistingUser(),'divhidden': !$parent.EditinExistingUser()}">

                <div class="row rowNoMargin entryPanel">

                    <div class="col-sm-2 noMargin smallMargintop">
                        <label>
                            Hotel
                        </label>
                    </div>
                    <div class="col-md-4 noMargin smallMargintop">
                        <select class="form-control " id="HotelList" name="HotelList" tabindex="0" data-bind="options: $parent.UserHotelList, optionsText: 'ppCompanyName', value: $parent.selectedUserHotel"></select>

                    </div>

                    <div class="col-md-1 noMargin smallMargintop">
                        <div class="btn btn-primary " role="button" type="submit" data-bind="click: $parent.SaveUserHotelClick">
                            Save
                        </div>
                    </div>

                </div>
                <div class="row rowNoMargin entryPanel">
                    <!-----Grid------->
                    <div class="dataGrid" style="margin-top: 5px !important; width:50%">
                        <table>

                            <thead>
                                <tr>

                                    <th style="width:5%" class="editButtonHeader">


                                    </th>

                                    <th style="width: 95%">
                                        <span>Hotel Assigned</span>
                                    </th>


                                </tr>
                            </thead>

                            <tbody data-bind="foreach: $parent.UserAssingHotelList">



                                <tr data-bind="click: function (data, event) { $root.selectedUserHotel(data) }, css: { rowEven: ($index() % 2 === 0), rowOdd: ($index() % 2 === 1), 'selectedRow': ppCompanyCode() == $root.selectedUserHotel().ppCompanyCode() }">

                                    <td class="actioncolumn">


                                        <i class="fa fa-trash-o " data-bind="click: function (data, event) { $root.DeleteAssignHotelClick(data) }" />



                                    </td>


                                    <td data-bind="text: ppCompanyName"></td>

                                </tr>

                            </tbody>

                        </table>




                    </div>
                    <!----------->

                </div>

            </div>

            <br />

            <div class="col-md-6  noMargin mediumMargintop">
                <div class="btn btn-primary " role="button" type="submit" data-bind="click: $parent.SaveUsersClick">
                    Save
                </div>


                <div class="btn btn-danger" tabindex="21" role="button" data-bind="click: $parent.CloseUserClick">
                    Close
                </div>

            </div>

        </div>

        <div data-bind="css: { 'divvisible': $parent.isResetPassword(), 'divhidden': !$parent.isResetPassword() }">

            <div class="row rowNoMargin entryPanel">

                <div class="col-sm-2 noMargin smallMargintop">
                    <label>
                        User Name
                    </label>
                </div>
                <div class="col-md-3 noMargin smallMargintop">
                    <input type="text" class="form-control " id="ppUserName" name="ppUserName" readonly data-bind="value: ppUserName" />

                </div>

            </div>

            <div class="row rowNoMargin entryPanel">

                <div class="col-sm-2 noMargin smallMargintop">
                    <label>
                        Password
                    </label>
                </div>
                <div class="col-md-3 noMargin smallMargintop">
                    <input type="password" class="form-control " id="ppPassword" name="ppPassword" tabindex="2" maxlength="100" data-bind="value: ppPassword" />

                </div>

            </div>

            <div class="row rowNoMargin entryPanel">

                <div class="col-sm-2 noMargin smallMargintop">
                    <label>
                        Confirmation
                    </label>
                </div>
                <div class="col-md-3 noMargin smallMargintop">
                    <input type="password" class="form-control " id="ppPasswordConfirmation" name="ppPasswordConfirmation" tabindex="2" maxlength="100" data-bind="value: ppPasswordConfirmation" />

                </div>

            </div>


            <br />

            <div class="col-md-6  noMargin mediumMargintop">
                <div class="btn btn-primary " role="button" type="submit" data-bind="click: $parent.SavePasswordClick">
                    Save
                </div>


                <div class="btn btn-danger" tabindex="21" role="button" data-bind="click: $parent.CloseUserClick">
                    Close
                </div>

            </div>

        </div>
     
    </div>



    <hr class="EndPage">


    <div id="dialog" title="Alert" style="display:none;">
        <div id="DialogAlertMessage" class="DialogAlertMessage"></div>
    </div>

</div>


