﻿<div class="col-md-12 col-xs-12 col-sm-12 noMarginright EntryPanelcss" data-bind="with: SelectFeatures(), visible: isEditing" style="display:none;">




    <div class="row rowNoMargin" data-bind="css:{'divvisible': $root.isShowErrorEdit(),'divhidden': !$root.isShowErrorEdit()}">
        <div class=" row clientErrorList alert alert-danger col-md-12" id="EntryDetailErrorBox" data-bind="click:function () {$root.errorExpanderClick('EntryDetailErrorBox')}">
            <div class=" errUpDownArrowDiv">
                <span class="fa fa-caret-down"></span>
                <span class="fa fa-caret-up"></span>
            </div>
            <div class="errorLabelfull">

                <ul data-bind="foreach: $parent.ErrorList">
                    <li data-bind="text: ErrorText"></li>
                </ul>

            </div>
        </div>
    </div>


    <div class="row   noMargin  text-center pageHeader">
        Features
    </div>



    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-1 noMargin smallMargintop">
            <label>
                Language
            </label>
        </div>
        <div class="col-md-6 noMargin smallMargintop">
            <select class="form-control " id="CultureID" name="CultureID" tabindex="0" data-bind="options: $parent.CultureList, optionsText: 'ppDisplayName', value: $parent.selectedCulture"></select>

        </div>


    </div>


    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-1 noMargin smallMargintop">
            <label>
                Description
            </label>
        </div>
        <div class="col-md-8 noMargin smallMargintop">

            <input class="form-control " id="ppDescription" name="ppDescription" tabindex="3" maxlength="50" placeholder="Enter the feature description" data-bind="value: ppDescription"></input>
        </div>

    </div>



    <br />

    <div class="col-md-6  noMargin mediumMargintop">
        <div class="btn btn-primary " role="button" type="submit" data-bind="click: $parent.SaveClick">
            Save
        </div>


        <div class="btn btn-danger" tabindex="21" role="button" data-bind="click: $parent.CloseClick">
            Close
        </div>

    </div>


</div>

<hr class="EndPage">


<div id="dialog" title="Alert" style="display:none;">
    <div id="DialogAlertMessage" class="DialogAlertMessage"></div>
</div>

