﻿<div class="col-md-12 col-xs-12 col-sm-12 noMarginright EntryPanelcss" data-bind="visible: isEditing" >

    <h3> Exceptions</h3>

    <div class="col-md-10  noMargin mediumMargintop">

        <div class="col-md-6">
            <div class="btn btn-primary " role="button" type="submit" data-bind="click: InsertExceptionWeekends">
                Add Weekends
            </div>


            <div class="btn btn-danger" tabindex="21" role="button" data-bind="click: DeleteExceptionWeekends">
                Remove Weekends
            </div>
        </div>

        <div class="col-md-3">

            <input type="text" placeholder="Date(mm/dd/yyyy)" required title="From Date is required" name="ExceptionDate"
                   class="form-control dateinput" id="ExceptionDate" data-bind="FromDatePicker:{}, value:selectedExcDate" />
        </div>

        <div class="col-md-2">
            <div class="btn btn-primary " role="button" type="submit" data-bind="click: SaveException">
                Insert Date
            </div>
        </div>
        <br />
        <br />
    </div>

    <div class="row rowNoMargin entryPanel">


        <!-----Grid------->
        <div class="dataGrid mediumMargintop" style="margin-top: 50px !important; width:40%">
            <table>

                <thead>
                    <tr>

                        <th style="width:5%" class="editButtonHeader">


                        </th>

                        <th style="width: 70%">
                            <span>Date </span>
                        </th>


                    </tr>
                </thead>

                <tbody data-bind="foreach: PromoExceptionList">



                    <tr>

                        <td class="actioncolumn">


                            <i class="fa fa-trash-o " data-bind="click: function (data, event) { $root.DeleteExceptionClick(data) }" />



                        </td>


                        <td data-bind="text: UnFormatDate"></td>

                    </tr>

                </tbody>

            </table>




        </div>
        <!----------->

    </div>

</div>