﻿



<div class="col-md-12 col-xs-12 col-sm-12 noMarginright EntryPanelcss" data-bind="with: SelectPromoCode(), visible: isEditing" style="display:none;">





    <div class="row rowNoMargin" data-bind="css:{'divvisible': $root.isShowErrorEdit(),'divhidden': !$root.isShowErrorEdit()}">
        <div class=" row clientErrorList alert alert-danger col-md-12" id="EntryDetailErrorBox" data-bind="click:function () {$root.errorExpanderClick('EntryDetailErrorBox')}">
            <div class=" errUpDownArrowDiv">
                <span class="fa fa-caret-down"></span>
                <span class="fa fa-caret-up"></span>
            </div>
            <div class="errorLabelfull">

                <ul data-bind="foreach: $parent.ErrorList">
                    <li data-bind="text: ErrorText"></li>
                </ul>

            </div>
        </div>
    </div>


    <div class="row   noMargin  text-center pageHeader">
        Promo Codes
    </div>


    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Promo Code
            </label>
        </div>
        <div class="col-md-4 noMargin smallMargintop">
            <input type="text" class="form-control " id="ppPromoCode" name="ppPromoCode" tabindex="2" placeholder="Enter valid promo code" maxlength="10" data-bind="value: ppPromoCode" />

        </div>

        <div class="col-md-1  smallMargintop">
            <label>
                Active
            </label>


        </div>

        <div class="col-md-4 noMargin smallMargintop">
            <input tabindex="1" type="checkbox" id="ppActive" name="ppActive" class="form-control  mediumCheckBox" data-bind="checked:ppActive" />
        </div>

    </div>


    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Description
            </label>
        </div>
        <div class="col-md-8 noMargin smallMargintop">
            <input type="text" class="form-control " id="ppDescription" name="ppDescription" tabindex="2" placeholder="Enter a valid description" maxlength="50" data-bind="value: ppDescription" />

        </div>

    </div>




    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Type
            </label>
        </div>
        <div class="col-md-8 noMargin smallMargintop">
            <input type="radio" name="btnType" value="P" data-bind="checked:ppType"
                   checked="checked" class="center" />
            <label class="center">
                Percentage
            </label>&nbsp; &nbsp;
            <input type="radio" name="btnType" value="A" data-bind="checked:ppType"
                   class="center" />
            <label class="center">
                Amount
            </label>&nbsp; &nbsp;

        </div>


    </div>


    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Start Date
            </label>
        </div>
        <div class="col-md-2 noMargin smallMargintop">

            <input type="text" placeholder="To Date(mm/dd/yyyy)" required title="From Date is required" name="FromDate"
                   class="form-control dateinput" id="FromDate" data-bind="FromDatePicker:{}, value: $parent.selectedFromDate" />
        </div>

        <div class="col-sm-1 noMargin smallMargintop">
            <label>
                End Date
            </label>
        </div>
        <div class="col-md-2 noMargin smallMargintop">
            <input type="text" placeholder="To Date(mm/dd/yyyy)" required title="To Date is required" name="ToDate"
                   class="form-control dateinput" id="ToDate" data-bind="ToDatePicker:{}, value: $parent.selectedToDate" />
        </div>

    </div>


    <br />

    <div class="col-md-6  noMargin mediumMargintop">
        <div class="btn btn-primary " role="button" type="submit" data-bind="click: $parent.SaveClick">
            Save
        </div>


        <div class="btn btn-danger" tabindex="21" role="button" data-bind="click: $parent.CloseClick">
            Close
        </div>

    </div>



</div>



<div id="ExceptionsDiv" style="background-color:white;display:none">
    <hr />

    <!--------Entry Panel---------->
    <!-- #include file="PromoExceptionEntry.html" -->
    <!-------->
</div>

<hr class="EndPage">


<div id="dialog" title="Alert" style="display:none;">
    <div id="DialogAlertMessage" class="DialogAlertMessage"></div>
</div>   
