﻿




<div class="col-md-12 col-xs-12 col-sm-12 noMarginright EntryPanelcss" data-bind="with: SelectPromoCode(), visible: isRate">





    <div class="row rowNoMargin" data-bind="css:{'divvisible': $root.isShowErrorEdit(),'divhidden': !$root.isShowErrorEdit()}">
        <div class=" row clientErrorList alert alert-danger col-md-12" id="EntryDetailErrorBox" data-bind="click:function () {$root.errorExpanderClick('EntryDetailErrorBox')}">
            <div class=" errUpDownArrowDiv">
                <span class="fa fa-caret-down"></span>
                <span class="fa fa-caret-up"></span>
            </div>
            <div class="errorLabelfull">

                <ul data-bind="foreach: $parent.ErrorList">
                    <li data-bind="text: ErrorText"></li>
                </ul>

            </div>
        </div>
    </div>


    <div class="row   noMargin  text-center pageHeader">
        Rates
    </div>

    <div class="row rowNoMargin entryPanel ServiceListSection" data-bind="css:{'divvisible': $root.isServiceRate(),'divhidden': !$root.isServiceRate()}"> 
        <div class="col-sm-1 noMargin smallMargintop ">
            <label>
                Service
            </label>
        </div>
        <div class="col-md-4 noMargin smallMargintop">
            <select class="form-control " id="ddlService" name="ddlService" tabindex="0" data-bind="options: $parent.ServiceList, optionsText: 'ppDescription', optionsValue: 'ppServiceID', event:{ change: $parent.servicesChanged}"></select>
        </div>     
    </div>

    <div class="row rowNoMargin entryPanel">                   
        <div class="col-sm-1 noMargin smallMargintop">
            <label>
                Rate
            </label>
        </div>
        <div class="col-md-4 noMargin smallMargintop">
            <select class="form-control" id="RateType" name="RateType" tabindex="0" data-bind="attr: { 'disabled': $root.getDisabledState() }, options: $parent.RatesList, optionsText: 'ppDescription', value: $parent.selectedRateType"></select>
        </div>

        <div class="col-md-1  smallMargintop">
            <label>
                Amount
            </label>


        </div>

        <div class="col-md-4 noMargin smallMargintop">
            <input type="text" class="form-control numericTextbox" placeholder="Enter price" onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="50" data-bind="attr: { 'disabled': $root.getDisabledState() }, value: $parent.RateAmount" id="Amount" name="Amount" />
        </div>

    </div>



    <br />

    <div class="col-md-6  noMargin mediumMargintop">
        <div class="btn btn-primary" role="button" type="submit" data-bind="attr: { 'disabled': $root.getDisabledState() }, click: $parent.SaveRate">
            Save
        </div>


        <div class="btn btn-danger" tabindex="21" role="button" data-bind="click: $parent.CloseClick">
            Close
        </div>

    </div>
    <br />
    <div class="dataGrid" style="margin-top:10px !important; width:65%">
        <table>

            <thead>
                <tr>
                    <th style="width:5%" class="editButtonHeader">


                    </th>

                    <th style="width:40%" data-bind="css:{'divvisible': $root.isServiceRate(),'divhidden': !$root.isServiceRate()}">
                        <span>Service</span>
                    </th>

                    <th style="width:40%">
                        <span>Rate Description</span>
                    </th>

                    <th style="width:20%" >
                        <span>Amount</span>
                    </th>

                </tr>
            </thead>

            <tbody data-bind="foreach: $root.PromoCodeRateList">
                <tr >

                    <td>
                        <i class="fa fa-times" style="font-size:18px" data-bind="click: function (data, event) { $root.DeletePromoCodexRate(data) }" />
                    </td>

                    <td data-bind="text: ppServiceDesc, css:{'divvisible': $root.isServiceRate(),'divhidden': !$root.isServiceRate()}"></td>
            
                    <td data-bind="text: ppDescription"></td>

                    <td data-bind="text: ppAmount"></td>

                </tr>

            </tbody>

        </table>




    </div>

<hr class="EndPage">


<div id="dialog" title="Alert" style="display:none;">
    <div id="DialogAlertMessage" class="DialogAlertMessage"></div>
</div>
