body {
	font-family: Avenir, Arial, sans-serif!important
}
h3{
	font-weight:normal !important;
	font-size:18px !important;
	margin-top:10px !important;
}
.smallMargintop input[type=checkbox]{
	margin-top:10px !important;
}
.entryPanel .col-md-2{
	width:auto !important;
	padding-right:0 !important;
}
.col-md-6 input[type=text]{
	margin-top:5px !important;
}
#AddOnSection{
	padding:0 !important;
}
#sidebar {
	background: #3f434e;
	overflow: visible;
	width: 180px!important
}
#sidebar #sidebar-logo {
	background: none
}
#sidebar #sidebar-menu li a {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: normal;
	padding-left: 15px
}
#sidebar #sidebar-menu li:hover {
	background: #353942!important
}
#sidebar #sidebar-logo img {
	width: 100%
}
header {
	padding-top: 5px
}
#sidebar #sidebar-logo {
	margin: 0
}
#main .col-xs-12, #main .col-sm-12, #main .col-md-12{
	padding:0 !important;
}
#main{
	overflow:auto !important;
}
#content {
	padding-left: 190px;
	background: #f2f4f3!important
}
#sidebar .col-sm-14 .btn-group {
	margin: 5px 8px;
	width: 90%
}
.SubMenuItem {
	color: #95a5a6;
	font-size: 14px;
	height: auto!important
}
#content h4 {
	background: #fdfdfd;
	color: #333237;
	text-transform: uppercase;
	border-bottom: solid 1px #e5e7e6;
	padding: 10px
}
.entryPanel {
	color: #737373!important;
	font-size: 14px!important;
	font-weight: normal!important
}
.entryPanel label {
	padding-top: 10px!important
}
.dataGrid table {
	border: solid 1px #e5e7e6
}
.dataGrid table th {
	background: #fdfdfd!important;
	color: #737373!important;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	border: solid 1px #e5e7e6
}
.dataGrid table td {
	background: transparent!important;
	color: #737373!important;
	font-size: 14px;
	font-weight: normal;
	border: none
}
.dataGrid table tr:nth-child(even) {
	background: #fdfdfd;
	border-top: solid #f2f2f2 1px;
	border-bottom: solid #f2f2f2 1px
}
.commandbuttondiv {
	background: #3f434e!important;
	height: auto
}
.commandbuttondiv * {
	font-size: 14px
}
.btn {
	margin-top: 10px!important
}
#main {
	border: solid #e5e7e6 1px;
	overflow: hidden;
	background: #fff;
	margin: 0px!important
}
.rowEven {
	background: transparent!important
}
input[type="radio"], input[type="checkbox"] {
	margin-top: 0
}

@media(max-width:925px) {
	header{
		padding-left:185px !important;
	}
}
@media(max-width:767px) {
	header{
		padding-left:95px !important;
	}
#sidebar {
	width: 90px!important;
	z-index: 5
}
#content {
	padding-left: 90px!important
}
#sidebar .col-sm-14 .btn-group {
	width: 80%
}
}

@media(max-width:490px) {
#sidebar {
	width: 70px!important
}
#content {
	padding-left: 70px!important
}
}
