/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/**********************************************************
//
//                     Custom Styles
//
//*********************************************************/      


html {
    background: #e3e6e6;
}
#container {
    display: block;
    overflow: auto;
    position: relative;
}

ul {
    list-style: none;
}


/*   Header Styles   */
header {
    height: 60px;
    /*width: 93%;*/                                                                                                                                                                                                                  %;
    padding: 1em;
    z-index: 5;
    background: #ffffff;
    position: relative;
    display: block;
}
header #logo {
    position: absolute;
    /*width: 64px;
    top: 1em;*/
    left: 50%;
    /*top: -2px;
    margin-left: -32px;*/
    text-align: center;
}
header #menu {
    width: 100px;
    float: left;
}
header #menu li {
    float: left;
    width: 50%;
    position: relative;
}

header #menu li a {
    text-indent: -19998px;
    text-align: left;
    float: left;
}
header #menu li a:after{
    top: 0;
    left: 0;
    content: '';
    position: absolute;
    width: 100%;
    height: 50px;


}
header #menu li a#user:after {
    background: url(../Images/usuario.png) no-repeat center;
}

header #menu li a#notifications:after {
    background: url(../Images/notificacion.png) no-repeat center;
}

button#logout {
    float: right;
    width: 50px;
    height: 50px;
    text-indent: -19998px;
    position: relative;
    background: transparent;
    border: 0;
    cursor: pointer;
}

button#logout:after {
    content: '';
    float: right;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../Images/logout.png) no-repeat center;
}

/* Sidebar styles */
#sidebar {
    top: 0;
    bottom: 0;
    width: 20%;
    padding: 0 0 2.5% 0;
    max-width: 200px;
    left: 0;
    position: fixed;
    overflow: hidden;
    z-index: 3;

    background: #e1e1e1;
}
#sidebar #sidebar-logo {
    background: #243342;
    /*height: 60px;*/
    padding: 2%;
    margin-bottom: 2em;
}
#sidebar #sidebar-logo img {
    display: block;
    margin: 0 auto;
}

#sidebar #sidebar-menu li {
    height: 50px;
    width: 95%;
    padding: 0 2.5%;
    display: inline-block;

}

#sidebar #sidebar-menu ul.submenu li {
    height: 20px;
    width: 100%;
    padding: 3% 2.5%;
    padding-left: 25%;
    display: inline-block;
    cursor: pointer;

}

#sidebar .submenu li a {
    display: none;
}

#sidebar .submenu li .icon{
    width: 100%;
    height: 47px;
    font-size: 20px;
    margin: 1.5px 0;
    float: left;
    background-size: 45% !important;
}

#sidebar #sidebar-menu li a {
    display: none;
}
#sidebar #sidebar-menu li .icon{
    width: 100%;
    height: 47px;
    font-size: 20px;
    margin: 1.5px 0;
    float: left;
    background-size: 45% !important;
}

#sidebar #sidebar-menu li .icon#dashboard{
    background: url(../Images/dashboard1.png) no-repeat center center;
}

#sidebar #sidebar-menu li .icon#general{
    background: url(../Images/general1.png) no-repeat center center;
}

#sidebar #sidebar-menu li .icon#querys{
    background: url(../Images/querys1.png) no-repeat center center;
}

#sidebar #sidebar-menu li .icon#hotel{
    background: url(../Images/hotel1.png) no-repeat center center;
}

#sidebar #sidebar-menu li .icon#services{
    background: url(../Images/hotel1.png) no-repeat center center;
}

#sidebar #sidebar-menu li .icon#security{
    background: url(../Images/security1.png) no-repeat center center;
}

#sidebar #sidebar-menu li .icon#admin{
    background: url(../Images/admin1.png) no-repeat center center;
}

/* when active */
#sidebar #sidebar-menu li:active .icon#dashboard,
#sidebar #sidebar-menu li:hover .icon#dashboard{

    background: url(../Images/dashboard2.png) no-repeat center center;
}
#sidebar #sidebar-menu li:active .icon#general,
#sidebar #sidebar-menu li:hover .icon#general{

    background: url(../Images/general2.png) no-repeat center center;
}

#sidebar #sidebar-menu li:active .icon#querys,
#sidebar #sidebar-menu li:hover .icon#querys{

    background: url(../Images/querys2.png) no-repeat center center;
}

#sidebar #sidebar-menu li:active .icon#hotel,
#sidebar #sidebar-menu li:hover .icon#hotel{


    background: url(../Images/hotel2.png) no-repeat center center;
}

#sidebar #sidebar-menu li:active .icon#services,
#sidebar #sidebar-menu li:hover .icon#services{


    background: url(../Images/hotel2.png) no-repeat center center;
}

#sidebar #sidebar-menu li:active .icon#security,
#sidebar #sidebar-menu li:hover .icon#security{


    background: url(../Images/security2.png) no-repeat center center;
}

#sidebar #sidebar-menu li:active .icon#admin,
#sidebar #sidebar-menu li:hover .icon#admin{

    background: url(../Images/admin2.png) no-repeat center center;
}
@media screen and (min-width: 768px) {
    header {
        z-index: 1;
        padding: 1em 3% 1em 20%;
        /*width: 77%;*/
    }
    #sidebar #sidebar-menu li .icon {
        width: 25%;
    } 
    #sidebar #sidebar-menu li a {
        display: block;
    }
}

#sidebar #sidebar-menu li a{
    color: #95a5a6;
    width: 75%;
    height: 100%;
    line-height: 50px;
    float: left;
    text-transform: uppercase;
    text-align: left;
    text-decoration: none;
}
/* active & hover state of the sidebar links */
#sidebar #sidebar-menu li:active,
#sidebar #sidebar-menu li:hover {
    background: #243342;
}
#sidebar #sidebar-menu li:active a,
#sidebar #sidebar-menu li:hover a {

    color: #f28a00;
}


#sidebar .submenu li a{
    color: #95a5a6;
    width: 75%;
    height: 100%;
    line-height: 50px;
    float: left;
    text-transform: uppercase;
    text-align: left;
    text-decoration: none;
}


/*#sidebar #sidebar-submenu li a{
    color: #95a5a6;
    width: 75%;
    height: 100%;
    line-height: 50px;
    float: left;
    text-transform: uppercase;
    text-align: left;
    text-decoration: none;
}*/


#sidebar .submenu li:active,
#sidebar .submenu li:hover {
    background: #243342;
}
#sidebar .submenu li:active ,
#sidebar .submenu li:hover  {

    color: #f28a00;
}


#content {    
    width: 100%;
    padding: 0;
    padding-left: 15%;
    padding-right: 1%;
    display: block;
    overflow: hidden;
    z-index: 1;
    background: #e3e6e6;
    min-height: 78vh;
}    
#content #content-title {
    
}   


.content {
    display: none;
    padding : 5px;
}






/* Footer styles */
footer {
    width: 94%;
    padding: 1% 3%;
    height: auto;
    display: block;
    position: absolute;
    bottom: 0;
    line-height: 25px;
    z-index: 4;
    background: #ffffff;
}
footer label {
    width: 100%;
    text-align: center
}
footer select {
    width: auto;
    float: none !important;
    border: 0;
    background: none;
    height: 100%;
    display: block;
    margin: 0 auto;
}
footer #date{
    width: 15%;
}
footer label,
footer select,
footer #date {
    float: left;
}

@media screen and (min-width: 768px) {
    footer {
        height: 25px;
    }
    footer label {
        width: 15%;
        padding: 0 10px
    }
    footer select {
        float: left;
        margin: 0;  
    }
}

#ContractFileSection{
    margin-left: 0px;
}