﻿<div class="col-md-12 col-xs-12 col-sm-12 noMarginright EntryPanelcss" data-bind="visible: isEditing" style="display:none;">




    <div class="row rowNoMargin" data-bind="css:{'divvisible': isShowErrorEdit(),'divhidden': !isShowErrorEdit()}">
        <div class="row clientErrorList alert alert-danger col-md-12" id="EntryDetailErrorBox" data-bind="click:function () {errorExpanderClick('EntryDetailErrorBox')}">
            <div class="errUpDownArrowDiv">
                <span class="fa fa-caret-down"></span>
                <span class="fa fa-caret-up"></span>
            </div>
            <div class="errorLabelfull">

                <ul data-bind="foreach: ErrorList">
                    <li data-bind="text: ErrorText"></li>
                </ul>

            </div>
        </div>
    </div>


    <div id="TabsDiv" style="width: 100%; background-color:white ">
        <ul class="noMargin tabAppMenu">
            <li class="carrierLink activePageMenu" id="GeneralInfoTab" data-bind="click: GeneralInfoClick"><a>General</a>  </li>

            <li>|</li>
            <li class="carrierLink " id="PhotoTab" data-bind="click: LogoPhotosClick"><a>Logo and photos</a>  </li>            
        </ul>
    </div>


    <div id="GeneralDiv" >
        <h3>General Information</h3>
        <!--------Entry Panel---------->
        <!-- #include file="HotelGeneralEntry.html" -->
        <!-------->

    </div>

    <div id="ProcessorDiv" style="background-color:white;display:none">
        <hr />
        <h3>Processor Parameters</h3>
        <!--------Entry Panel---------->
        <!-- #include file="CompanyProcessorEntry.html" -->
        <!-------->
    </div>

    <div id="PhotosDiv" style="background-color:white;display:none">
        <hr />
        <h3>Logo and photos</h3>
        <!--------Entry Panel---------->
        <!-- #include file="CompanyPhotosEntry.html" -->
        <!-------->
    </div>

    <div id="HotelDiv" style="background-color:white;display:none">
        <hr />
        <h3> Hotel Parameters</h3>
        <!--------Entry Panel---------->
        <!-- #include file="HotelParameterEntry.html" -->
        <!-------->
    </div>


    <div id="ServicesDiv" style="background-color:white;display:none">
        <hr />
        <h3> Services Parameters</h3>
        <!--------Entry Panel---------->
        <!-- #include file="CompanyServiceEntry.html" -->
        <!-------->
    </div>

</div>