﻿
<div class="col-md-12 col-xs-12 col-sm-12 noMarginright EntryPanelcss" data-bind="with: CompanyProcessor()">


    <br />


    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
               Commission %
            </label>
        </div>
        <div class="col-md-1 noMargin smallMargintop">
            <input type="text" class="form-control numericTextbox" onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="4" data-bind="value: ppCommission" id="ppCommission" name="ppCommission" />
        </div>

    </div>

    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Processor Id
            </label>
        </div>
        <div class="col-md-3 noMargin smallMargintop">
            <input type="text" class="form-control " id="ppProcessorID" name="ppProcessorID" tabindex="1" maxlength="50" data-bind="value: ppProcessorID" />

        </div>

    </div>

    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
               Key Id
            </label>
        </div>
        <div class="col-md-3 noMargin smallMargintop">
            <input type="text" class="form-control " id="ppKeyID" name="ppKeyID" tabindex="1" maxlength="10" data-bind="value: ppKeyID" />

        </div>

    </div>

    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Key Hash
            </label>
        </div>
        <div class="col-md-4 noMargin smallMargintop">
            <input type="text" class="form-control " id="ppKeyHash" name="ppKeyHash" tabindex="1" maxlength="50" data-bind="value: ppKeyHash" />

        </div>

    </div>

    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
               Redirect URL
            </label>
        </div>
        <div class="col-md-4 noMargin smallMargintop">
            <input type="text" class="form-control " id="ppURL" name="ppURL" tabindex="1" maxlength="200" data-bind="value: ppURL" />

        </div>

    </div>

    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                User Name
            </label>
        </div>
        <div class="col-md-3 noMargin smallMargintop">
            <input type="text" class="form-control " id="ppUserName" name="ppUserName" tabindex="1" maxlength="30" data-bind="value: ppUserName" />

        </div>

    </div>

    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Type
            </label>
        </div>
        <div class="col-md-8 noMargin smallMargintop">
            <input type="radio" name="btnType" value="auth" data-bind="checked:ppType"
                   checked="checked" class="center mediumCheckBox" />
            <label class="center">
                auth
            </label>&nbsp; &nbsp;
            <input type="radio" name="btnType" value="sale" data-bind="checked:ppType"
                   class="center mediumCheckBox" />
            <label class="center">
                sale
            </label>&nbsp; &nbsp;

        </div>


    </div>


    <br />

    <div class="row rowNoMargin entryPanel">
        <div class="btn btn-primary " role="button" type="submit" data-bind="click: $parent.SaveProcesorClick">
            Save
        </div>


        <div class="btn btn-danger" tabindex="21" role="button" data-bind="click: $parent.CloseClick">
            Close
        </div>

    </div>


</div>
