﻿
<div class="col-md-12 col-xs-12 col-sm-12 noMarginright EntryPanelcss" data-bind="with: CompanyService()">



    <br />


    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Confirmation Prefix
            </label>
        </div>
        <div class="col-md-1 noMargin smallMargintop">
            <input type="text" class="form-control " id="ppServConfirmPrefix" name="ppServConfirmPrefix" tabindex="1" maxlength="3" data-bind="value: ppConfirmPrefix, enable: ppServices" />

        </div>

        <div class="col-md-1 noMargin smallMargintop">
            <div class="btn btn-primary " role="button" id="btnCheckServPrefix" type="submit" data-bind="click: $parent.CheckServicePrefix">
                Check
            </div>
        </div>

        <div class="col-md-3 noMargin smallMargintop">

            <label data-bind="text: $parent.PrefixMsg" style="color: red;font-weight: bold;"></label>

        </div>
    </div>


    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Max. Adults 
            </label>
        </div>
        <div class="col-md-1 noMargin smallMargintop">
            <input type="text" class="form-control numericTextbox" onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="2" data-bind="value: ppMaxAdults" id="ppMaxAdultsServ" name="ppMaxAdultsServ" />
        </div>

    </div>


    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Max. Children 
            </label>
        </div>
        <div class="col-md-1 noMargin smallMargintop">
            <input type="text" class="form-control numericTextbox" onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="2" data-bind="value: ppMaxChildren" id="ppMaxChildrenServ" name="ppMaxChildrenServ" />
        </div>

    </div>


    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Max. Students
            </label>
        </div>
        <div class="col-md-1 noMargin smallMargintop">
            <input type="text" class="form-control numericTextbox" onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="2" data-bind="value: ppMaxStudent" id="ppMaxStudentServ" name="ppMaxStudentServ" />
        </div>

    </div>



    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Adults Age Range
            </label>
        </div>
        <div class="col-md-3 noMargin smallMargintop">
            <input type="text" class="form-control " id="ppMsgAdults" name="ppMsgAdults" tabindex="1" maxlength="20" data-bind="value: ppMsgAdults" />

        </div>

    </div>


    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Children Age Range
            </label>
        </div>
        <div class="col-md-3 noMargin smallMargintop">
            <input type="text" class="form-control " id="ppServMsgChildren" name="ppServMsgChildren" tabindex="1" maxlength="20" data-bind="value: ppMsgChildren" />

        </div>

    </div>


    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Students Age Range
            </label>
        </div>
        <div class="col-md-3 noMargin smallMargintop">
            <input type="text" class="form-control " id="ppServMsgStudent" name="ppServMsgStudent" tabindex="1" maxlength="20" data-bind="value: ppMsgStudent" />

        </div>

    </div>

    <div class="row rowNoMargin entryPanel">

        <div class="col-md-2  smallMargintop">
            <label>
                Allow Free Children
            </label>


        </div>

        <div class="col-sm-1 noMargin smallMargintop">
            <input tabindex="1" type="checkbox" id="ppChildrenFree" name="ppChildrenFree" class="form-control  mediumCheckBox" data-bind="checked:ppChildrenFree" />
        </div>

    </div>


   <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Age Range
            </label>
        </div>
        <div class="col-md-3 noMargin smallMargintop">
            <input type="text" class="form-control " id="ppServMsgChildrenFree" name="ppServMsgChildrenFree" tabindex="1" maxlength="20" data-bind="value: ppMsgChildrenFree" />

        </div>

    </div>




   <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
               Children Note
            </label>
        </div>
        <div class="col-md-3 noMargin smallMargintop">
            <input type="text" class="form-control " id="ppServMsgChildrenNote" name="ppServChildrenNote" tabindex="1" maxlength="100" data-bind="value: ppChildrenNote" />

        </div>

    </div>

    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Tax %
            </label>
        </div>
        <div class="col-md-1 noMargin smallMargintop">
            <input type="text" class="form-control numericTextbox" onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="4" data-bind="value: ppTaxPerc" id="ppServTaxPerc" name="ppServTaxPerc" />
        </div>

    </div>

    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Rent %
            </label>
        </div>
        <div class="col-md-1 noMargin smallMargintop">
            <input type="text" class="form-control numericTextbox" onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="4" data-bind="value: ppRentPorc" id="ppRentPorc" name="ppRentPorc" />
        </div>

    </div>


    <br />

    <div class="row rowNoMargin entryPanel">
        <div class="btn btn-primary " role="button" type="submit" data-bind="click: $parent.SaveServiceClick">
            Save
        </div>


        <div class="btn btn-danger" tabindex="21" role="button" data-bind="click: $parent.CloseClick">
            Close
        </div>

    </div>




    <br />
</div>