﻿
<div class="col-md-12 col-xs-12 col-sm-12 noMarginright EntryPanelcss">
   
    <div class="row rowNoMargin entryPanel">
        <div class="table-responsive">

            <input type="hidden" id="RoomId" />

            <table class="table">
                <tr>
                    <td>
                        Logo:
                    </td>
                    <td>
                        <input type="file" name="UploadFile1" id="txtUploadFile1" class="filestyle" data-buttonName="btn-primary" />
                    </td>
                    <td>
                        <img data-bind="attr: {src: Picture1()}" class="carrierLogo" id="Picture1" />
                    </td>
                </tr>

                <tr>
                    <td>
                        Photo 1:
                    </td>
                    <td>

                        <div>
                            <input type="file" name="UploadFile2" id="txtUploadFile2" class="filestyle" data-buttonName="btn-primary" />

                        </div>


                    </td>
                    <td>
                        <img data-bind="attr: {src: Picture2()}" class="carrierLogo" id="Picture2" />
                    </td>
                </tr>


                <tr>
                    <td>
                        Photo 2:
                    </td>
                    <td>

                        <div>
                            <input type="file" name="UploadFile3" id="txtUploadFile3" class="filestyle" data-buttonName="btn-primary" />
                        </div>


                    </td>
                    <td>
                        <img data-bind="attr: {src: Picture3()}" class="carrierLogo" id="Picture3" />
                    </td>
                </tr>

                <tr>
                    <td>
                        Photo 3:
                    </td>
                    <td>

                        <div>
                            <input type="file" name="UploadFile3" id="txtUploadFile4" class="filestyle" data-buttonName="btn-primary" />
                        </div>


                    </td>
                    <td>
                        <img data-bind="attr: {src: Picture4()}" class="carrierLogo" id="Picture4" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Image in email header:
                    </td>
                    <td>

                        <div>
                            <input type="file" name="UploadFile3" id="txtUploadFile5" class="filestyle" data-buttonName="btn-primary" />
                        </div>


                    </td>
                    <td>
                        <img data-bind="attr: {src: Picture5()}" class="carrierLogo" id="Picture5" />
                    </td>
                </tr>

            </table>
            <hr class="EndPage">
        </div>

        <div class="col-md-6  noMargin mediumMargintop">

            <div class="btn btn-danger" tabindex="21" role="button" data-bind="click: CloseClick">
                Close
            </div>

        </div>
    </div>

</div>
