﻿
<div class="col-md-12 col-xs-12 col-sm-12 noMarginright EntryPanelcss" data-bind="with: CompanyHotel()">



    <br />



    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Reservation Prefix
            </label>
        </div>
        <div class="col-md-1 noMargin smallMargintop">
            <input type="text" class="form-control " id="ppConfirmPrefix" name="ppConfirmPrefix" tabindex="1" maxlength="20" data-bind="value: ppConfirmPrefix, enable: ppHotel" />

        </div>

        <div class="col-md-1 noMargin smallMargintop">
            <div class="btn btn-primary " role="button" id="btnCheckPrefix" type="submit" data-bind="click: $parent.CheckCompanyPrefix">
                Check
            </div>
        </div>

        <div class="col-md-3 noMargin smallMargintop">

            <label data-bind="text: $parent.PrefixMsg" style="color: red;font-weight: bold;"></label>

        </div>
    </div>


    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Tax %
            </label>
        </div>
        <div class="col-md-1 noMargin smallMargintop">
            <input type="text" class="form-control numericTextbox" onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="4" data-bind="value: ppTaxPerc" id="ppTaxPerc" name="ppTaxPerc" />
        </div>

    </div>


    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Max. Adults per Room
            </label>
        </div>
        <div class="col-md-1 noMargin smallMargintop">
            <input type="text" class="form-control numericTextbox" onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="2" data-bind="value: ppMaxAdults" id="ppMaxAdults" name="ppMaxAdults" />
        </div>

    </div>


    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Max. Children per Room
            </label>
        </div>
        <div class="col-md-1 noMargin smallMargintop">
            <input type="text" class="form-control numericTextbox" onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="2" data-bind="value: ppMaxChildren" id="ppMaxChildren" name="ppMaxChildren" />
        </div>

    </div>


    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Adults age range
            </label>
        </div>
        <div class="col-md-3 noMargin smallMargintop">
            <input type="text" class="form-control " id="ppMsgAdults" name="ppMsgAdults" tabindex="1" maxlength="20" data-bind="value: ppMsgAdults" />

        </div>

    </div>


    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Children age range
            </label>
        </div>
        <div class="col-md-3 noMargin smallMargintop">
            <input type="text" class="form-control " id="ppMsgChildren" name="ppMsgChildren" tabindex="1" maxlength="20" data-bind="value: ppMsgChildren" />

        </div>

    </div>


    <div class="row rowNoMargin entryPanel">

        <div class="col-md-2  smallMargintop">
            <label>
                Allow free children
            </label>


        </div>

        <div class="col-sm-1 noMargin smallMargintop">
            <input tabindex="1" type="checkbox" id="ppChildrenFree" name="ppChildrenFree" class="form-control  mediumCheckBox" data-bind="checked:ppChildrenFree" />
        </div>

    </div>



    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Age range
            </label>
        </div>
        <div class="col-md-4 noMargin smallMargintop">
            <input type="text" class="form-control " id="ppMsgChildrenFree" name="ppMsgChildrenFree" tabindex="1" maxlength="100" data-bind="value: ppMsgChildrenFree" />

        </div>

    </div>


    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Note
            </label>
        </div>
        <div class="col-md-4 noMargin smallMargintop">
            <input type="text" class="form-control " id="ppChildrenNote" name="ppChildrenNote" tabindex="1" maxlength="100" data-bind="value: ppChildrenNote" />

        </div>

    </div>

    <br />

    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-5 noMargin smallMargintop">
            <label style="font-size:medium;font-weight: bold;">
                Adults / Children Combinations
            </label>
        </div>
    </div>

    <br />

    <div class="row rowNoMargin entryPanel">
        <div class="btn btn-primary " role="button" type="submit" data-bind="click: $parent.SaveHotelClick">
            Save
        </div>


        <div class="btn btn-danger" tabindex="21" role="button" data-bind="click: $parent.CloseClick">
            Close
        </div>

    </div>

</div>

    <div class="row rowNoMargin entryPanel">

       <div class="col-sm-5 noMargin smallMargintop"  data-bind="with: SelectedCombination()">


           <table class="table table-responsive">
               <tr>
                   <td>
                       <div class="col-sm-2 noMargin smallMargintop">
                           <label>
                               Adults
                           </label>
                       </div>
                       <div class="col-md-1 noMargin smallMargintop">
                           <input type="text" class="form-control numericTextbox" onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="2" id="ppCombAdults"  data-bind="value: ppAdults"  name="ppCombAdults" />
                       </div>
                   </td>
               </tr>

               <tr>
                   <td>
                       <div class="col-sm-2 noMargin smallMargintop">
                           <label>
                               Children
                           </label>
                       </div>
                       <div class="col-md-1 noMargin smallMargintop">
                           <input type="text" class="form-control numericTextbox" onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="2" id="ppCombChildren"  data-bind="value: ppChildren"  name="ppCombChildren" />
                       </div>
                   </td>
               </tr>

               <tr>
                   <td>
                       <div class="btn btn-primary " role="button" type="submit"  data-bind="click: $parent.SaveCombinationClick">
                           Save
                       </div>

                   </td>
               </tr>
</table>





        </div>

       <div class="col-sm-5 noMargin smallMargintop">
                <div class="dataGrid" style="margin-top:5px !important">
                    <table>

                        <thead>
                            <tr>
                                <th style="width:5%" class="editButtonHeader">


                                </th>

                                <th style="width:5%" class="editButtonHeader">


                                </th>

                                <th>
                                    <span>Adults</span>

                                </th>

                                <th>
                                    <span>Children</span>
                                </th>




                            </tr>
                        </thead>

                        <tbody data-bind="foreach: $root.CombinationsList">
                            <!--<tr data-bind="click: function (data, event) { $parent.SelectedCombination(data) }, css: { rowEven: ($index() % 2 === 0), rowOdd: ($index() % 2 === 1), 'selectedRow': ppRowID() == $parent.SelectedCombination().ppRowID() }">-->
                            <tr>
                                <td class="actioncolumn">

                                    <i class="fa fa-pencil editButton" data-bind="click: function (data, event) { $root.EditCombination(data) }" />


                                </td>

                                <td class="actioncolumn">
                                    <i class="fa fa-trash editButton" data-bind="click: function (data, event) { $parent.DeleteCombinationClick(data) }" />
                                </td>

                                <td data-bind="text: ppAdults"></td>

                                <td data-bind="text: ppChildren"></td>

                            </tr>

                        </tbody>

                    </table>


                </div>

            </div>
   </div>

