﻿<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgxY6DqJ4TxnRfKjlZR8SfLSQRtOSTxEU"></script>

<div class="col-md-12 col-xs-12 col-sm-12 noMarginright EntryPanelcss" data-bind="with: SelectCompany()">


    <br />

    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Company Code
            </label>
        </div>
        <div class="col-md-2 noMargin smallMargintop">
            <input type="text" class="form-control " id="ppCompanyCode" name="ppCompanyCode" tabindex="1" maxlength="10" data-bind="value: ppCompanyCode" />

        </div>


        <div class="col-md-1  smallMargintop">
            <label>
                Active
            </label>


        </div>

        <div class="col-sm-1 noMargin smallMargintop">
            <input tabindex="1" type="checkbox" id="ppActive" name="ppActive" class="form-control  mediumCheckBox" data-bind="checked:ppActive" />
        </div>


    </div>

    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Company Name
            </label>
        </div>
        <div class="col-md-3 noMargin smallMargintop">
            <input type="text" class="form-control " id="ppCompanyName" name="ppCompanyName" tabindex="2" maxlength="50" data-bind="value: ppCompanyName" />

        </div>


        <div class="col-md-1  smallMargintop">
            <label>
                Hotel
            </label>


        </div>

        <div class="col-sm-1 noMargin smallMargintop">
            <input tabindex="1" type="checkbox" id="ppHotel" name="ppHotel" class="form-control  mediumCheckBox" data-bind="checked:ppHotel" />
        </div>


        <div class="col-sm-1  smallMargintop">
            <label>
                Services
            </label>


        </div>

        <div class="col-sm-1 noMargin smallMargintop">
            <input tabindex="1" type="checkbox" id="ppServices" name="ppServices" class="form-control  mediumCheckBox" data-bind="checked:ppServices" />
        </div>
    </div>

    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Legal Name
            </label>
        </div>
        <div class="col-md-3 noMargin smallMargintop">
            <input type="text" class="form-control " id="ppLegalName" name="ppLegalName" tabindex="1" maxlength="50" data-bind="value: ppLegalName" />

        </div>


        <div class="col-md-1  smallMargintop">
            <label>
                Migrar
            </label>


        </div>

        <div class="col-sm-1 noMargin smallMargintop">
            <input tabindex="1" type="checkbox" id="ppMigrar" name="ppMigrar" class="form-control  mediumCheckBox" data-bind="checked:ppMigrar" />
        </div>


    </div>

    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Legal Id
            </label>
        </div>
        <div class="col-md-3 noMargin smallMargintop">
            <input type="text" class="form-control " id="ppLegalID" name="ppLegalID" tabindex="1" maxlength="50" data-bind="value: ppLegalID" />

        </div>

    </div>





    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Provincia
            </label>
        </div>
        <div class="col-md-2 noMargin smallMargintop">
            <input type="text" class="form-control " id="Provincia" name="Provincia" tabindex="1" maxlength="50" data-bind="value: provincia" />

        </div>


        <div class="col-sm-1 noMargin smallMargintop">
            <label>
                Canton
            </label>
        </div>
        <div class="col-md-2 noMargin smallMargintop">
            <input type="text" class="form-control " id="Canton" name="Canton" tabindex="1" maxlength="50" data-bind="value: canton" />

        </div>

        <div class="col-sm-1 noMargin smallMargintop">
            <label>
                Distrito
            </label>
        </div>
        <div class="col-md-2 noMargin smallMargintop">
            <input type="text" class="form-control " id="Distrito" name="Distrito" tabindex="1" maxlength="50" data-bind="value: distrito" />

        </div>

    </div>

   

    <div class="row rowNoMargin entryPanel">

        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Address
            </label>
        </div>
        <div class="col-md-7 noMargin smallMargintop">
            <input type="text" class="form-control " id="ppAddress" name="ppAddress" tabindex="1" maxlength="50" data-bind="value: ppAddress" />

        </div>

    </div>
    <div class="row rowNoMargin entryPanel">
        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Latitude
            </label>
        </div>
        <div class="col-md-3 noMargin smallMargintop">
            <input type="text" class="form-control " id="ppLatitude" name="ppLatitude" tabindex="1" maxlength="20" data-bind="value: ppLatitude" />
        </div>
        <div class="col-sm-2 noMargin smallMargintop">
            <label>
                Longitude
            </label>
        </div>
        <div class="col-md-3 noMargin smallMargintop">
            <input type="text" class="form-control " id="ppLongitude" name="ppLongitude" tabindex="1" maxlength="20" data-bind="value: ppLongitude" />
        </div>
        <div class="btn btn-primary " role="button" type="submit" id="btnSeeMap" data-bind="click: $parent.SeeMap">
            See Map
        </div>
        <div class="btn btn-primary " role="button" type="submit" id="btnCloseMap" data-bind="click: $parent.CloseMap">
            Close Map
        </div>
    </div>
    <div class="row rowNoMargin entryPanel">
        <div id="map-canvas"></div>
    </div>

        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Telephone
                </label>
            </div>
            <div class="col-md-3 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppTel1" name="ppTel1" tabindex="1" maxlength="15" data-bind="value: ppTel1" />

            </div>

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Tol Free Number
                </label>
            </div>
            <div class="col-md-2 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppCallTollFree" name="ppCallTollFree" tabindex="1" maxlength="15" data-bind="value: ppCallTollFree" />

            </div>

        </div>



        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Fax
                </label>
            </div>
            <div class="col-md-3 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppFax" name="ppFax" tabindex="1" maxlength="15" data-bind="value: ppFax" />

            </div>


        </div>


        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Technical Contact
                </label>
            </div>
            <div class="col-md-3 noMargin smallMargintop">
                <input type="text" class="form-control " id="TechContact" name="TechContact" tabindex="1" maxlength="200" data-bind="value: TechContact" />

            </div>


            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Email
                </label>
            </div>
            <div class="col-md-3 noMargin smallMargintop">
                <input type="text" class="form-control " id="TechEmail" name="TechEmail" tabindex="1" maxlength="200" data-bind="value: TechEmail" />

            </div>

        </div>



        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Main Contact
                </label>
            </div>
            <div class="col-md-3 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppContactName" name="ppContactName" tabindex="1" maxlength="50" data-bind="value: ppContactName" />

            </div>


            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Email
                </label>
            </div>
            <div class="col-md-3 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppContactEmail" name="ppContactEmail" tabindex="1" maxlength="50" data-bind="value: ppContactEmail" />

            </div>

        </div>

        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Financial Contact
                </label>
            </div>
            <div class="col-md-3 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppCfoName" name="ppCfoName" tabindex="1" maxlength="50" data-bind="value: ppCfoName" />

            </div>


            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Email
                </label>
            </div>
            <div class="col-md-3 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppCfoEmail" name="ppCfoEmail" tabindex="1" maxlength="50" data-bind="value: ppCfoEmail" />

            </div>

        </div>



        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Reservation Contact
                </label>
            </div>
            <div class="col-md-3 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppResName" name="ppResName" tabindex="1" maxlength="50" data-bind="value: ppResName" />

            </div>


            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Email 1
                </label>
            </div>
            <div class="col-md-3 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppResEmail" name="ppResEmail" tabindex="1" maxlength="50" data-bind="value: ppResEmail" />

            </div>

        </div>



        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-2 noMargin smallMargintop">
                <label>

                </label>
            </div>
            <div class="col-md-3 noMargin smallMargintop">

            </div>


            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Email 2
                </label>
            </div>
            <div class="col-md-3 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppResEmailAlt" name="ppResEmailAlt" tabindex="1" maxlength="50" data-bind="value: ppResEmailAlt" />

            </div>

        </div>

        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Web Site
                </label>
            </div>
            <div class="col-md-7 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppWeb" name="ppWeb" tabindex="1" maxlength="50" data-bind="value: ppWeb" />

            </div>

        </div>


        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Email
                </label>
            </div>
            <div class="col-md-7 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppEmail" name="ppEmail" tabindex="1" maxlength="50" data-bind="value: ppEmail" />

            </div>

        </div>


        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Bank Name
                </label>
            </div>
            <div class="col-md-3 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppBankName" name="ppBankName" tabindex="1" maxlength="20" data-bind="value: ppBankName" />

            </div>


            <div class="col-sm-1 noMargin smallMargintop">

            </div>
            <div class="col-md-3 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppBankAccount" name="ppBankAccount" tabindex="1" maxlength="50" data-bind="value: ppBankAccount" />

            </div>

        </div>


        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Facebook url
                </label>
            </div>
            <div class="col-md-7 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppFacebookURL" name="ppFacebookURL" tabindex="1" maxlength="100" data-bind="value: ppFacebookURL" />
            </div>

        </div>

        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Twitter text
                </label>
            </div>
            <div class="col-md-7 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppTwitterText" name="ppTwitterText" tabindex="1" maxlength="140" data-bind="value: ppTwitterText" />

            </div>

        </div>

        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    GooglePlus URL
                </label>
            </div>
            <div class="col-md-7 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppGooglePlus" name="ppGooglePlus" tabindex="1" maxlength="140" data-bind="value: ppGooglePlus" />
            </div>
        </div>

        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Pinterest URL
                </label>
            </div>
            <div class="col-md-7 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppPinterest" name="ppPinterest" tabindex="1" maxlength="140" data-bind="value: ppPinterest" />
            </div>
        </div>

        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Instagram URL
                </label>
            </div>
            <div class="col-md-7 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppInstagram" name="ppInstagram" tabindex="1" maxlength="140" data-bind="value: ppInstagram" />
            </div>
        </div>

        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Blog URL
                </label>
            </div>
            <div class="col-md-7 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppBlog" name="ppBlog" tabindex="1" maxlength="140" data-bind="value: ppBlog" />
            </div>
        </div>



        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Google Analytics ID
                </label>
            </div>
            <div class="col-md-3 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppGoogleID" name="ppGoogleID" tabindex="1" maxlength="20" data-bind="value: ppGoogleID" />

            </div>


            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Conv ID
                </label>
            </div>
            <div class="col-md-3 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppGoogleConvID" name="ppGoogleConvID" tabindex="1" maxlength="20" data-bind="value: ppGoogleConvID" />

            </div>

        </div>


        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Conv Label
                </label>
            </div>
            <div class="col-md-3 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppGoogleConvLabel" name="ppGoogleConvLabel" tabindex="1" maxlength="20" data-bind="value: ppGoogleConvLabel" />
            </div>
        </div>

        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Things To do
                </label>
            </div>
            <div class="col-md-3 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppThingsToDo" name="ppThingsToDo" tabindex="1" maxlength="20" data-bind="value: ppThingsToDo" />
            </div>
        </div>


        <div class="row rowNoMargin entryPanel">
            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Get There
                </label>
            </div>
            <div class="col-md-3 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppGetThere" name="ppGetThere" tabindex="1" maxlength="20" data-bind="value: ppGetThere" />
            </div>
        </div>

        <br />

        <div class="row rowNoMargin entryPanel">
            <div class="btn btn-primary " role="button" type="submit" id="btnSaveHotelInfo" data-bind="click: $parent.SaveClick">
                Save
            </div>


            <div class="btn btn-danger" tabindex="21" role="button" data-bind="click: $parent.CloseClick">
                Close
            </div>

        </div>

    </div>
<script>
    $("#map-canvas").hide();
</script>