/*Calendar Styles*/    

.bookcalendartitle {  
  font-family: Nexa;
  font-size: 17.5px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.63;
  color: #4a4a4a;
  text-align:center;
  padding: 10px;

  border-top-color: rgb(151, 151, 151);
  border-top-style: solid;
  border-top-width: 0.5px;
  border-radius: 0px;
}


/*datepicker jquery plugin styles*/

.DateCellStyle {           
  /*height: 47.3px;*/
  font-family: Nexa;
  font-size: 10.5px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25; 
  background-color: #ffffff !important;
  padding: 0.5em 0em !important;
}

.UnavailableDateCellStyle {
  /*height: 47.3px;*/
  font-family: Nexa;
  font-size: 9.2px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25; 
  /*background-color: lightcoral !important;*/
  background-color: #ffffff !important;
  padding: 0.5em 0em !important;
  cursor: not-allowed;  
  color: lightcoral !important;
}

.hrdatecell{
    margin-top: 0px;
    margin-bottom: 2px;
}

.PickerStyle {
    width:auto !important;
}

.PickerStyle .datepick-month-header, 
.PickerStyle .datepick-month-header select { 
    background-color: #ffffff; 
    font-family: Nexa;
    font-size: 14.8px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;    
    color: #4a4a4a;
    text-transform: uppercase;
}
/*.PickerStyle .datepick-month th, .datepick-month th a { display:none;}*/
.PickerStyle .datepick-month { width:50%; border: 1px dotted lightgray;}
.PickerStyle .datepick-month td { 
  width: 14.28%;  
  background-color: #ffffff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  border: solid 0.5px #d7d7d7;  
}

.PickerStyle .datepick-month table {   
    border-spacing: 5px;
    border-collapse: separate !important;
}

.PickerStyle .datepick-month td .datepick-highlight {
	background-color: wheat !important;
    /*border: solid 1px #f5a623;*/
}

/*.PickerStyle .datepick-month td .datepick-today {
	background-color: #FCE7C2 !important;    
}*/

.PickerStyle .datepick-month td .datepick-other-month {
	background-color: #fff;
    color: lightgray;
}

.PickerStyle .datepick-month td .datepick-selected {
	background-color: #ffffff;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    /*border: solid 2px #f5a623;*/
    color: #4a4a4a;
}

.PickerStyle .datepick-nav {	
	background-color: #ffffff;
	font-family: Nexa;
    font-size: 12.2px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.81;
    color: #4a4a4a;
    height: 25px;
}

.PickerStyle .datepick-nav .datepick-cmd {
    color: #4a4a4a;
    width: 33%;
    height: 100%
}

.PickerStyle .datepick-nav .datepick-cmd:hover {
    background-color: #ffffff;
	 border: solid 1px #f5a623;
}

.datenumberstyle {
    font-size: 14.3px;
}

.roomnumberlabel{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    color: black;
}


/*--- Responsive @media---*/

@media (max-width:1285px) {    
    .book_section_table_td_content_label
    {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: inherit;         
    }

     .book_section_style_row{
        min-height: 75px;
    }
}

@media (min-width:1286px) {    

    .book_section_style_row{
        min-height: 75px;
    }
}

@media (max-width:1034px) {
    .datepick-month {
	    float: none;
	    /*width: 15em;
	    border: 1px solid #444;
	    text-align: center;*/
    }

    .PickerStyle .datepick-month { width:100%; border: 1px dotted lightgray;}
}

@media (max-width:767px) {
    .book_section_style_row{
        min-height: initial;
    }

    .PickerStyle .datepick-month { width:100%; border: 1px dotted lightgray;}
}

@media (max-width:437px) {
    .PickerStyle .datepick-month table {   
        border-spacing: 0px;
        border-collapse: unset;
    }
}

@media (max-width:378px) {
    .DateCellStyle {               
      font-size: 8.2px;      
    }

    .UnavailableDateCellStyle {      
      font-size: 8.2px;      
    }

}

@media (max-width:378px) {
    .roomtype
    {          
      font-size: 27px;      
    }

    .roompricelabel {      
      font-size: 27px;      
    }
}



