﻿html
{
    height: 100%;
}
body
{
    height: 100%; /* font-family: Verdana,Arial,sans-serif;*/
    font-family: Trebuchet MS;
    font-size: 12px;
    /*background-color:#f7f7f7;*/
    background-color:white;
}





.menuPagebackground
{
    background-color: #FFFFFF;
}
.mainHeader
{
    background-color: #4c4c4c;
    color: White;
    height: 50px;
}

.mainmenuRightCorner
{
    background-image: url('/Images/sharp_edge_cross_bg1.png');
    background-repeat: no-repeat;
    position: absolute ;
    height: 65px;
    z-index: 100;
    width: 53px;
}

.mainMenu
{
    background-image: url('/Images/blue_banner_bg.png');
    background-repeat: repeat-x;
    color: White;
    height: 65px;
}

.mainMenudiv
{
    margin-left: 70px;
}
.mainMenu ul
{
    margin-top: 35px;
    list-style-type: none; /*  margin-left: 25px;*/
}


.mainMenu ul li
{
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
}

.mainMenu ul li a
{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.mainMenu ul li a:hover
{
    cursor: pointer;
}

.smallScreenMainMenu
{
    background-image: url('/Images/blue_banner_bg.png');
    background-repeat: repeat-x;
    color: White;
    height: 40px;
}

.smallScreenMainMenu ul
{
    margin-top: 15px;
    list-style-type: none; /*  margin-left: 25px;*/
}


.main
{
   padding-left : 5%;
}



.smallScreenMainMenu ul li
{
    display: inline;
    padding-left: 10px;
    padding-right: 15px;
}

.smallScreenMainMenu ul li a
{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.smallScreenMainMenu ul li a:hover
{
    cursor: pointer;
}

.homeicon
{
    font-size: 18px;
    margin-left: 25px;
    width: 50px;
    cursor: pointer;
    margin-top: 30px !important;
}
.companyTitle
{
    
    font-weight: bold;
    font-size: 11pt;
    color: #fff;
}
.companySubTitle
{
    font-weight: bold;
    font-size: 10pt;
    color: #fff;
}
.loginuserLogo
{
    height: 65px;
    /*max-width:230px;*/
}

.usrNametext
{
    font-size: 12px;
}
.subClientdiv
{
    background-color: White;
    height: 20px;
    margin-top: 0px;
    width: 150px;
    float: right;
    border-radius: 5px;
}
.clientLabel
{
    visibility: visible;
    background-color: #d3d3d3;
    max-height: 18px;
    margin: 1px;
    border-radius: 3px;
    max-width: 147px;
    color: Black;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
    width: 150px;
}
.clientTextBoxHide
{
    visibility: hidden;
}
.clientTextBoxShow
{
    visibility: visible;
}

.clientTextbox
{
    color: Black; 
    height: 20px;
    border-radius: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.logoutButton
{
    float: right;
    margin-right: 10px;
}

.contactInfo
{
    float: right;
    margin-left: 2%;
    margin-right: 6%;
    list-style-type: none;
}

.subMenu
{
    border-color: Gray;
    border-style: inset;
    background-color: #f2f2f2;
    height: auto;
    border-width: thin;
}
.subMenuTitle
{
    font-size: large;
    background-color: #696969;
    color: #fff;
}
.subMenupage
{
    padding-top: 5px;
    border-bottom: inset;
    width: 100%; 
    border-color:Gray;
    border-width: thin;
}

.subMenupage a
{
    color: Black;
}
.subMenudiv
{
    margin: 2%;
}

.subMenupage:hover a
{
    text-decoration: none;
    color: #fff;
}

.subMenupage:hover
{
    background-color: #4c4c4c;
    cursor: pointer;
    color: #fff;
}


.favouriteMenuTitle
{
    font-size: large;
    background-color: #696969;
    color: #fff;
}

.favouriteMenu
{
    border-color: Gray;
    border-style: inset;
    height: auto;
    background-color: #f2f2f2;
    border-width: thin;
}

.rowNoMargin
{
    margin: 0px !important;
    padding: 0px !important;
}

.nomarginEntryPanel
{
    margin-left: 15px !important;
    margin-right: 0px !important;
    padding-right: 0px !important;
}

.searchPanelMargin
{
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-top: 5px !important;
}
.rowNopadding
{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.noMarginright
{
    margin-right: 0px !important;
}
.noPaddingRight
{
    padding-right: 0px !important;
}
.noMarginTop
{
    margin-top: 0px !important;
    top: 0px;
}

.noMarginleft
{
    margin-left: 0px !important;
}
.noPaddingleft
{
    padding-left: 0px !important;
}

.noPaddingTop
{
    padding-top: 0px !important;
}

.noMarginPaddingLeft
{
     margin-left: 0px !important;
     padding-left: 0px !important;
}
.hiddenData
{
    display: none;
}

.pageHeader
{
    font-size: large;
    /*background-color: #d3d3d3;
    color: Black;*/
    background-color: #243342;
    color: white;
}

.commandbuttondiv
{
    background-color: #696969;
    height: 50px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-top: 0px;
    width: 100%;
    padding-top: 5px;
    padding-bottom:5px;
    text-align:center;
}
    .commandbuttondiv span {
        color: white;
        cursor:pointer;
    }
        .commandbuttondiv .pagerPanel {
        margin-top:8px;
    }
    .commandbuttondiv .toolBox {
        float:left;
        margin-right:5px;
        margin-top: 8px;
    }
.commandbutton
{
    padding-top: 5px;
    width: 55px;
    cursor: pointer;
}
.toolbarhide
{
    display: none;
}

.entryPanel
{
    margin-top: 5px;
    color: Black;
}

.entryPanel label
{
    font-weight: 500;
}

.entrpanelfieldlLabel
{
    background-color: #d3d3d3;
    width: 113px;
    height: 22px;
}

.searchPanel label
{
    font-weight: 500;
}
.searchPanel
{
    background-color: #f2f2f2;
    /*width: 98% !important;*/
}



.smallTextbox
{
    height: 25px;
    /*width: 100px;*/
    width:75px !important;
}
.mediumTextbox
{
    height: 25px;
    width: 150px;
}
.largeTextbox
{
    height: 25px;
    width: 450px;
}


.numericTextbox {
    text-align: right;
    width: 115px;
}

.largeMultiLineTextbox
{
  
    width: 450px;
}

.mediumTextarea
{
    width:150px;
    height:60px;
}

.entrypanellargeTextBox
{
    width: 230px;
}

.smallMarginleft
{
    margin-left: 5px;
}
.mediumMarginleft
{
    margin-left: 10px !important;
}
.largeMarginleft
{
    margin-left: 20px;
}
.smallMarginright
{
    margin-right: 5px;
}
.mediumMarginright
{
    margin-right: 10px !important;
}
.largeMarginright
{
    margin-right: 20px;
}
.smallMargintop
{
    margin-top: 5px;
}
.mediumMargintop
{
    margin-top: 10px !important;
}
.largeMargintop
{
    margin-top: 20px;
}
.smallMarginbottom
{
    margin-bottom: 5px;
}
.mediumMarginbottom
{
    margin-bottom: 10px;
}
.largeMarginbottom
{
    margin-bottom: 20px;
}

.smallPaddingleft
{
    padding-left: 5px;
}
.mediumPaddingleft
{
    padding-left: 10px;
}
.largePaddingleft
{
    padding-left: 20px;
}
.smallPaddingright
{
    padding-right: 5px;
}
.mediumPaddingright
{
    padding-right: 10px;
}
.largePaddingright
{
    padding-right: 20px;
}
.smallPaddingtop
{
    padding-top: 5px;
}
.mediumPaddingintop
{
    padding-top: 10px;
}
.largePaddingtop
{
    padding-top: 20px;
}
.smallPaddingbottom
{
    padding-bottom: 5px;
}
.mediumPaddingbottom
{
    padding-bottom: 10px;
}
.largePaddingbottom
{
    padding-bottom: 20px;
}

.EntryPanelcss {
    background-color: white;
    width: 100%;
    padding-bottom : 2%;
    border-bottom: thin
}


.EndPage {

    border-top: 2px solid #eee;
    width: 100%;
}

.koGrid
{
    background-color: #d3d3d3;
}
.kgTopPanel
{
    background-color: #696969;
    color: #fff;
}
.kgFooterPanel
{
    background-color: #f2f2f2;
}
.kgRow.odd
{
    background-color: White;
}
.kgRow.even
{
    background-color: #f2f2f2;
}
.kgRow.selected
{
    background-color: #a8a8a9;
}
.kgTopPanel
{
    width: 100% !important;
}

.kgViewport
{
    width: 100% !important;
}

.kgHeaderContainer
{
    width: 100% !important;
}

.kgFooterPanel
{
    width: 100% !important;
}


/*------Client Grid ----------*/

.gridMainStyle
{
    border: 1px solid #d3d3d3;
    width: 98%;
    height: auto;
    float: left;
      white-space: nowrap;
}

.gridHeader
{
    background-color: #696969;
    font-weight: bold;
    cursor: pointer;
}

.gridFieldHeader
{
    height: 30px;
}

 
.gridHeaderText
{
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px;
    padding-left: 10px;
}

.gridDataRow
{
    height: 27px;
    cursor: pointer;
    border: 1px solid #d3d3d3;
}
.gridDataRow:hover
{
    background-color:#a8a8a9;
}
.rowEven
{
    background-color: #f2f2f2;
}
.rowOdd
{
    background-color: White;
}
/*.selectedRow
{
    background-color: #a8a8a9;
}*/

.divvisible
{
    visibility: visible !important;
}

.divhidden
{
    display: none !important;
}

.divhiddenVisiblity
{
    visibility: hidden;
}

.fvMenuHide
{
    display: none !important;
}


.pageSize
{
    width: 130px;
    float: right;
}

.pageNo
{
    width: 130px;
    float: right;
}

.pageNo .pageNoInput
{
    width: 53px;
}

.pager
{
    width: 100px;
    float: right;
}

.pager .pagerText
{
    width: 95px;
}
.gridButtonHeader
{
    width:30px;
    color: white;
    font-weight: bold;    
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px;
    
}

.smallDropDown
{
    width:130px;
    height:25px;
}
.mediumDropDown
{
    width:150px;
     height:25px;
}
.largeDropDown
{
    width:180px;
     height:25px;
}
.mediumCheckBox
{
    height:20px ;
    width:20px;
}

.smallCheckBox
{
    height:15px ;
    width:15px;
}


.floatRight
{
    float:right;
}

.floatLeft
{
    float:left;
}



.searchButton
{
    width: 20px;
    height: 20px; /*background-image : url('/Images/search.png');*/
    background-repeat: no-repeat;
}

.refreshButton
{
    width: 20px;
    height: 20px;
    background-image: url('/Images/refresh.png');
    background-repeat: no-repeat;
}

.addButton
{
    height: 29px;
    width: 38px;
    border-style: none;
    text-align: center;
    margin-top: 0px !important;
    background-image: url('/Images/add.png');
    background-repeat: no-repeat;
    margin-left: 8px;
}

.deleteButton
{
    height: 29px;
    width: 38px;
    border-style: none;
    text-align: center;
    margin-top: 0px !important;
    background-image: url('/Images/cancel.png');
    background-repeat: no-repeat;
    margin-left: 8px;
}

.editButton
{
    /*height: 20px;
    width: 20px;
    background-image: url('/Images/Edit.png');
    background-repeat: no-repeat;*/
    cursor: pointer;
    font-size: 18px;
    color: #FFA611;
}

.actionButton
{   
    cursor: pointer;
    font-size: 22px;
    color: #FFA611;
}

.commandbuttonLabel
{
    font-size: 11px !important;
    margin-top: 5px;
    color: #fff;
}
.addbuttonlabel
{
    font-size: 11px !important;
    margin-top: 0px !important;
    color: #fff;
}
.deletebuttonlabel
{
    font-size: 11px !important;
    margin-top: 0px !important;
    color: #fff;
}
.pagingRow
{
    width: 98%; /*height: 31px;*/
}

.pagindiv
{
    float: right;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.pagingRightCorner
{
    width: 150px;
    float: right;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.selectedPagediv
{
    float: right;
    width: 165px;
}

.pagingoptionvisible
{
    visibility: visible;
}
.pagingoptionhidden
{
    display: none;
}

.pagingTextBox
{
    width: 30px;
    margin-top: 1px;
}

.progressbarshow
{
    visibility: visible;
}
.progressbarhide
{
    visibility: hidden;
}


.smallHeader
{
    width: 140px;
}
.mediumHeader
{
    width: 190px;
    min-width:180px;
}
.largeHeader
{
    width: 240px;
}


label
{
    font-weight:500;
}

.bootstrapMediumButtton
{
    font-size:medium;
}

.largerFont
{
    font-size:larger;
}

.entryPanelTextBox
{
    width:100%;
}

.entryPanelDropDown
{
    width:100%;
}
.labelDiv
{
    max-width: 145px;
}
.smallLabelDiv {
    max-width: 40px;
}
.largeLabelDiv
{    
    max-width: 165px;
}

.largestTextBox
{
    width:100%;
    max-width:250px;
}

.noWrapText {
        white-space: nowrap;
}

.wordWrap {
    word-wrap: break-word;
}

.verticalMiddleAlign {
vertical-align:middle;

}

.fixHeader {
    min-width:120px;
}

.ToolboxButton {
    cursor: pointer;
    height: 29px;
    width: 38px;
    border-style: none;
    text-align: center;
    margin: 3px;
    margin-bottom: 0;
}

.ToolboxText {
    cursor: pointer;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    color: #fff;
}

.successMsg {
    width: 600px;
}

.pagingButtonRow {
      float:right  !important;
      width:500px  !important;
      padding:0  !important;
}


.LargeTextBoxWidth {
    width:100%;
}
/* ----menu v3 styles-------*/



.sideMenu {
width:200px;
margin-top:35px;
}
.sideMenuHeading {
    font-weight:800;
}

.menuHeader {
height:80px;
width:200px;
 
}

.applicationMenu {
color:white;
line-height:35px;
padding:0;
margin:0;
 background-color: #2A3F54;
}

.applicationMenu li {
    display:inline;
    padding-left:10px;
    padding-right:10px;
    cursor:pointer;
    padding-top: 9px;
    padding-bottom: 10px;
}

.applicationMenu li:hover{
        background-color: #1389C5;
}


#panelContainer a {
    color:#2A3F54;
     cursor:pointer;
}
#sideMenu span {
    color:white;
     cursor:pointer;
     
}

.fullHeight {
    height:100% !important;
}

.menuPageRightDiv {
    width:85%; 
    float:left
}
a:hover  {
background-color:transparent !important;
}

.gridDiv {
    overflow-x:auto;
    width:100%
}

.leftMarginForCols {
    margin-left:100px;
}

.tabAppMenu {
line-height:34px;
padding:0;
margin-left: 20px !important;
border-bottom:solid thin #1389C5;
margin-bottom:0px;
}

.tabAppMenu li {
    display:inline;
    padding:10px;
  
    cursor:pointer;
    margin:0px;
}



/***********new styles************************/
.pagerPanel {
    display: inline-block !important;
    float:right;

    /*width: 0px !important;*/
}

.pagerPanel div{
    display: inline-block !important;
    /*width: 160px !important;*/
    border-right: solid thin #eeeeee !important;
    padding-right: 10px !important;
}

.pagerPanel div input{
    width: 40px !important;
}

    /*.pagerPanel #pageButtons {
        width: 85px !important;
    }*/

    .pagerPanel span {
        border: none !important;
            padding-right: 5px !important;
    padding-left: 5px !important;
    float: none !important;
    }


.toolBox {
    display: inline-block !important;
   
    /*width: 100% !important;*/
}

    .toolBox div {
        display: inline-block !important;
        padding-left:10px;
    }

    .toolBox img {
        height: 40px !important;
        cursor:pointer;
    }

    .toolBox span{
        display: inline-block;
        vertical-align: middle;
            padding-left: 0px !important;
            border:none !important;
    }

.toolPanelMenu{
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: dimgray;   
}


.dataGrid {
    width: 100%;
    margin-top: 40px;
    overflow-x: auto;
    white-space: nowrap;
    /*background-color: white;*/
    cursor:pointer;
  
}

    .dataGrid table {
        width: 100%;
    }

    .dataGrid table tr {
        cursor: pointer;
    }
    
    .dataGrid table th {
        background-color: #243342;
        color: white;
        border: solid thin white;
        padding: 10px;
        text-align: center;
        cursor:pointer;
    }

    .dataGrid table td {
        border-bottom: solid thin gray;
        padding: 10px;
    }

    .dataGrid table td.actioncolumn {
        text-align: center;
    }

        .dataGrid table td ul {
            display: inline-table;
            width: 100px;
            table-layout: fixed;
            padding: 0px;
            margin: 0px;
        }

            .dataGrid table td ul li {
                display: table-cell;
                vertical-align: middle;
            }

                .dataGrid table td ul li img {
                    height: 25px !important;
                    width: auto !important;
                }

             /*.dataGrid table tbody tr:hover{
            background-color:#ffe100 !important;
            }*/

.selectedRow {
    /*background: #eee !important;*/
    background:#FFFF99 !important;
    font-weight:900;
    color: black !important;
}

.RowError {
    /*background: #eee !important;*/
    background:#f16604  !important;
    font-weight:900;
    color: black !important;
}

#menuPageInfo {
    width: 100%;
    height: 100%;
}

#sideMenu {
    width:200px;
    height: 100%;
    background-color: #2A3F54;
    vertical-align:top;
    float:left;
}

    #sideMenu #secondLevelMenu {
        margin-top: 30px;
        list-style: none;
        padding-left: 0px;
    }

        #sideMenu #secondLevelMenu .menuGroupHeader {
            margin-top: 5px;
            display: block;
            background-color: #336699;
            padding: 10px;
            color: white;
        }

        #sideMenu #secondLevelMenu ul {
            list-style: none;
            padding: 0px;
        }

            #sideMenu #secondLevelMenu ul li {
                padding: 10px 25px 10px 25px;
                cursor: pointer;
            }

            #sideMenu #secondLevelMenu ul li:hover{
                background-color: #1389C5;
            }


#clientLogo {
    height: 80px;
}

    #clientLogo img {
        width: 200px;
        height:auto;
        max-height: 95px;
    }

#pagePanel {
    margin-left: 200px;
}

#applicationHeader {
     background: linear-gradient(#03699E, #1389C5);
     height:65px;
     /*padding: 5px;*/
     padding-left: 25px;
     padding-right: 25px;
     /*padding-bottom: 10px;*/

}

    #applicationHeader #clientName, #description {
        display: block;
        color:white
    }

    #applicationHeader #clientName {
        font-size:23px;
    }

    #applicationHeader #description {
        font-size:18px;
    }

    #applicationHeader #lookupSection {
        float: right;
    }

        #applicationHeader #lookupSection #clientLookup {
            /*display: inline-block;*/
            border: solid thin white;
            border-radius: 10px;
            background-color: gray;
            height:27px;
            margin-top:3px;
        }

            #applicationHeader #lookupSection #clientLookup i {
                vertical-align: middle;
                color: white;
                font-size: 14px;
                padding: 5px;
                padding-left: 15px;
            }

            #applicationHeader #lookupSection #clientLookup input {
                height: 25px;
                border: solid thin gray;
                border-radius: 0px 10px 10px 0px;
                width: 300px;
                padding-left: 10px;
            }

    #applicationHeader #logoutSection {
        color: white;
        font-size: 14px;
        text-align: right;
    }

        #applicationHeader #logoutSection i {
            font-size: 24px;
        }

/* ------------- error panel styles start--------*/
.errorExpanded {
    height:100px !important;
    overflow:auto !important;
}
.errUpDownArrowDiv {
font-size:18px;
float:left;
display:inline-block;
}
    .errUpDownArrowDiv .fa-caret-up {
        display:none;
    }

.clientErrorList
{
    margin-left: 0px !important;
    margin-top: 10px;
    padding: 8px;
    margin-bottom: 9px;
    width: 98%;
    height: 32px;overflow:hidden;
}

.errorLabelfull
{
    height: auto;
    max-width: 90%;
    white-space: normal !important;
    color:#E74F3E;
      display:inline-block;
}
/* ------------- error panel styles end-------------*/

.mediumLblDiv {
    float:left;
    width:125px;
}
.extraSmallLbldiv{
    float:left;
    width:75px;
    }
.smallLblDiv {
     float:left;
    width:90px;
}
.largeLblDiv {
    float:left;
    width:150px;
}
.fullwidthTextbox {
    height:25px;
    width:100%
}
.activePageMenu{
    font-weight:bold;
    background-color: #243342;
    border-radius: 5px 5px 0px 0px;
}
.activePageMenu a{
    color:white !important;
}
.activeMainMenu {
     background-color: #1389C5;
}

.greenBtn{
    background-color:#008000;
    color: white;
    border-color: #006400;
}
    .greenBtn:hover {
        color:white;
    }
.yellowBtn{
    background:#ffe100 !important;
    color: black !important;
}
.alignNumeric {
text-align:right;
}
.sectionHead{
        background-color: gray;
    padding: 5px;
    color: white;
    font-weight: bold;
    height: 37px;
}



 .dataGrid table td  #terminal{
            display: inline;
            
        }

 
.nmfcWarning{
    color:red;
}
input[type="checkbox"] {
    cursor:pointer;
}
input[type="radio"] {
    cursor:pointer;
}

#map-canvas {
  height: 60em;
  width: 60em;
}
