﻿
.AddOn_div
{
    display: block;     
    list-style: none;    
    /*background-size:cover;*/ 
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    /*height:250px;*/
    min-height : 350px;
    /*padding: 25px;*/


        width:100%;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;

}


.AddOnsBar {
  width: 100%;
  height: 50%;
 min-height: 80px;
  border-radius: 2px;
  background-color: rgba(155, 154, 155, 0.6);
  border: solid 0.5px rgba(216, 216, 216, 0.6);
  text-align:center;
}



.tblBar {

    display: inline-block;
    vertical-align: middle;
    text-align: center;



}


.AddOnTitle {
  font-family: Nexa;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.9;
  text-align: center;
  color: #f5a623;
}


.AddOnDetailTitle {
  font-family: Nexa;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height:  0.98;
  text-align: left;
  color: #9b9b9b;
}

.AddOnDetail {
  font-family: Nexa;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.94;
  text-align: left;
  color: #9b9b9b;  
}

.Price {
  font-family: Nexa;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.94;
  text-align: left;
  color: #9b9b9b;
}


.btn-book{
    background-color: #f5a623;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    border: solid 0.5px #979797;
    border-radius: 0px;
    font-family: HelveticaNeue;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    /* line-height: 0.63; */
    color: #ffffff;
    padding-left: 35px;
    padding-right: 35px;   
}

#AddOnDetail{    
    border: solid 0.5px #979797;
}


/*Detail images for each add on*/
.addons_detailimage{
    width:100%;
}

/*ul AddOns types*/
ul#ul_AddOnsTypes {        
    padding: 15px;    
    margin-bottom: 5px;
    margin-top: 5px;
}

    ul#ul_AddOnsTypes li {
        display: inline;
        list-style: none;
        padding-left: 15px;
        padding-right: 15px;
        cursor: pointer;
    }

        ul#ul_AddOnsTypes li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

        ul#ul_AddOnsTypes li a:hover {
            color: #333;
            text-decoration: none;
        }




/* -- Other promotions Add-Ons --*/

#PromotionsDiv{
    background-color: #f3f3f3;
    border: solid 0.5px #979797;
    padding: 10px;
}
.OtherPromotionsLabel{
  font-family: Montserrat;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.32;
  text-align: center;
  color: #000000;
}

/* Other add-ons slider*/
.bx-viewport {
    /*height: 100% !important;*/
    left: 0px !important;
    background-color: #f3f3f3 !important;
    border: none !important;
}

.slide {            
    padding-top:10px;
    padding-bottom: 10px; 
    padding-left:47px;   
    padding-right:47px;
}

.bx-wrapper img {
	max-width: 100%;
    width: 100%;
	display: block;
}

/*.bx-wrapper {
    max-width: 100% !important;
}*/

.ReadyWithYourBookDiv{
    border: solid 0.5px #979797;
}

.Ready_with_your_book_label {  
  font-family: Nexa;
  font-size: 17.5px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  text-align: center;
  color: #f5a623;
}

.pay_now button
    {       
        background-color: #f5a623;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
        border: solid 0.5px #979797;
        border-radius: 0px;
        font-family: Nexa;
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;        
        color: #ffffff;
        min-height: 72px;
        
    }

.pay_now .btn.focus, .btn:focus, .btn:hover
    {
        color: #ffffff;
        border-color: #979797;        
    }

/* summarysection styles */

/*Summary Panel*/
#summarysection{    
    padding-top: 7%;
    padding-bottom: 5%;
    padding-left: 5%;      
}

.summarybox{
     border-radius: 4px;
     background-color: #f3f3f3; 
     border: solid 0.5px #979797; 
     padding: 2px;
     text-align: center;
}

.summarytitle{
  font-family: Nexa;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.8;
  text-align: center;
  color: #f5a623;
}

ul#summarysection-menu {    
    margin: 0 0 5px;
    padding: 0;    
}

    ul#summarysection-menu li {                     
        width: 95%;
        padding: 0 2.5%;
        display: inline-block;   
        font-family: Nexa;
        font-size: 14px;        
        font-style: normal;
        font-stretch: normal;
        line-height: 1.05;
        text-align: left;
        color: #4a4a4a;          
    }

ul#summary_addons{
    margin: 0 0 5px;
    padding: 0;
}

    ul#summary_addons li {                     
        width: 95%;
        padding: 0 2.5%;
        display: inline-block;   
        font-family: Nexa;
        font-size: 14px;        
        font-style: normal;
        font-stretch: normal;
        line-height: 1.05;
        text-align: left;
        color: #4a4a4a;          
    }

    ul#summary_addons li div hr {                     
        border-top: 1px solid #f5a623; 
        margin-top:5px; 
        margin-bottom: 10px;        
    }


ul#summary_total{
    margin: 0 0 5px;
    padding: 0;
}

    ul#summary_total li {                     
        width: 95%;
        padding: 0 2.5%;
        display: inline-block;   
        font-family: Nexa;
        font-size: 14px;        
        font-style: normal;
        font-stretch: normal;
        line-height: 1.05;
        text-align: left;
        color: #4a4a4a;          
    }
    
    ul#summary_total li div hr {                     
        border-top: 1px solid #f5a623; 
        margin-top:5px; 
        margin-bottom: 5px;        
    }   

.left_item_summary{
    float:left;   
    font-family: Nexa;   
    font-weight: bold;  
}

    .left_item_summary.item{                
        font-weight: normal;  
    }

.right_item_summary{
   float: right;
   font-family: Nexa;    
   font-weight: normal;    
}


.Discount_item_summary{
   text-decoration: line-through;
}

    .right_item_summary.item{                
        font-weight: bold;  
    }

    .right_item_summary label{                
        font-weight: normal;  
    }

.SummaryTotalLabel{
  font-family: Nexa;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.50;
  color: #f5a623;
}

.addon_summary_item_desc{    
    text-align:left;
    width: 100%;
    line-height: 1.75;
}
    
.addon_summary_item_price{   
    text-align:right;    
}

.addon_button{
    padding-left:5px;        
}

.addon_button img{
    cursor:pointer;
    width: 10px;
    height: 10px;
}

.rooms_summary_item_desc{    
    text-align:left;
    width: 65%;
    line-height: 1.75;
}

/*--- Responsive @media---*/

@media (max-width:768px) {
    #summarysection {
        float: none;
        width: 100%;
        overflow: hidden;
        padding: 3%;
    }
}

@media (min-width: 768px){
    .col-sm-3 {
        width: 30%;
    }
}

@media (min-width: 768px){
    .col-sm-9 {
        width: 70%;
    }
}

.StartOverDiv{
    text-align: center;
    padding-top: 5%;    
    padding-left: 5%;
}

.btn-startover{
    background-color: #f5a623;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    border: solid 0.5px #f5a623;
    border-radius: 0px;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    /* line-height: 0.63; */
    color: #ffffff;
    padding-left: 35px;
    padding-right: 35px;   
}