body.container {
	background: url(images/background.jpg) no-repeat top left #000 fixed!important;
	padding: 0 10% !important;
}
header, #MasterDivMainContent{
	background: url(images/opacity.png) repeat top left !important;
	margin-bottom:10px !important;
}
#MasterDivMainContent.col-sm-9{
	width:68% !important;
	margin-top:10px !important;
}
.OtherPromotionsLabel{
	color:#fff !important;
}
.navbar-default{
	background:none !important;
}
.navbar-default .navbar-nav>li>a{
	color:#fff;
}
.navbar-default .navbar-nav>li>a{
	color:#fff !important;
}
.AddOn_div{
	background-size:auto !important;
}
ul#ul_AddOnsTypes li{
	display:inline-block !important;
	background:url(images/opacity.png) repeat top left !important;
	border:solid white 1px !important;
	margin:10px !important;
}
ul#ul_AddOnsTypes li img{
	width:75px !important;
}
.OtherPromotionsLabel{
	margin:10px 0 !important;
	border-bottom:solid 1px #ffa500;
}
.bx-wrapper li.slide > div{
	background:url(images/opacity.png) repeat top left !important;
}
.AddOnDetailTitle, .AddOnDetail{
	color:#fff !important;
	line-height:1 !important;
}
.AddOnDetail{
	height:auto !important;
}
.bx-wrapper .bx-viewport{
	background:none !important;
	box-shadow:none !important;
}
.navbar-default .navbar-nav>li>a.header_bar_li_a_selected{
	background:none !important;
	color:#ffa500 !important;
	font-weight:bold;
}
.navbar-default .navbar-nav>li>a:hover{
	background:none !important;
	color:#fff !important;
}
.AcceptConditions{
	color:#fff;
	font-weight:normal !important;
}
.firstitemmenu, ul#ul_nav_bar_id li{
	border:none !important;
}
.navbar-brand>img{
	margin:0 0 0 5px;
}
.navbar .nav{
	width:90% !important;
}
.btn-startover, #pay_now_button, .btn-book{
	border-radius:3px !important;
	background:#ffa500 !important;
	color:#fff !important;
	font-weight:normal !important;
	font-size:14px !important;
	border:solid #fff 1px !important;
	letter-spacing: 0.5px
}
.btn-startover:hover, .btn-book:hover{
	background:none !important;
	border:solid #fff 1px !important;
}
.btn-book{
	margin-bottom:10px;
}
.AddOnsBar, #PromotionsDiv{
	background:none !important;
	border:none !important;
}
ul#ul_AddOnsTypes{
	padding:0 !important;
}
.AddOn_div{
	min-height:0 !important;
	margin-top:10px;
	background-position:center !important;
}
#pay_now_button, .pay_now button{
	margin: 0 auto !important;
    display: block;
    padding: 10px 50px !important;
    font-size: 16px !important;
	font-style:italic !important;
	background:#009bb9 !important;
}
.pay_now button{
	border-radius:3px !important;
	border:solid white 1px !important;
	min-height:auto !important;
	font-family: Avenir, Arial, sans-serif!important;
	font-weight:normal !important;
}
.ReadyWithYourBookDiv{
	border:none !important;
	padding-bottom:10px;
}
#pay_now_button:hover, .pay_now button:hover{
	background:#006f98 !important;
}

#progress_promocode a, #progress_language a, #login_item_bar a{
	border-radius:2px;
	background:#ffa500;
	margin:0 5px;
	width:110px;
	height:auto;
	padding:5px;
	color:#fff !important;
	border:solid 1px #ddd;
}
#progress_promocode a:hover, #progress_language a:hover, #login_item_bar a:hover{
	border:solid white 1px;
	color:#fff!important;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	border-radius:2px;
	background:#ffa500;
	color:#fff !important;
	font-weight:normal !important;
	letter-spacing: 0.5px;
}
ul#progressmenu li {
	border: none!important
}
ul#progressmenu li a {
	color: #fff
}
.contenttitle{
	font-size: 16px !important;
    color: #fff !important;
    border-bottom: solid 1px #ffa500;
    padding: 10px !important;
    margin-bottom: 15px !important;
	text-align:center !important;
	line-height: 1 !important;
}
.paynowmessage{
	color:#f5a623 !important;
}
.progressmenustyle, .featured p, .roomtype, .roompricelabel, .Pernightlabel, .nonrefundablelabel, .Room_Information_Title, .Room_Information_Text, .book_section_tables2 button, .ModalHeaderStyle, .form-group label.control-label.col-sm-2, .pay_now button{
	font-family: Avenir, Arial, sans-serif!important;
	color: #fff!important
}
.Maxcapacityguest, .Room_Information_Title, .DialogAlertMessage, .PickerStyle .datepick-nav, .summarytitle, .left_item_summary, .right_item_summary, ul#summarysection-menu li, .SummaryTotalLabel, .contenttitle, .paynowmessage, .AcceptConditions, #pay_now_button, .OtherPromotionsLabel, .AddOnDetailTitle, .AddOnDetail, .Ready_with_your_book_label{
	font-family: Avenir, Arial, sans-serif!important;
	font-weight: normal !important;
}

.form-group label.control-label.col-sm-2{
	line-height:1 !important;
	font-size:15px !important;
}
.SummaryTotalLabel{
	color:#ffa500 !important;
	font-weight:bold !important;
}

.Room_Information_Title{
	font-size:17px !important;
	text-align:left !important;
	font-style:italic !important;
	padding-bottom:0px !important;
	padding-top:0px !important;
}
.Room_Information_Text{
	line-height:1.5 !important;
}
ul#progressmenu {
	font-size: 14px;
	font-weight: normal
}
.featured {
	border: none;
	background:none !important;
}
.featured p {
	color: #fff;
	font-size: 20px;
	font-weight: normal;
	font-style: italic;
	margin: 0 !important;
	background: url(images/opacity.png) repeat top left;
	border-top:#ffa500 solid 1px;
	border-bottom:#ffa500 solid 1px;
}
#tblPromotionalCodeSection tr {
	display: block;
	float: left
}
#btnPromoCode {
	margin-top: 0;
	margin-left: -5px;
	border: solid #ccc 1px;
	border-radius: 3px;
	height: 34px
}
#txtPromotionalCode {
	padding-right: 25px
}
.roomtype {
	font-weight: 400 !important;
	font-size:22px !important;
}
.Pernightlabel {
	color: #fff!important;
	font-weight: normal!important
}
.li_table_room {
	background: url(images/opacity.png) repeat top left;
	padding: 15px;
	width:420px !important;
	display: block;
}
.li_room_left{
	float:right !important;
}
#login-dp{
	background: white !important;
    border: solid 1px #909090 !important;
	border-radius:3px !important;
}
.Book_Now_Button{
	display:block !important;
	margin:0 auto !important;
	padding:10 30px !important;
}
.room_div {
	padding: 0!important;
	border: solid #fff 1px;
	margin-top: 15px;
	background-size: auto 100% !important;
	background-color: rgba(0, 0, 0, 0.5);
}
.book_section_table_td_header, .bookcalendartitle {
	font-family: Avenir, Arial, sans-serif!important;
	font-style: italic!important;
	font-size: 16px!important;
	font-weight: 600;
	padding-top: 5px
}
.book_section_tables2 button {
	font-size: 18px!important;
	font-weight: 600!important;
	font-style: italic !important;
	min-height: auto !important;
	width:auto !important;
	margin:10px auto !important;
    padding: 15px 60px;
	background:#ffa500 !important;
	
}
.book_section_table_td_content, .PickerStyle .datepick-month-header, .PickerStyle .datepick-month-header select {
	font-family: Avenir, Arial, sans-serif!important;
	font-size: 14px!important;
	font-weight: normal!important
}
.DateCellStyle, .UnavailableDateCellStyle, .footersubtitle2, .footersubtitle {
	font-family: Avenir, Arial, sans-serif!important
}
.DateCellStyle, .UnavailablebySaleStyle, .footersubtitle2, .footersubtitle {
	font-family: Avenir, Arial, sans-serif!important
}
.PickerStyle .datepick-nav .datepick-cmd {
	font-size: 14px!important;
	color: #f5a623!important
}
.PickerStyle .datepick-month-header, .PickerStyle .datepick-month-header select {
	padding-top: 10px
}
.UnavailableDateCellStyle {
	background-color: #fd5454!important;
	color: #fff!important
}
.UnavailablebySaleStyle {
	background-color: #FDA954!important;
	color: #fff!important
}
.footerstyle {
	background: url(images/opacity.png) repeat top left;
	border: none;
	margin-top: 15px
}
.footersubtitle2, .footersubtitle {
	font-size: 14px
}
.Room_Information_Text {
	font-weight: normal!important
}
.progressmenustyle{
	font-size:14px !important;
}


@media(max-width:1056px) {
body.container {
	padding: 0 !important;
}
}
@media(max-width:840px) {
	#progress_promocode a, #progress_language a, #login_item_bar a{
		width:auto !important;
	}
}
@media(max-width:785px) {
	.navbar .nav{
		width:80% !important;
	}
}
@media(max-width:768px) {
	#MasterDivMainContent.col-sm-9{
		width:100% !important;
	}
.li_table_room {
	width: 100%!important;
}
.progressmenustyle {
	margin-top: 10px;
}
	#progress_promocode a, #progress_language a, #login_item_bar a{
		margin-top:10px;
		width:150px !important;
	}
}

@media(max-width:490px) {
.PickerStyle .datepick-month-header, .PickerStyle .datepick-month-header select {
	padding-top: 0!important
}
}


#UserNameDivSection{
    color: white;
}

.UserNameSection{
    color: white;
}


#SignOutSection.UserNameSection{
    color: #525252;
}
