﻿/* summarysection styles */

/*Div Panels*/

#panels{
   /*border: solid 0.5px #979797;*/
}

/*Summary Panel*/
#summarysection{
    /*float:left;
    width:30%;
    overflow:hidden;*/ 
    padding-top: 7%;
    padding-bottom: 5%;
    padding-left: 5%;      
}

.summarybox{
     border-radius: 4px;
     background-color: #f3f3f3; 
     border: solid 0.5px #979797; 
     padding: 2px;
     text-align: center;
}

.summarytitle{
  font-family: Nexa;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.8;
  text-align: center;
  color: #f5a623;
}

ul#summarysection-menu {    
    margin: 0 0 5px;
    padding: 0;    
}

    ul#summarysection-menu li {                     
        width: 95%;
        padding: 0 2.5%;
        display: inline-block;   
        font-family: Nexa;
        font-size: 14px;        
        font-style: normal;
        font-stretch: normal;
        line-height: 1.05;
        text-align: left;
        color: #4a4a4a;          
    }

ul#summary_addons{
    margin: 0 0 5px;
    padding: 0;
}

    ul#summary_addons li {                     
        width: 95%;
        padding: 0 2.5%;
        display: inline-block;   
        font-family: Nexa;
        font-size: 14px;        
        font-style: normal;
        font-stretch: normal;
        line-height: 1.05;
        text-align: left;
        color: #4a4a4a;          
    }

    ul#summary_addons li div hr {                     
        border-top: 1px solid #f5a623; 
        margin-top:5px; 
        margin-bottom: 10px;        
    }


ul#summary_total{
    margin: 0 0 5px;
    padding: 0;
}

    ul#summary_total li {                     
        width: 95%;
        padding: 0 2.5%;
        display: inline-block;   
        font-family: Nexa;
        font-size: 14px;        
        font-style: normal;
        font-stretch: normal;
        line-height: 1.05;
        text-align: left;
        color: #4a4a4a;          
    }
    
    ul#summary_total li div hr {                     
        border-top: 1px solid #f5a623; 
        margin-top:5px; 
        margin-bottom: 5px;        
    }   

.left_item_summary{
    float:left;   
    font-family: Nexa;   
    font-weight: bold;  
}

    .left_item_summary.item{                
        font-weight: normal;  
    }

.right_item_summary{
   float: right;
   font-family: Nexa;    
   font-weight: normal;    
}


.Discount_item_summary{
   text-decoration: line-through;
}

    .right_item_summary.item{                
        font-weight: bold;  
    }

    .right_item_summary label{                
        font-weight: normal;  
    }

.SummaryTotalLabel{
  font-family: Nexa;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.50;
  color: #f5a623;
}

.addon_summary_item_desc{    
    text-align:left;
    width: 100%;
    line-height: 1.75;
}
    
.addon_summary_item_price{   
    text-align:right;
}

.addon_button{
    padding-left:5px;        
}

.addon_button img{
    cursor:pointer;
    width: 10px;
    height: 10px;
}

/*Content Panel*/
#checkoutcontent{
    /*width:70%;
    overflow:hidden;*/
    padding: 3%;  
}


.form-group label.control-label.col-sm-2 {
  text-align: left;
  font-family: Nexa;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.86;
  text-align: left;
  color: #4a4a4a;
}

.contenttitle{
  font-family: Nexa;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.8;
  text-align: left;
  color: #f5a623;
  padding-bottom: 5px;
}

.paymentinfofield{
    margin-bottom: 7px !important;
    width: 100%;
}

.form-group input{
    font-family: HelveticaNeue;
    font-size: 15px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #4a4a4a;
}

.left_item_expiration_card{
  float:left;   
  font-family: HelveticaNeue;
  font-size: 15px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #4a4a4a;  
  width:48%;
}

.right_item_expiration_card{
  float:right;   
  font-family: HelveticaNeue;
  font-size: 15px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #4a4a4a;    
  width:48%;
}

#txtCVC{
    width:48%
}

div#checkoutcontent form hr {                     
        border-top: 1px solid #f5a623; 
        margin-top:5px; 
        margin-bottom: 5px;        
}   

.paynowmessage { 
  font-family: Nexa;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  color: #522601;
}

.AcceptConditions {  
  font-family: Nexa;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: #4a4a4a;
}

#pay_now_button
    {       
        background-color: #f5a623;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
        border: solid 0.5px #f5a623;
        border-radius: 0px;
        font-family: Nexa;
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;        
        color: #ffffff;
        padding-left: 13px;
        padding-right: 13px;  
    }


#pay_now_button .btn.focus, .btn:focus, .btn:hover
    {
        color: #ffffff;
        border-color: #979797 !important;        
    }

/*#btnPromoCode .btn.focus, .btn:focus, .btn:hover {
        color: #4a4a4a;
}*/

#btnStartOver .btn.focus, .btn:focus, .btn:hover {
        color: #ffffff;
        border-color: #979797;
}

.StartOverDiv{
    text-align: center;
    padding-top: 5%;    
    padding-left: 5%;
}

.btn-startover{
    background-color: #f5a623;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    border: solid 0.5px #f5a623;
    border-radius: 0px;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    /* line-height: 0.63; */
    color: #ffffff;
    padding-left: 35px;
    padding-right: 35px;   
}

.rooms_summary_item_desc{    
    text-align:left;
    width: 65%;
    line-height: 1.75;
}

#termconditions{    
    height: 200px;
    border: 1px solid #ccc;
    background: #f2f2f2;
    padding: 6px;
    overflow: auto;
}

/*Pay now button from terms and conditions popup*/
#btnPayNow{
    margin: 0 auto !important;
    display: block;
    padding: 10px 50px !important;
    font-size: 16px !important;
    font-style: italic !important;
    background: #009bb9 !important;
    border-radius: 3px !important;    
    color: #fff !important;
    font-weight: normal !important;
    font-size: 14px !important;
    border: solid #fff 1px !important;
    letter-spacing: 0.5px;
}

#btnPayNow:hover{
        background: #006f98 !important;
}

.ModalHeaderTermConditionsPopup{
    background-color: dimgray !important;
    font-family: Nexa;
    color: #4a4a4a;
}

#lblTermsWarning{
    color: indianred;
    font-size: 12px;
}

/*--- Responsive @media---*/

@media (max-width:768px) {
    #summarysection {
        float: none;
        width: 100%;
        overflow: hidden;
        padding: 3%;
    }
}

@media (max-width:702px) {
   .right_item_expiration_card{
      float:left;           
      width:48%;
    }

   .left_item_expiration_card{
      padding-bottom: 3%;
      float: none;
    }
}

@media (max-width:395px) {
    .left_item_expiration_card{       
        width:100%;
    }

    .right_item_expiration_card{
        width:100%;
    }
}

@media (max-width:465px) {
    .bootstrap-select.btn-group .dropdown-menu {    
        width: 100%;    
    }
}



@media (min-width: 768px){
    .col-sm-3 {
        width: 30%;
    }
}

@media (min-width: 768px){
    .col-sm-9 {
        width: 70%;
    }
}


/*------------------------*/
