﻿/*Summary Panel*/
#summarysection{
    /*float:left;
    width:30%;
    overflow:hidden;*/ 
    padding-top: 7%;
    padding-bottom: 5%;
    padding-left: 5%;      
}

.summarybox{
     border-radius: 4px;
     background-color: #f3f3f3; 
     border: solid 0.5px #979797; 
     padding: 2px;
     text-align: center;
}

.summarytitle{
  font-family: Nexa;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.8;
  text-align: center;
  color: #f5a623;
}

ul#summarysection-menu {    
    margin: 0 0 5px;
    padding: 0;    
}

    ul#summarysection-menu li {                     
        width: 95%;
        padding: 0 2.5%;
        display: inline-block;   
        font-family: Nexa;
        font-size: 14px;        
        font-style: normal;
        font-stretch: normal;
        line-height: 1.05;
        text-align: left;
        color: #4a4a4a;          
    }

ul#summary_addons{
    margin: 0 0 5px;
    padding: 0;
}

    ul#summary_addons li {                     
        width: 95%;
        padding: 0 2.5%;
        display: inline-block;   
        font-family: Nexa;
        font-size: 14px;        
        font-style: normal;
        font-stretch: normal;
        line-height: 1.05;
        text-align: left;
        color: #4a4a4a;          
    }

    ul#summary_addons li div hr {                     
        border-top: 1px solid #f5a623; 
        margin-top:5px; 
        margin-bottom: 10px;        
    }


ul#summary_total{
    margin: 0 0 5px;
    padding: 0;
}

    ul#summary_total li {                     
        width: 95%;
        padding: 0 2.5%;
        display: inline-block;   
        font-family: Nexa;
        font-size: 14px;        
        font-style: normal;
        font-stretch: normal;
        line-height: 1.05;
        text-align: left;
        color: #4a4a4a;          
    }
    
    ul#summary_total li div hr {                     
        border-top: 1px solid #f5a623; 
        margin-top:5px; 
        margin-bottom: 5px;        
    }   

.left_item_summary{
    float:left;   
    font-family: Nexa;   
    font-weight: bold;  
}

    .left_item_summary.item{                
        font-weight: normal;  
    }

.right_item_summary{
   float: right;
   font-family: Nexa;    
   font-weight: normal;    
}


.Discount_item_summary{
   text-decoration: line-through;
}

    .right_item_summary.item{                
        font-weight: bold;  
    }

    .right_item_summary label{                
        font-weight: normal;  
    }

.SummaryTotalLabel{
  font-family: Nexa;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.50;
  color: #f5a623;
}

.addon_summary_item_desc{    
    text-align:left;
    width: 100%;
    line-height: 1.75;
}
    
.addon_summary_item_price{   
    text-align:right;
}

.addon_button{
    padding-left:5px;        
}

.addon_button img{
    /*cursor:pointer;*/
    width: 10px;
    height: 10px;
}


/*Content Panel*/
#checkoutcontent{
    /*width:70%;
    overflow:hidden;*/
    padding: 3%;  
}

.confirmationmessage {  
  font-family: Nexa;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  text-align: left;
  color: white;
  width:75%;
  padding-top: 10px;
}

.contenttitle {  
  font-family: Nexa;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  text-align: left;
  color: #f5a623;
}

.rooms_summary_item_desc{    
    text-align:left;
    width: 65%;
    line-height: 1.75;
}

#btnStartOver .btn.focus, .btn:focus, .btn:hover {
        color: #ffffff;
        border-color: #979797;
}

.StartOverDiv{
    text-align: center;
    padding-top: 5%;    
    padding-left: 5%;
}

.btn-startover{
    background-color: #f5a623;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    border: solid 0.5px #f5a623;
    border-radius: 0px;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    /* line-height: 0.63; */
    color: #ffffff;
    padding-left: 35px;
    padding-right: 35px;   
}

/*--- Responsive @media---*/

@media (max-width:768px) {
    #summarysection {
        float: none;
        width: 100%;
        overflow: hidden;
        padding: 3%;
    }
}

@media (min-width: 768px){
    .col-sm-3 {
        width: 30%;
    }
}

@media (min-width: 768px){
    .col-sm-9 {
        width: 70%;
    }
}
