﻿#dialogPaymentPopup{
    width: 100% !important;
    min-height: auto !important;
}

.paymentpopup_toplabels { 
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #4a4a4a;
  padding: 10px;
  /*border: solid 0.5px #979797;*/
  border: 1px solid #ddd;
}

.paymentpopup_leftsection {
  /*width: 188px;
  height: 391.5px;
  opacity: 0.22;
  mix-blend-mode: hard-light;
  -webkit-filter: blur(9.1px);
  filter: blur(9.1px);*/
  background-color: #0c2543;
  height:100%;
}

.to_pay_label { 
  font-family: Nexa;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #ffffff;
}

.cancel_your_payment {  
  font-family: HelveticaNeue;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #ffffff !important;
  background-color: #0c2543;
  padding-left: 0px;
  padding-right: 0px; 
  border: none;   
  cursor: pointer;   
}

.cancel_your_payment:hover, .cancel_your_payment:active, .cancel_your_payment:active:hover, .cancel_your_payment:focus{
    background-color: #0c2543;
    border: none;
}

.leftsection_rowup {
    height: 90%;
    padding-top: 125%;
}

.leftsection_rowdown {
    height: 10%;
    padding-top: 5%;        
    text-align: center;
    padding-top: 110%;
    padding-bottom: 5%;
}

#lbTotalToPay{
    font-size: 26px;
}

.Log_In { 
  font-family: HelveticaNeue;
  font-size: 15px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  color: #4a4a4a;
  text-align: center;
  padding-top: 25%;
}

.payment_popup_button{       
      background-color: #f5a623;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      border: solid 0.5px #979797;
      border-radius: 0px;
      font-family: HelveticaNeue;
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      color: #ffffff;
      padding-left: 13px;
      padding-right: 13px; 
      width: 75%;     
}

.payment_popup_button:hover, .payment_popup_button:active, .payment_popup_button:active:hover, .payment_popup_button:focus{
    background-color: #f5a623;
}

.rightsection_row{
    text-align:center;
}

.close_button_div{
    padding-top: 50%;
    padding-bottom: 3%;
    text-align: right;
}

/*--- Responsive @media---*/

@media (max-width:767px) {
   .leftsection_rowup {   
    padding-top: 5%;
    }

    .leftsection_rowdown {                  
        padding-top: 5%;    
    }

    .Log_In {       
        padding-top: 5%;
    }

    .close_button_div{
        padding-top: 10%;        
    }
}