﻿ul#ul_rooms
{
     padding: 0;
     margin-bottom: auto;
}

    ul#ul_rooms li {   
        display: block;     
        /*list-style: none;
        padding-left: 15px;
        background-size:cover; 
        background-repeat: no-repeat; 
        height:250px;
        padding-top: 10px;
        padding-bottom: 30px;*/
    }

.roomtype
{    
  font-family: Nexa;
  font-size: 30px;
  font-weight: bold;
  line-height: 0.9;
  text-align: center;
  color: #ffffff;
}

.li_room_right
{
     float:right;
}

.li_room_left
{
    float:left;
}

.li_table_room
{
    width:50%;   
}

.roompricelabel { 
  font-family: Nexa;
  font-size: 30px;
  font-weight: 300;
  line-height: 0.9;
  text-align: center;
  color: #ffffff;
  padding-right: 10px
}

.Maxcapacityguest { 
  font-family: Nexa;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.88;
  text-align: left;
  color: #f5a623;
}

.Pernightlabel {  
  font-family: Nexa;
  font-size: 20px;
  font-weight: 600;
  line-height: 0.94;
  color: #525252;
}

.nonrefundablelabel {  
  font-family: Nexa;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.57;
  color: #525252;
  vertical-align:top;
}

.Room_Information_Title {  
  font-family: Nexa;
  font-size: 16px;
  font-weight: bold;  
  color: #525252;
}

.Room_Information_Text {  
  font-family: Nexa;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.25;
  color: #525252;
}

.Book_Now_Button_Text {  
  font-family: Nexa;
  font-size: 9px;
  font-weight: bold;
  line-height: 1.05;
  color: #4a4a4a;
}

.Book_Now_Button_Rectangle {  
  background-color: #ffffff;
  border: solid 0.5px #000000;
}

.Book_Now_Button {
    background-color: #ffffff;
    border: solid 0.5px #000000;
    color: #4a4a4a;
    padding: 10px 25px;
    text-align: center;
    font-family: Nexa;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.05;        
}

.room_div
{
    display: block;     
    list-style: none;    
    /*background-size:cover;*/ 
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    /*height:250px;*/
    padding: 25px;

}

    head+body .room_div{overflow:hidden;}

.book_section_style
{
  min-height: 515px; 
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  border: solid 0.5px #979797;
}

.book_section_table_style
{
  width: 100%; 
  min-height: 72px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  border: solid 0.5px #979797;
  height: 72px;  
}    

    /*Spinners*/
    .book_section_table_style .ui-spinner
    {
        /*width: 25%;*/        
    }

    .book_section_table_style .ui-widget.ui-widget-content
    {
       border: none;
    }

    .book_section_style .AdultsSpinner.ui-spinner-input, .KidsSpinner.ui-spinner-input, .InfantsSpinner.ui-spinner-input
    {
      width: 25px;
      text-align:center;
      font-family: Nexa;
      font-size: 12px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.94;
      color: #4a4a4a;
    }

.book_section_table_td_header
    {
      text-align:center;
      font-family: Nexa;
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.35;
      color: #4a4a4a;
    }

.book_section_table_td_header_label
{
    padding-top: 5px;
    padding-bottom: 5px;    
}

.book_section_table_td_content
    {
      text-align:center;
      font-family: Nexa;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;      
      color: #f5a623;
      min-height: inherit;
    }

.book_section_table_td_content_label
{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    font-size: 16px;
    /*border-right-color: rgb(151, 151, 151);
    border-right-style: solid;
    border-right-width: 0.5px;
    border-radius: 0px;*/

}

.ArriveAndDepartureDatesLabel
{   
    font-size: 17.5px;  
    line-height: 1.29;  
}

.book_section_tables2
{
    /*width:25%;
    height:100%;    
    float:left;*/
    /*height:71px;*/
    min-height: inherit;
}

    .book_section_tables2 button
    {       
        background-color: #f5a623;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
        border: solid 0.5px #979797;
        border-radius: 0px;
        font-family: Nexa;
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        /*line-height: 0.63;*/
        color: #ffffff;
        min-height: inherit;
        
    }

    .book_section_tables2 .btn.focus, .btn:focus, .btn:hover
    {
        color: #ffffff;        
    }


/*Calendar Styles*/    
/*.Calendar_TD .ui-datepicker td,
.ui-datepicker th {   
  width: 36.4px;
  height: 40.3px;
  background-color: #ffffff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  border: solid 0.5px #d7d7d7;
}

.Calendar_TD .ui-datepicker table
{
    border-spacing: 10px;
    border-collapse: separate !important;
}

.Calendar_TD .ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.ui-datepicker-multi-2.ui-datepicker-multi {    
    width: 100% !important;
}*/

.book_section_style
{
  /*height: 72.5px;*/
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  border: solid 0.5px #979797;
}

.bookcalendartitle {  
  font-family: Nexa;
  font-size: 17.5px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.63;
  color: #4a4a4a;
  text-align:center;
  padding: 10px;

  border-top-color: rgb(151, 151, 151);
  border-top-style: solid;
  border-top-width: 0.5px;
  border-radius: 0px;
}


/*datepicker jquery plugin styles*/

.DateCellStyle {           
  height: 47.3px;
  font-family: Nexa;
  font-size: 10.2px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25; 
  background-color: #ffffff !important;
  padding: 0.5em 0em !important;
}

.UnavailablebySaleStyle {
  height: 47.3px;
  font-family: Nexa;
  font-size: 9.2px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25; 
  background-color: #FDA954 !important;
  padding: 0.5em 0em !important;
  cursor: not-allowed;  
}

.UnavailableDateCellStyle {
  height: 47.3px;
  font-family: Nexa;
  font-size: 9.2px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25; 
  background-color: lightcoral !important;
  padding: 0.5em 0em !important;
  cursor: not-allowed;  
}

.PickerStyle {
    width:auto !important;
}

.PickerStyle .datepick-month-header, 
.PickerStyle .datepick-month-header select { 
    background-color: #ffffff; 
    font-family: Nexa;
    font-size: 14.8px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;    
    color: #4a4a4a;
    text-transform: uppercase;
}
.PickerStyle .datepick-month th, .datepick-month th a { display:none;}
.PickerStyle .datepick-month { width:50%; border: 1px dotted lightgray;}
.PickerStyle .datepick-month td { 
  width: 14.28%;  
  background-color: #ffffff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  border: solid 0.5px #d7d7d7;  
}

.PickerStyle .datepick-month table {   
    border-spacing: 7px;
    border-collapse: separate !important;
}

.PickerStyle .datepick-month td .datepick-highlight {
	background-color: #ffffff;
    border: solid 1px #f5a623;
}

.PickerStyle .datepick-month td .datepick-today {
	background-color: #FCE7C2 !important;    
}

.PickerStyle .datepick-month td .datepick-other-month {
	background-color: #fff;
    color: lightgray;
}

.PickerStyle .datepick-month td .datepick-selected {
	background-color: #ffffff;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    border: solid 2px #f5a623;
    color: #4a4a4a;
}

.PickerStyle .datepick-nav {	
	background-color: #ffffff;
	font-family: Nexa;
    font-size: 12.2px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.81;
    color: #4a4a4a;
    height: 25px;
}

.PickerStyle .datepick-nav .datepick-cmd {
    color: #4a4a4a;
    width: 33%;
    height: 100%
}

.PickerStyle .datepick-nav .datepick-cmd:hover {
    background-color: #ffffff;
	 border: solid 1px #f5a623;
}

.datenumberstyle {
    font-size: 14.3px;
}

.ddl_rooms_options{   
    font-family: Nexa;
    font-size: 12px;
    height: 27px;
    padding-top: 4px;
    width: initial;
    display: inline-block;
}

/*.ul_listofroomtypes{
    margin: 0 0 5px;
    padding: 0;
}

    .ul_listofroomtypes li {  
        width: 100%;                                   
        display: inline-block;   
        font-family: Nexa;
        font-size: 12px;        
        font-style: normal;
        font-stretch: normal;
        line-height: 1.05;
        text-align: center;
        color: #4a4a4a;    
        height: 25px;
        cursor: pointer;     
        padding: 4%; 
    }

    .ul_listofroomtypes li:hover{
        background-color: #ebeced;       
        font-weight: bold;
    }*/


.multiple_rooms_section{
    text-align: center;
    padding: 10px;
    border-top-color: rgb(151, 151, 151);
    border-top-style: solid;
    border-top-width: 0.5px;
    border-radius: 0px;

}

.roomnumberlabel{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    color: black;
}

.removelabel{
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;    
}

.removelabel span{
    color: #007fad;
    text-decoration: underline;
    display: inline-block;   
    cursor: pointer;
}

.add_room_button_div{
    text-align:left;
}


/*--- Responsive @media---*/

@media (max-width:1285px) {
    .adultslabelstyle {        
        width: 100%;        
    }

    .kidslabelstyle {        
        width: 100%;    
        padding-left: none;  
    }

    .infantslabelstyle {        
        width: 100%;   
        padding-left: none;     
    }

    .spinnerstyle{
        width: 100%;
    }   

    .book_section_table_td_content_label
    {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: inherit;         
    }

     .book_section_style_row{
        min-height: 75px;
    }
}

@media (min-width:1286px) {
    /*.adultslabelstyle{
        width: 56%;
    }

    .kidslabelstyle{
        width: 41%;
        padding-left: 16%;
    }

    .infantslabelstyle{
        width: 49%;
        padding-left: 0%;
    }

    .spinnerstyle{
        width: 15%;
    }*/

    .book_section_style_row{
        min-height: 75px;
    }
}

@media (max-width:1034px) {
    .datepick-month {
	    float: none;
	    /*width: 15em;
	    border: 1px solid #444;
	    text-align: center;*/
    }

    .PickerStyle .datepick-month { width:100%; border: 1px dotted lightgray;}
}

@media (max-width:767px) {
    .book_section_style_row{
        min-height: initial;
    }

    .PickerStyle .datepick-month { width:100%; border: 1px dotted lightgray;}
}

@media (max-width:437px) {
    .PickerStyle .datepick-month table {   
        border-spacing: 0px;
        border-collapse: unset;
    }
}

@media (max-width:378px) {
    .DateCellStyle {               
      font-size: 8.2px;      
    }

    .UnavailableDateCellStyle {      
      font-size: 8.2px;      
    }

        .UnavailablebySaleStyle {      
      font-size: 8.2px;      
    }
}

@media (max-width:378px) {
    .roomtype
    {          
      font-size: 27px;      
    }

    .roompricelabel {      
      font-size: 27px;      
    }
}



