﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, hgroup,
nav, section {
    display: block;
}

/*expand/shrink screen*/
.content-wrapper {
    margin: 0 auto;
    /*max-width: 70%;*/ 
}

#body {
    /*background-color: #f3f3f3;*/
    clear: both;
    /*padding-bottom: 35px;*/
}   

header .content-wrapper {
    padding-top: 20px; 
    background-color: #f3f3f3;
}

/*header row*/
.header_row{
    display: table;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    width: 100%;
}

.header_row_column{
    float: none !important;
    display: table-cell;
    text-align: center;
}
    

/*footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}*/

/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}

/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 7%;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

        ul#menu li a:hover {
            color: #333;
            text-decoration: none;
        }

/* progress menu
----------------------------------------------------------*/
ul#progressmenu {
    font-size: 1em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    /*text-align: right;*/
}

    ul#progressmenu li {      
        display: inline;
        list-style: none;
        padding-left: 5px;
        padding-right: 5px;
        border-style: solid;
        border-width: 2px;
        border-left: none;
        border-right: none;
        border-top: none;
        color: #1a2a4a;
        border-color: #f5a623;
       
    }

        /*ul#progressmenu li:hover {
            color: #f5a623;
            border-color: #1a2a4a;
        }*/

        ul#progressmenu li a {
            background: none;
            color: #1a2a4a;
            text-decoration: none;       
        }

        /*ul#progressmenu li a:hover {
            color: #f5a623;
            border-color: #1a2a4a;
        }*/

        ul#progressmenu li a:active {
            color: #f5a623;
            border-color: #1a2a4a;
        }

         ul#progressmenu li .active {
            color: #f5a623;
             border-color: #1a2a4a;
        }

.progress_menu_selected {    
    border-color: #1a2a4a !important;
}

.progress_menu_selected_a {
    color: #f5a623 !important;       
}

.progressmenustyle{
    /*text-align:center;*/
    font-family: Montserrat;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.7px;    
    color: #f5a623;     
}

.actionsmenustyle{
    
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.EN-ES {  
 font-family: Nexa;
  font-size: 10px;
  font-weight: 300;
   line-height: 1.50; 
  text-align: right;
  color: #14254c;  
}

/* featured */
.featured {
    background-color: #f3f3f3;
    border: solid 0.5px #979797;
    padding: 3px;
}
    
   .featured p {           
      font-family: Montserrat;
      font-size: 12px;
      font-weight: bolder;
      line-height: 1.88;
      text-align: center;
      color: #000000;
   }

/* footerstyle */
.footerstyle {
    background-color: #f3f3f3;
    border: solid 0.5px #979797;
    padding: 10px;
    /*height: 170px;*/
}  

    .footerstyle p
    {
        text-align: center;
    }
    

.footersubtitle
{   
  font-family: Nexa;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.88;  
  color: #f5a623;
}

.footersubtitle2
{   
  font-family: Nexa;
  font-size: 7px;
  font-weight: 300;
  color: #f5a623;
  text-align: center;
}

.CompanyLogoStyle{
    max-width: 100%; 
    height: auto;
}

/* -- Begin Dialog Styles-- */

.ui-dialog-titlebar {
    background-color:#f5a623 !important;
    font-family: Nexa;
    color: #4a4a4a;
}

.ui-dialog-title{
    font-family: Nexa;
    color: #4a4a4a;
}

.ModalHeaderStyle{
    background-color:#f5a623 !important;
    font-family: Nexa;
    color: #4a4a4a;
}

.DialogAlertMessage{
    font-family: Nexa;
    color: #4a4a4a;
}

/* -- End Dialog Styles -- */

/* -- Begin Summary and Main content Styles -- */

#SummaryContent{
    float:left;
    width:30%;
    overflow:hidden; 
    padding: 3%;      
}

#MainContent{
    width:70%;
    overflow:hidden;   
    padding: 3%;  
}

/* -- End Summary and Main content Styles -- */

#tblPromotionalCodeSection{
    width: 100%;
}

#btnPromoCode{
    margin-top: 2%;
    background-color: #f5a623;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    border: solid 0.5px #f5a623;
    border-radius: 0px;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;    
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;   
}

#btnPromoCode:hover{
    color: #ffffff;
    border-color: #979797;
}

#txtPromotionalCode{
    font-size: 12px;
}

#lblPromoCodeMessage{
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    color: red;
    padding-top: 5%;
}

#PromoApprovedIconSection{
    padding-top: 2%;
}

#PromoCodeInHeaderSection{
    font-size: 14px;
}

#PromoCodeInHeaderSection i{
    font-size: 12px;
    padding-top: 4px;
}
/*--- Responsive @media---*/

@media (max-width:1145px) {
     ul#menu li {        
        padding-left: 5%;
    }
}

@media (max-width:1093px) {
     ul#menu li {        
        padding-left: 3%;
    }
}

/*@media (max-width:810px) {
    .content-wrapper {
        margin: 0 auto;
        max-width: 90%;
    }
}*/

@media (max-width:900px) {
    /*.content-wrapper {
        margin: 0 auto;
        max-width: 90%;
    }*/
}

@media (max-width:1056px) {
    .header_row {
        display:block;
    }

    .header_row_column{
        float: unset;
        display: block;
        text-align: center;
        padding-bottom: 2%;
        width: 100% !important;
    }

    ul#menu {        
        text-align: center;
    }

     ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 3%;
    }
}

/*Expand main container*/
.container.content-wrapper {
        width: 97%;
    }


/* Styles for header nav bar
-----------------------------------------------------------*/
  .navbar-default {
      background-color: #fff !important;
      border-color: #e7e7e7;
  }

a.navbar-brand {
  padding: 0px;
  margin-left: 0px !important;
  margin: 3%;
}

.navbar-brand>img {
  height: auto;
    width: auto;   
    line-height: 72px; /* whatever the fixed height of the bar is */
    vertical-align: middle;    
    margin-left: 50%; 
}



@media (min-width: 768px) {
    
   
    .container {    
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

  .navbar .nav{
    margin: 0;
    display: table;
    width: 88%;
  }

  ul#ul_nav_bar_id li {
      display: table-cell;
      width: 18%;
      height: 100%;
      float: none;
      border-right: solid 0.5px #f5a623;
  }

  #progress_promocode{
      width: 14% !important;
  }

  #progress_language{
      width: 5% !important;
  }

   .header_bar_div .nav >li >a {
    height: 100%;
  }

        .navbar .navbar-nav {
            display: inline-block;
            float: none;
        }

        .navbar .navbar-collapse {
            text-align: center;
            /*line-height: 0;*/
            margin-right: -15px;
            margin-left: -15px;
        }

  .firstitemmenu{
    border-left: solid 0.5px #f5a623
  }

  .lastitemmenu{
     border: none !important;
  }


}

@media (max-width: 1315px) {
  .navbar .nav{
    width: 86%;
  }  
}

@media (max-width: 1135px) {
  .navbar .nav{
    width: 84%;
  }  
}

@media (max-width: 994px) {
  .navbar .nav{
    width: 82%;
  }   
}

@media (max-width: 983px) {
  .container.content-wrapper {
     width: 96% !important;
  }
}

/*@media (max-width: 884px) {
  .navbar .nav{
    width: 80%;
  }    
}*/

@media (max-width: 862px) {
   .progressmenustyle{
       font-size:16px;
   } 
}

@media (max-width: 803px) {
   .progressmenustyle{
       font-size:15px;
   }  
}

@media (max-width: 795px) {
  .navbar .nav{
    width: 78%;
  }  

  .progressmenustyle{
       font-size:14px;
   }
}

@media (max-width: 783px) {  
  .progressmenustyle{
       font-size:13px;
   }
}

@media (max-width: 767px) {
  
  .progressmenustyle{
       font-size:18px;
  }

  .container.content-wrapper {
        width: 99% !important;
  }

  .navbar .nav{
    width: 100%;
  }

  .header_bar_div .nav >li >a {
    height: auto !important;
  }

  .navbar>.container .navbar-brand{
        margin-left: 0px !important;
  }

  a.navbar-brand {  
  margin: 0px;
}

  .navbar-brand>img {
    height: auto;
    width: auto;    
    max-height: 52px !important;
    max-width: 115px;
    line-height: 72px;
    vertical-align: middle;
    margin:2%;    
    margin-left: 15%;    
}
}

.header_bar_div .nav >li >a:hover {
  background-color: #fce7c2 !important; 
}

.header_bar_div .nav >li.active>a {
  background-color: #ffcb6d !important; 
}

.header_bar_li_a_selected {
    background-color: #ffcb6d !important;        
}

.navbar{
    margin-bottom: 0px !important;
    border: none !important;
}

/*----- Login in Navbar -----*/

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.9);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#login-dp .user_logo {
    text-align: center;
    padding: 5%;
    color: darkgray;
    font-size: 50px;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.navbar-default .navbar-nav>.open>a{
    color: #555;
    background-color: #ffcb6d !important;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        /*color: #fff;*/
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

#ChangePassButtonSection{
    /*padding: 5%;*/
}

.ChangePasswordTitle{
    text-align: center;
    padding: 3%;
}

#ChangePassButtonSection .btn{
   margin-bottom: 1%;
}

#RememberUserSection{
    color: black;
}

.loginvalidatemsg{
    color: salmon;
    font-size: 12px;
}

.UserNameSection{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    color: #525252;
    text-align: center;
}

.signoutsection{
    margin-bottom: 5%;
}

#UserNameDivSection{
    text-align: right;
    padding-right: 3%;
}

@media(max-width:991px){
  #UserNameDivSection{
    text-align: center;
    padding-right: 0px;
}
}