﻿
#SummarySection{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #fafafa;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 2%;
    margin-top: 5%;
}

.ServiceTitle{
    font-family: DroidSans;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #000000;
    padding-bottom: 2%;
}

.CartSummarySectionTitle{
    text-align: center;
    font-family: DroidSans;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;    
    color: #000000;
}

.ServiceDetailsRow{
    font-family: Raleway;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      color: #000000;
    padding-bottom: 2%;
}

.ServiceDetailsRowLeft{
    font-family: Raleway;
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      color: #000000;
    padding-bottom: 2%;
    text-align: left;
}

.ServiceDetailsRowRight{
    font-family: Raleway;
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      color: #000000;
    padding-bottom: 2%;
    text-align: right;
}

.ServiceDetailsRowRight label.RemoveServiceLink{    
    font-size: 12px;
    color: red;
    font-weight: 700;
}

.ServiceDetailsRowRight label.RemoveServiceLink:hover{    
    text-decoration: underline;
    cursor: pointer;
}

.ServiceDetailsRowRight label{
    font-weight: 500;
} 

.ServiceDetailsRowRightTotal{
    font-family: Raleway;
      font-size: 12px;    
      font-style: normal;
      font-stretch: normal;
      color: #000000;
    padding-bottom: 2%;
    text-align: right;
    font-weight: bold;
} 

.division_line_style{
    border-top: 1px solid #979797;
    margin-bottom: 5px;
    margin-top: 5px;
}

.division_line_style_v2{
    margin-top: 3px;
    margin-bottom: 3px;
    border-top: 1px solid #eee;
}

.ShowSummaryItem{
    display: table-row;
}

.HideSummaryItem{
    display: none;
}

#checkoutcontent{
    padding: 3%;  
}

.contenttitle {  
  font-family: Raleway;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  text-align: left;
  color: #f5a623;
}

.confirmationmessage {  
  font-family: Raleway;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  text-align: justify;
  color: white;
  width:75%;
  padding-top: 10px;
}

.ServiceAddedButtonSectionStyle{
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center; 
}

.ServiceAddedButton{
    background-color: #f28a00;
    color: white;
    font-family: DroidSans;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}