﻿.ServiceDescTitle{
    background-color: #09192a;
    border: solid 0.5px #979797;
    font-family: DroidSans;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #ffffff;
    width: 50%;
}

.ServiceTitle{
    font-family: DroidSans;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #000000;
    padding-bottom: 2%;
}

.subtitle{
    font-family: Raleway;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    color: #000000;
}

.divServiceDetails{
    padding-top: 5%;
    padding-bottom: 5%;
}

.ServiceImageStyle{
    width:100%;
    margin-left: -7%;
}

.MasterDivMainContentStyle{
    padding-left: 5%;
    padding-right: 5%;
}

.ServiceDetailsRow{
    font-family: Raleway;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      color: #000000;
    padding-bottom: 2%;
}

.ServiceDetailsRowLeft{
    font-family: Raleway;
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      color: #000000;
    padding-bottom: 2%;
    text-align: left;
}

.ServiceDetailsRowRight{
    font-family: Raleway;
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      color: #000000;
    padding-bottom: 2%;
    text-align: right;
}

.ServiceDetailsRowRight label.RemoveServiceLink{    
    font-size: 12px;
    color: red;
    font-weight: 700;
}

.ServiceDetailsRowRight label.RemoveServiceLink:hover{    
    text-decoration: underline;
    cursor: pointer;
}

.ServiceDetailsRowRight label{
    font-weight: 500;
} 

.ServiceDetailsRowRightTotal{
    font-family: Raleway;
      font-size: 12px;    
      font-style: normal;
      font-stretch: normal;
      color: #000000;
    padding-bottom: 2%;
    text-align: right;
    font-weight: bold;
} 

.PriceQtySectionRow{
    font-family: Raleway;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    color: #060606;
}

.PriceQtySectionRow table tr td{
    padding-bottom: 2%;
}

/*Slider*/
.bx-viewport {
    /*height: 100% !important;*/
    left: 0px !important;
    background-color: #f1f1f1 !important;
    border: none !important;
}

.CalendarSection{    
    text-align:center;
    padding-bottom: 10%;
}

/*datepicker jquery plugin styles*/

.DateCellStyle {             
  font-family: Raleway;
  font-size: 10.6px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.03;
  text-align: center;
  color: #6b6d6f;
}

.UnavailableDateCellStyle {
  font-family: Raleway;
  font-size: 10.6px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.03;
  text-align: center;
  color: #6b6d6f;  
  background-color: lightcoral !important;  
  cursor: not-allowed; 
  border-radius: 50px;   
}

.UnavailablebySaleStyle {
  font-family: Raleway;
  font-size: 10.6px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.03;
  text-align: center;
  color: #6b6d6f;  
  background-color: #FDA954 !important;  
  cursor: not-allowed; 
  border-radius: 50px;   
}

.PickerStyle{
    width: 90% !important;
    text-align: center;
    border: none;
}

.PickerStyle .datepick-month-header, 
.PickerStyle .datepick-month-header select { 
    background-color: #ffffff; 
    font-family: Raleway;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    color: #060606;
}

.PickerStyle .datepick-month thead tr th{
    background-color: #ffffff;
    font-family: Raleway;
    font-size: 13.6px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.29;
    text-align: center;
    color: #8c8f93;
    border: none;
}

/*.PickerStyle .datepick-month th, .datepick-month th a { display:none;}*/
.PickerStyle .datepick-month { width:100%; border: 1px dotted lightgray;}
.PickerStyle .datepick-month td { 
  width: 14.28%;  
  /*background-color: #ffffff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);*/
  border: none; 
  padding-top: .5em;
  padding-bottom: .5em;
}

.PickerStyle .datepick-month thead {
	border: none;
}

.PickerStyle .datepick-month table {   
    border-spacing: 7px;
    /*border-collapse: separate !important;*/
}

.PickerStyle .datepick-month td .datepick-today {
	background-color: #FCE7C2 !important; 
    border-radius: 50px;   
}

.PickerStyle .datepick-nav {	
	background-color: #ffffff;
	font-family: Nexa;
    font-size: 9.2px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.81;
    color: #4a4a4a;
    height: 25px;
}

.PickerStyle .datepick-nav .datepick-cmd {
    color: #4a4a4a;
    width: 33%;
    height: 100%;
    text-align: center;
}

.PickerStyle .datepick-nav .datepick-cmd:hover {
    background-color: #ffffff;
	border: solid 1px #f28a00;
    border-radius: 50px; 
}

.PickerStyle .datepick-month td .datepick-weekend{
    background-color: #eee;
}

.PickerStyle .datepick-month td .datepick-highlight {
	background-color: #ffffff;
    border-radius: 50px; 
    /*border: solid 1px #f28a00;*/
}

.PickerStyle .datepick-month td .datepick-selected {
	background-color: #f28a00;
	/*box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);*/
    /*border: solid 2px #f28a00;*/
    color: #ffffff;
    border-radius: 50px;
}

.PickerStyle .datepick-month td .datepick-other-month {
	background-color: #eee;    
}

  /*Spinners*/
    .ui-spinner
    {
        width: 75%;        
        border-radius: 50px;
    }

    .AdultsSpinner.ui-spinner-input, .ChildrenSpinner.ui-spinner-input, .InfantsSpinner.ui-spinner-input, .StudentsSpinner.ui-spinner-input
    {                   
      width: 25px;
      text-align:center;
      font-family: Nexa;
      font-size: 12px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.94;
      color: #4a4a4a;
    }

.NoServiceAvailable{
    font-family: Raleway;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    color: lightcoral;
    text-align: center;
    padding-right: 5%;
}

.SchedHoursSection{
    text-align: center;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    color: #060606;   
}

.PickupOptionsSection{
    text-align: center;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    color: #060606;   
}

.ShuttleSection{
    text-align: center;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    color: #060606;   
}

#lblHour{
    padding-top: 2%;
}

.SelectTourButtonStyle{
      padding-top: 5%;
      padding-bottom: 5%;
      text-align: center;       
}

#btnAddToCart{
    background-color: #f28a00;
    color: white;
    font-family: DroidSans;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

#ServiceAddedSection{
    padding-top: 5%;
    text-align:center;
}

#lblServiceAdded{
    font-family: DroidSans;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #000000;
    padding-bottom: 2%;
}

.ServiceAddedButton{
    background-color: #f28a00;
    color: white;
    font-family: DroidSans;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

.ServiceAddedButtonSectionStyle{
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center; 
}

.division_line_style{
    border-top: 1px solid #979797;
    margin-bottom: 5px;
    margin-top: 5px;
}

.division_line_style_v2{
    margin-top: 3px;
    margin-bottom: 3px;
    border-top: 1px solid #eee;
}

.ShowSummaryItem{
    display: table-row;
}

.HideSummaryItem{
    display: none;
}

#SummarySection{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #fafafa;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 2%;
    margin-top: 5%;
}

.CartSummarySectionTitle{
    text-align: center;
    font-family: DroidSans;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;    
    color: #000000;
}

#lblNeedShuttle{
    padding-top: 2%;
}

/*--- Responsive @media---*/


@media (max-width: 991px) {
    .PickerStyle .datepick-nav {		    
        height: 100%;
    }

    .PriceQtySectionRow{        
        font-size: 13px;        
    }    
}

@media (max-width: 797px) {    

    .PriceQtySectionRow{        
        font-size: 12.5px;        
    }    
}

@media (max-width: 767px) {
    .SliderRow {
        margin-right: 0px;
        margin-left: 0px;
    }

    .bx-wrapper{
        padding-left: 5%;
        padding-right: 5%;
    }

    .ServiceImageStyle{        
        margin-left: -7%;
    }

    .ServiceDescTitle {
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
    }

    .divServiceDetails{
        margin-left: 0%;
        margin-right: 0%;        
    }

    .CalendarSection{    
        padding-left: 10%;
        padding-bottom: 5%;
    }

     .PriceQtySectionRow{        
        font-size: 14px;  
        padding-left: 10%;
        padding-bottom: 5%;      
    }  
}

@media (max-width: 600px) {
    .ServiceImageStyle{        
        margin-left: -9%;
    }
}

@media (max-width: 475px) {
    .ServiceImageStyle{        
        margin-left: -12%;
    }
}

@media (max-width: 400px) {
    .ServiceImageStyle{        
        margin-left: -14%;
    }
}

@media (max-width: 350px) {
    .PriceQtySectionRow{        
        font-size: 13px;              
    }  
}

@media (max-width: 323px) {
    .PriceQtySectionRow{        
        font-size: 12.5px;              
    }  
}

@media (max-width: 308px) {
    .PriceQtySectionRow{        
        font-size: 11.5px;              
    }  
}

@media (max-width: 300px) {
    .ServiceImageStyle{        
        margin-left: -20%;
    }
}