﻿#SummarySection{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #fafafa;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 2%;
    margin-top: 5%;
}

.ServiceTitle{
    font-family: DroidSans;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #000000;
    padding-bottom: 2%;
}

.CartSummarySectionTitle{
    text-align: center;
    font-family: DroidSans;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;    
    color: #000000;
}

.ServiceDetailsRow{
    font-family: Raleway;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      color: #000000;
    padding-bottom: 2%;
}

.ServiceDetailsRowLeft{
    font-family: Raleway;
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      color: #000000;
    padding-bottom: 2%;
    text-align: left;
}

.ServiceDetailsRowRight{
    font-family: Raleway;
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      color: #000000;
    padding-bottom: 2%;
    text-align: right;
}

.ServiceDetailsRowRight label.RemoveServiceLink{    
    font-size: 12px;
    color: red;
    font-weight: 700;
}

.ServiceDetailsRowRight label.RemoveServiceLink:hover{    
    text-decoration: underline;
    cursor: pointer;
}

.ServiceDetailsRowRight label{
    font-weight: 500;
} 

.ServiceDetailsRowRightTotal{
    font-family: Raleway;
      font-size: 12px;    
      font-style: normal;
      font-stretch: normal;
      color: #000000;
    padding-bottom: 2%;
    text-align: right;
    font-weight: bold;
} 

.division_line_style{
    border-top: 1px solid #979797;
    margin-bottom: 5px;
    margin-top: 5px;
}

.division_line_style_v2{
    margin-top: 3px;
    margin-bottom: 3px;
    border-top: 1px solid #eee;
}

.ShowSummaryItem{
    display: table-row;
}

.HideSummaryItem{
    display: none;
}


.CartSummarySectionTitle{
    text-align: center;
    font-family: DroidSans;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;    
    color: #000000;
}

.contenttitle{
    background-color: #09192a;
    border: solid 0.5px #979797;
    font-family: DroidSans;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #ffffff;    
    margin-bottom: 2%; 
    margin-left: 10%;
    margin-right: 10%;       
}

.form-group label.control-label {
  font-family: Gotham-Book;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;  
  text-align: left;
  color: #4a4a4a;
}

.checkoutcontent{
    padding-right: 5%;
}

.AcceptConditions {  
  font-family: Gotham-Book;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;  
  text-align: left;
  color: #4a4a4a;
}

.form-control{
    font-family: Gotham-Book;
    font-size: 15px;       
}

#pay_now_button{
    background-color: #09192a;
    border: solid 0.5px #979797;
    font-family: DroidSans;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #ffffff;    
    margin-bottom: 2%;        
    border-radius: 4px;
    background-color: #091929;
    box-shadow: 0 1px 3.5px 0 rgba(0, 0, 0, 0.5), inset 0 0.5px 1.5px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #ffffff; 
}

#lblNoServicesInCart{
    padding: 3%;    
    font-family: Raleway;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #000000;
}

.ServiceAddedButton{
    background-color: #f28a00;
    color: white;
    font-family: DroidSans;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

.ServiceAddedButtonSectionStyle{
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center; 
}

.division_line_style{
    border-top: 1px solid #979797;
    margin-bottom: 5px;
    margin-top: 5px;
}

/*Pay now button from terms and conditions popup*/
#btnPayNow{
    font-size: 18px;    
    font-stretch: normal;
    text-align: center;
    color: #ffffff;    
    box-shadow: 0 1px 3.5px 0 rgba(0, 0, 0, 0.5), inset 0 0.5px 1.5px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #ffffff;
    margin: 0 auto !important;
    font-weight: normal !important;
    font-style: italic !important;
    display: block;
    padding: 10px 40px !important;
    background: #f5a623 !important;
    border-radius: 3px !important;
    font-family: Avenir, Arial, sans-serif !important;
}

#termconditions{    
    height: 200px;
    border: 1px solid #ccc;
    background: #f2f2f2;
    padding: 6px;
    overflow: auto;
    color: #000;
}

#btnPayNow:hover {
    background: url(images/opacity.png) repeat top left!important;
}

.ModalHeaderTermConditionsPopup{
    background-color: dimgray !important;
    font-family: Nexa;
    color: #4a4a4a;
}

#lblTermsWarning{
    color: indianred;
    font-size: 12px;
}