body {
	background: url(images/background.jpg) no-repeat top left #000 fixed!important;
	color: #fff;
	font-family: Avenir, Arial, sans-serif!important
}
header, #body, .progress_menu_selected {
	background: none!important
}
ul#progressmenu li {
	font-family: Avenir, Arial, sans-serif!important;
	font-size: 14px!important;
	font-weight: normal;
	padding: 0 10px;
	margin: 0 10px
}
.progress_menu_selected {
	border-bottom: 1px solid #fff
}
ul#progressmenu li a, .modal-title, .DialogAlertMessage, .form-group label.control-label, .AcceptConditions{
	color: #fff !important;
}
.progressmenustyle {
	padding: 0!important;
	margin: 0!important
}
.CompanyLogoStyle {
	max-height: 100px
}
.CategoryBox, .TourDescStyle {
	border-bottom: solid 1px #fff;
}
#pay_now_button{
	margin:0 auto !important;
	font-weight:normal !important;
	font-style:italic !important;
	display:block;
	padding:10px 40px !important;
	background:#f5a623 !important;
	border-radius:3px !important;
	
}
#pay_now_button:hover{
	background: url(images/opacity.png) repeat top left!important;
}
.CategoryBox label, .CallUsLabel label, .TourDescStyle, .TourDetailsStyle, .footersubtitle, .footersubtitle2, .modal-title, .DialogAlertMessage, .ServiceTitle, .ServiceDetailsRow, .subtitle, .ServiceDescTitle, .PickerStyle .datepick-nav, .PickerStyle .datepick-month-header, .PickerStyle .datepick-month-header select, .PickerStyle .datepick-month thead tr th, .DateCellStyle, .PriceQtySectionRow, .SchedHoursSection, .NoServiceAvailable, .ShuttleSection, #btnAddToCart, .CartSummarySectionTitle, .ServiceDetailsRowLeft, .ServiceDetailsRowRight, .ServiceDetailsRowRightTotal, .contenttitle, .form-group label.control-label, .AcceptConditions, .btnSelect, #pay_now_button, .form-control{
	font-family: Avenir, Arial, sans-serif !important;
}
.row.contenttitle{
	font-weight:normal !important;
	border:none !important;
	border-bottom:solid 1px #ffa500 !important;
	padding-top:5px !important;
	padding-bottom:5px !important;
	background:none !important;
	margin-bottom:10px !important;
	margin-top:10px !important;
	text-align:left !important;
	padding-left:15px !important;
}
.ShuttleSection{
	padding-bottom:10px !important;
}
#ServiceDateAndQtySection{
	margin-top:10px !important;
}
.ServiceDetailsRowRightTotal{
	font-size:16px !important;
	color:#ffa500 !important;
}
.ServiceDetailsRowLeft, .ServiceDetailsRowRight, .ServiceDetailsRowRight label.RemoveServiceLink, .form-group label.control-label, .AcceptConditions, .form-control{
	font-size:14px !important;
}
.PriceQtySectionRow, .SchedHoursSection, .ShuttleSection{
	color:#fff !important;
}
.PriceQtySectionRow, .SchedHoursSection, .NoServiceAvailable{
	padding-top:10px !important;
} 
.PickerStyle .datepick-nav{
	font-size:10px;
}
.PickerStyle, #SummarySection{
	border:solid 1px #ffa500 !important;
}
#SummarySection{
	margin-bottom:10px !important;
}
#SummarySection hr{
	display:none;
}
#SummarySection .ServiceTitle{
	color:#000 !important;
}
.CartSummarySectionTitle{
	border-bottom: solid 1px #ffa500 !important;
	margin-bottom:10px !important;
}
.ServiceDescTitle{
	padding-top:5px;
	border:none !important;
	width:100% !important;
	border-bottom:solid white 1px !important;
}
.footersubtitle2{
	font-size:14px !important;
}
.row{
	margin:0 !important;
}
.divServiceDetails{
	padding:10px !important;
}
.ServiceTitle, .ServiceDetailsRow, .subtitle{
	color:#fff !important;
	font-weight:normal !important;
}
.ServiceDetailsRow{
	padding-bottom:15px !important;
}
.CategoryBox, .CategoryList, .CallUsLabel, .row.TourRow, .clear-fix.header_row, footer, .ModalHeaderStyle, .modal-content, .divServiceDetails, .ServiceDescTitle, .NoServiceAvailable, .SchedHoursSection, .PriceQtySectionRow, .ShuttleSection, #checkoutcontent{
	background: url(images/opacity.png) repeat top left !important;
}
#checkoutcontent{
	padding-bottom:10px !important;
	margin-bottom:10px !important;
}
.PriceQtySectionRow{
	padding:5px !important;
}
.CategoryList input{
	margin-right:10px !important;
}
.CategoryBox label {
	padding: 10px 15px!important;
	font-size: 16px!important
}
label, .footersubtitle2 {
	font-weight: normal;
	line-height: 1.4
}
#returntoSiteLink {
	color: #fff!important
}
.TourDescStyle, .TourDetailsStyle {
	color: #fff!important
}
.TourRow .col-sm-4 {
	padding: 0
}
.row.TourRow {
	border: solid 1px #fff
}
.TourImageStyle {
	padding: 0!important
}
.TourDescStyle {
	font-weight: normal!important;
	font-style: italic!important
}
.col-height-last-column {
	background: none!important;
	border-left: solid 1px #fff
}
.btnSelect {
	background: #fff!important;
	border-radius: 3px!important;
	color: #4a4a4a!important;
	padding: 5px!important;
	font-size: 12px!important;
	font-weight: bold!important;
	text-transform: uppercase;
	width: 100%!important
}
.TourRow td b span {
	font-weight: normal!important;
	width: 100%!important;
	font-size: 20px!important;
	font-style: italic!important;
	display: block
}
.footersubtitle {
	font-style: italic;
	font-weight: 600;
	padding: 0 10px;
	border-bottom: solid #fff 1px
}
.header_row {
	padding: 10px 20px!important
}
.modal-content {
	border: solid #fff 1px
}
.close {
	color: #fff
}
#btnPromoCode{
	margin:0 0 0 -2px !important;
	padding-top:5px !important;
	padding-bottom:5px !important;
	box-shadow:none !important;
	border-top-right-radius:3px !important;
	border-bottom-right-radius:3px !important;
}
#tblPromotionalCodeSection{
	width:295px !important;
	padding-top:10px !important;
	margin:10px auto 0 auto !important;
}
#tblPromotionalCodeSection input[type=text]{
	width:200px !important;
}
#tblPromotionalCodeSection tr{
	display:block;
	float:left;
}

@media(max-width:1056px) {
.container {
	padding: 0!important;
	width: 100%!important
}
}

@media(max-width:767px) {
body, .TourDetailsStyle, .btnSelect {
	font-size: 14px!important
}
.btnSelect {
	width: 60%!important
}
.TourDescStyle, .CategoryBox label, .footersubtitle {
	font-size: 18px!important
}
.CategoryList {
	padding: 15px 30px!important
}
.footersubtitle2 {
	font-size: 14px!important
}
}
@media(max-width:490px) {
.clear-fix.header_row {
	padding: 15px
}
}
@media(max-width:380px) {
	#tblPromotionalCodeSection{
		width:100% !important;
	}
	#tblPromotionalCodeSection tr{
		width:100%;
		float:none;
	}
	#tblPromotionalCodeSection td{
		border:solid transparent 1px;
		width:100%;
		display:block;
	}
	#btnPromoCode{
		width:100%;
		border-radius:3px;
		margin-top:5px;
	}
	#tblPromotionalCodeSection input[type=text]{
		width: 100% !important;
		display:block;
	}
	.btnSelect{
		width:100% !important;
	}
}
