﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;    
}

header, hgroup,
nav, section {
    display: block;
    background-color: #f1f1f1;
}

footer {
    display: block;
    background-color: #141e28;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 70%;
}

#body {
    /*background-color: #f3f3f3;*/
    clear: both;
    background-color: #f1f1f1;
    /*padding-bottom: 35px;*/
}   

header .content-wrapper {
    padding-top: 20px; 
    background-color: #f3f3f3;
}

/*header row*/
.header_row{
    display: table;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    width: 100%;
}

.header_row_column{
    float: none !important;
    display: table-cell;
    text-align: center;
}
    

/*footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}*/

/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}

/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: center;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 7%;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
            font-size: 18px;
            cursor: pointer;
        }

        ul#menu li a:hover {
            color: #333;
            text-decoration: none;
        }

/* progress menu
----------------------------------------------------------*/
ul#progressmenu {
    font-size: 1em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    /*text-align: right;*/
}

    ul#progressmenu li {      
        display: inline;
        list-style: none;        
        font-family: DroidSans;
        font-size: 15.5px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        text-align: center;
        color: #000000;      
        padding: 5%;    
    }

        /*ul#progressmenu li:hover {
            color: #f5a623;
            border-color: #1a2a4a;
        }*/

        ul#progressmenu li a {
            background: none;
            color: #000000;
            text-decoration: none;       
        }

        /*ul#progressmenu li a:hover {
            color: #f5a623;
            border-color: #1a2a4a;
        }*/

        /*ul#progressmenu li a:active {
            color: #f5a623;
            border-color: #1a2a4a;
        }

         ul#progressmenu li .active {
            color: #f5a623;
             border-color: #1a2a4a;
        }*/

.progress_menu_selected {    
    background-color: #fafafa;
    padding: 5%;
}

.progressmenustyle{
    padding-top: 3%; 
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.EN-ES {  
 font-family: Nexa;
  font-size: 10px;
  font-weight: 300;
   line-height: 1.50; 
  text-align: right;
  color: #14254c;  
}

/* featured */
.featured {
    background-color: #f3f3f3;
    border: solid 0.5px #979797;
    padding: 3px;
}
    
   .featured p {           
      font-family: Montserrat;
      font-size: 12px;
      font-weight: bolder;
      line-height: 1.88;
      text-align: center;
      color: #000000;
   }

/* footerstyle */
.footerstyle {
    background-color: #f3f3f3;
    border: solid 0.5px #979797;
    padding: 10px;
    /*height: 170px;*/
}  

    .footerstyle p
    {
        text-align: center;
    }
    

.footersubtitle
{   
  font-family: DroidSans;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;  
  text-align: center;
  color: #ffffff;
}

.footersubtitle2
{   
  font-family: Raleway;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.25;
  text-align: center;
  color: #ffffff;
}

.footer_row_column{
    float: none !important;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.footersubrow{
    padding-top: 3%;
}

ul.social {
    font-size: 1em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: center;
}

    ul.social li {
        display: inline;
        list-style: none;
        padding-left: 2%;
        padding-right: 2%;
        font-family: Raleway;
        font-size: 22px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.25;
        text-align: center;
        color: #ffffff;
    }

        ul.social li a {
            background: none;
            color: #ffffff;
            text-decoration: none;
            cursor: pointer;
        }        

        ul.social li a:hover {
            color: #adadad;
            text-decoration: none;
        }

.CompanyLogoStyle{
    max-width: 100%; 
    height: auto;
    cursor: pointer;
}

/* -- Begin Dialog Styles-- */

.ui-dialog-titlebar {
    background-color:#f5a623 !important;
    font-family: Nexa;
    color: #4a4a4a;
}

.ui-dialog-title{
    font-family: Nexa;
    color: #4a4a4a;
}

.ModalHeaderStyle{
    background-color:#f5a623 !important;
    font-family: Nexa;
    color: #4a4a4a;
}

.DialogAlertMessage{
    font-family: Nexa;
    color: #4a4a4a;
}

/* -- End Dialog Styles -- */

/* -- Begin Summary and Main content Styles -- */

#SummaryContent{
    float:left;
    width:30%;
    overflow:hidden; 
    padding: 3%;      
}

#MainContent{
    width:70%;
    overflow:hidden;   
    padding: 3%;  
}

/* -- End Summary and Main content Styles -- */

#MasterDivLeftPanelContent{
    padding-bottom: 1%;
}

/*cart badge*/
#HW_badge_cont {
    /*position: absolute!important;
    top: 2px;
    right: -4px;
    display: block;*/
    height: 32px;
    width: 32px;
    cursor: pointer;
}

#HW_badge_cont.HW_visible {
    visibility: visible;
    pointer-events: auto;
}

#cart_items{
    border-radius: 20px;
    background: #CD4B5B;
    height: 16px;
    width: 16px;
    color: #fff;
    text-align: center;
    line-height: 16px;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    top: -15px;
    left: 65px;
    padding-left: 1%;
    padding-right: 1%;
    font-family: DroidSans;
    font-weight: bold;
}


/*--- PromoCode section---*/

#tblPromotionalCodeSection{
    width: 100%;
}

#btnPromoCode{
    margin-top: 2%;
    background-color: #f5a623;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    border: solid 0.5px #f5a623;
    border-radius: 0px;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;    
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;   
}

#btnPromoCode:hover{
    color: #ffffff;
    border-color: #979797;
}

#txtPromotionalCode{
    font-size: 12px;
}


/*--- Responsive @media---*/

@media (max-width:1145px) {
     ul#menu li {        
        padding-left: 5%;
    }
}

@media (max-width:1093px) {
     ul#menu li {        
        padding-left: 3%;
    }
}

@media (max-width:1200px) {
    .content-wrapper {
        margin: 0 auto;
        max-width: 90%;
    }
}

@media (max-width:1056px) {
    .header_row {
        display:block;
        margin-right: 0% !important;
        margin-left: 0% !important;
    }

    .header_row_column{
        float: unset;
        display: block;
        text-align: center;
        padding-bottom: 2%;
        width: 100% !important;
    }

    .footer_row_column{
        float: unset;
        display: block;
        text-align: center;
        padding-bottom: 2%;
        width: 100% !important;
    }

    ul#menu {        
        text-align: center;
    }

     ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 3%;
    }

    ul#progressmenu li {             
        padding-top: 1%;    
        padding-bottom: 1%;    
    }
}


