﻿.TourRow{    
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);    
    margin-bottom: 2%;
    margin-right: 0%;
}

.TourImageStyle{
    width: 100%;
    padding-bottom: 3%;
    padding-top: 3%;
}

.SelectTourButtonStyle{
    text-align: center;    
}

.TourDescStyle{
    padding: 3%;    
    font-family: Raleway;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #000000;
}

.TourDetailsStyle{
    padding: 3%;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    text-align: justify;
    color: #000000;
}

.CategoryBox{
     background-color: #000000;
     padding-top: 2%;
     padding-bottom: 2%;
     cursor: pointer;
}

.CategoryBox label{
    font-family: DroidSans;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #ffffff;
    padding-left: 5%;
    cursor: pointer;
}

.CategoryList{
    padding-top: 5%;
    padding-left: 5%;
}

.CategoryIcon{
    color: #ffffff;
}

.CallUsPhoneIcon{
    text-align: center;
    font-size: 50px;
    padding-top: 50%;    
}

.CallUsLabel{
    text-align: center;
    background-color: #000000;
    padding-top: 3%;
    padding-bottom: 3%;
}

.CallUsLabel label{    
    font-family: DroidSans;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #fdfeff;
}

#returntoSiteLink{
    border-bottom: solid 0.5px #ffffff;
    color: #6B6B6B;
}

.btnSelect{
    background-color: rgba(0, 0, 0, 0.83);
    border: solid 0.5px #979797;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #ffffff;
}

.btnSelect.focus, .btn:focus, .btn:hover
{
    color: #adadad; 
    background-color: rgba(0, 0, 0, 0.83);
}

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}

.col-height-last-column{
  display: table-cell; 
  width: 100%; 
  height: 100%;
  background-color: #ffffff;
}

/*--- Responsive @media---*/

@media (max-width: 767px){
   .CallUsPhoneIcon{   
        padding-top: 0%;    
   }

   #MasterDivLeftPanelContent{
       padding-bottom: 5%;
   }
   
   .row-height {
      display: block;
      table-layout: unset;
      height: unset;
      width: unset;
    }

    .col-height {
      display: block;
      float: unset;
      height: unset;
    }

    .col-height-last-column{
      display: block; 
      width: unset; 
      height: unset;
    }   

    .SelectTourButtonStyle{
      padding-top: 3%; 
    }

    .btnSelect {
        margin-bottom: 2%;
    }

    .TourRow {
        margin-left: 0%;
    }    

}