﻿





<style>
fieldset.group  { 
  margin: 0; 
  padding: 0; 
  margin-bottom: 1.25em; 
  padding: .125em; 
} 

fieldset.group legend { 
  margin: 0; 
  padding: 0; 
  font-weight: bold; 
  margin-left: 25px; 
  font-size: 100%; 
  color: black; 
} 


ul.checkbox  { 
  margin: 0; 
  padding: 0; 
  margin-left: 20px; 
  list-style: none; 
} 

ul.checkbox li input { 
  margin-right: .25em; 
} 

ul.checkbox li { 
  border: 1px transparent solid; 
  display:inline-block;
  width:12em;
} 

ul.checkbox li label { 
  margin-left: 1px; 
} 

</style>



<div class="col-md-12 col-xs-12 col-sm-12 noMarginright EntryPanelcss" data-bind="visible: isEditing" style="display:none;">


    <div class="row rowNoMargin" data-bind="css:{'divvisible': isShowErrorEdit(),'divhidden': !isShowErrorEdit()}">
        <div class=" row clientErrorList alert alert-danger col-md-12" id="EntryDetailErrorBox" data-bind="click:function () {errorExpanderClick('EntryDetailErrorBox')}">
            <div class=" errUpDownArrowDiv">
                <span class="fa fa-caret-down"></span>
                <span class="fa fa-caret-up"></span>
            </div>
            <div class="errorLabelfull">

                <ul data-bind="foreach: ErrorList">
                    <li data-bind="text: ErrorText"></li>
                </ul>

            </div>
        </div>
    </div>



    <div style="width: 100%; background-color:white ">
        <ul class="noMargin tabAppMenu">
            <li class="carrierLink activePageMenu" id="GeneralInfoTab" data-bind="click: GeneralInfoClick"><a>General Info.</a>  </li>

            <li>|</li>
            <li class="carrierLink " id="PhotoTab" data-bind="click: PhotosClick"><a> Photos</a>  </li>
        </ul>

    </div>

    <div id="GeneralInfoDiv" data-bind="with: SelectRoom()">


        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Language
                </label>
            </div>
            <div class="col-md-6 noMargin smallMargintop">
                <select class="form-control " id="CultureID" name="CultureID" tabindex="0" data-bind="options: $parent.CultureList, optionsText: 'ppDisplayName', value: $parent.selectedCulture"></select>

            </div>


        </div>


        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Code
                </label>
            </div>
            <div class="col-md-2 noMargin smallMargintop">
                <input type="text" class="form-control " id="ppRoomTypeCode" name="ppRoomTypeCode" tabindex="2" placeholder="Enter the room code" maxlength="10" data-bind="value: ppRoomTypeCode" />

            </div>

        </div>

        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Description
                </label>
            </div>
            <div class="col-md-8 noMargin smallMargintop">

                <input class="form-control " id="ppDescription" name="ppDescription" tabindex="3" maxlength="50" placeholder="Enter the room description" data-bind="value: ppDescription"/>
            </div>

        </div>


        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Quantity
                </label>
            </div>
            <div class="col-md-2 noMargin smallMargintop">
                <input type="text" class="form-control numericTextbox" onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="50" data-bind="value: ppQuantity" id="ppQuantity" name="ppQuantity" />
            </div>


        </div>


        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Adults
                </label>
            </div>
            <div class="col-md-2 noMargin smallMargintop">
                <input type="text" class="form-control numericTextbox" placeholder="Max." onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="50" data-bind="value: ppMax_Adults" id="ppMax_Adults" name="ppMax_Adults" />
            </div>


        </div>

        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Children
                </label>
            </div>
            <div class="col-md-2 noMargin smallMargintop">
                <input type="text" class="form-control numericTextbox" placeholder="Max." onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="50" data-bind="value: ppMax_Children" id="ppMax_Children" name="ppMax_Children" />
            </div>


        </div>


        <div class="row rowNoMargin entryPanel">



            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Ocupance
                </label>
            </div>
            <div class="col-md-2 noMargin smallMargintop">
                <input type="text" class="form-control numericTextbox" placeholder="Min." onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="50" data-bind="value: ppMinOccupance" id="ppMinOccupance" name="ppMinOccupance" />
            </div>

            <div class="col-md-2 noMargin smallMargintop">
                <input type="text" class="form-control numericTextbox" placeholder="Max." onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="50" data-bind="value: ppMaxOccupance" id="ppMaxOccupance" name="ppMaxOccupance" />
            </div>




        </div>


        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Details
                </label>
            </div>
            <div class="col-md-8 noMargin smallMargintop">

                <textarea cols="30" class="form-control " id="ppRoom_Detail" name="ppRoom_Detail" tabindex="3" maxlength="1000" rows="7" data-bind="value: ppRoom_Detail"></textarea>
            </div>

        </div>


        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-1 noMargin smallMargintop">
                <label>
                    Features
                </label>
            </div>
            <div class="col-md-8 noMargin smallMargintop">

                <fieldset class="group">
                    <ul class="checkbox" data-bind="foreach: $parent.FeatureList">
                        <li>
                            <input type="checkbox" class="smallCheckBox"
                                   data-bind="checkedValue: ppFeatureID, checked: pChecked">
                            <span data-bind="text: ppDescription"></span>
                        </li>
                    </ul>
                </fieldset>
            </div>



        </div>

        <br />

        <div class="col-md-6  noMargin mediumMargintop">
            <div class="btn btn-primary " role="button" type="submit" data-bind="click: $parent.SaveClick">
                Save
            </div>


            <div class="btn btn-danger" tabindex="21" role="button" data-bind="click: $parent.CloseClick">
                Close
            </div>

        </div>


    </div>


    <div id="PhotoDiv" style="display:none; background-color:white">
        <div class="row rowNoMargin entryPanel">
            <div class="table-responsive">

                <input type="hidden" id="RoomId" />

                <table class="table">
                    <tr>
                        <td>
                            <input type="file" name="UploadFile1" id="txtUploadFile1" class="filestyle" data-buttonName="btn-primary" />
                        </td>
                        <td>
                            <img data-bind="attr: {src: Picture1()}" class="carrierLogo" id="Picture1" />
                        </td>
                    </tr>

                    <tr>
                        <td>

                            <div>
                                <input type="file" name="UploadFile2" id="txtUploadFile2" class="filestyle" data-buttonName="btn-primary" />

                            </div>


                        </td>
                        <td>
                            <img data-bind="attr: {src: Picture2()}" class="carrierLogo" id="Picture2" />
                        </td>
                    </tr>


                    <tr>
                        <td>

                            <div>
                                <input type="file" name="UploadFile3" id="txtUploadFile3" class="filestyle" data-buttonName="btn-primary" />
                            </div>


                        </td>
                        <td>
                            <img data-bind="attr: {src: Picture3()}" class="carrierLogo" id="Picture3" />
                        </td>
                    </tr>




                    <tr>
                        <td>

                            <div>
                                <input type="file" name="UploadFile3" id="txtUploadFile4" class="filestyle" data-buttonName="btn-primary" />
                            </div>


                        </td>
                        <td>
                            <img data-bind="attr: {src: Picture4()}" class="carrierLogo" id="Picture4" />
                        </td>
                    </tr>

                </table>
                <hr class="EndPage">
            </div>

            <div class="col-md-6  noMargin mediumMargintop">

                <div class="btn btn-danger" tabindex="21" role="button" data-bind="click: CloseClick">
                    Close
                </div>

            </div>
        </div>
    </div>

    <hr class="EndPage">


    <div id="dialog" title="Alert" style="display:none;">
        <div id="DialogAlertMessage" class="DialogAlertMessage"></div>
    </div>

</div>


