﻿
<div class="col-md-12 col-xs-12 col-sm-12 noMarginright EntryPanelcss" data-bind="visible: isEditing" style="display:none;">

    <div class="row rowNoMargin" data-bind="css:{'divvisible': isShowErrorEdit(),'divhidden': !isShowErrorEdit()}">
        <div class="row clientErrorList alert alert-danger col-md-12" id="EntryDetailErrorBox" data-bind="click:function () {errorExpanderClick('EntryDetailErrorBox')}">
            <div class="errUpDownArrowDiv">
                <span class="fa fa-caret-down"></span>
                <span class="fa fa-caret-up"></span>
            </div>
            <div class="errorLabelfull">

                <ul data-bind="foreach: ErrorList">
                    <li data-bind="text: ErrorText"></li>
                </ul>

            </div>
        </div>
    </div>

    <div style="width: 100%; background-color:white ">
        <ul class="noMargin tabAppMenu">
            <li class="carrierLink activePageMenu" id="VirtualReceiptTab" data-bind="click: VirtualReceiptClick"><a>General Info.</a>  </li>

            <li>|</li>
        </ul>

    </div>


    <div id="VirtualReceiptEntryDiv" data-bind="with: SelectVirtualReceipt()">

        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Client Name
                </label>
            </div>
            <div class="col-md-8 noMargin smallMargintop">
                <input type="text" class="form-control " id="txtClientName" name="txtClientName" tabindex="2" placeholder="Enter the Client Name" maxlength="100" data-bind="value: ClientName" />
            </div>

        </div>


        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Country
                </label>
            </div>
            <div class="col-md-8 noMargin smallMargintop">
                <!--<select name="ddlCountryId" class="selectpicker form-control" id="ddlCountryId" data-live-search="true"></select>-->
                <select class="form-control" id="ddlCountryId" name="ddlCountryId" tabindex="0" data-bind="options: $parent.CountryList, optionsText: 'ppName', value: $parent.selectedCountry , event:{ change: $parent.AddOnTypeChanged}"></select>
            </div>

        </div>

        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Phone
                </label>
            </div>
            <div class="col-md-8 noMargin smallMargintop">
                <input type="text" class="form-control " id="txtPhone" name="txtPhone" tabindex="2" placeholder="Enter Phone Number" maxlength="20" data-bind="value: Phone" />
            </div>

        </div>

        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Email
                </label>
            </div>
            <div class="col-md-8 noMargin smallMargintop">
                <input type="text" class="form-control " id="txtEmail" name="txtEmail" tabindex="2" placeholder="Enter Email" maxlength="50" data-bind="value: Email" />
            </div>

        </div>

        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Description
                </label>
            </div>
            <div class="col-md-8 noMargin smallMargintop">
                <textarea cols="30" class="form-control " id="txtDescription" name="txtDescription" tabindex="3" maxlength="1000" rows="7" data-bind="value: Description"></textarea>
            </div>

        </div>


        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Amount
                </label>
            </div>
            <div class="col-md-2 noMargin smallMargintop">
                <input type="text" class="form-control numericTextbox" placeholder="Enter Amount" onkeypress="return OnlyPositiveNumeric(event)" tabindex="2" maxlength="50" data-bind="value: Amount" id="txtAmount" name="txtAmount" />
            </div>

        </div>

        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Expiry
                </label>
            </div>
            <div class="col-md-3 noMargin smallMargintop">
                <div class='input-group date' data-bind="datetimepicker: $parent.selectedExpiryDate">
                    <input type='text' class="form-control" id='ExpiryDate' data-bind="value: $parent.selectedExpiryDate" />
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>

                    </span>
                </div>
            </div>

        </div>

        <div class="row rowNoMargin entryPanel">

            <div class="col-sm-2 noMargin smallMargintop">
                <label>
                    Receipt Paid
                </label>
            </div>
            <div class="col-md-2 noMargin smallMargintop">
                <input tabindex="1" type="checkbox" id="chkReceiptPaid" name="chkReceiptPaid" class="form-control mediumCheckBox" data-bind="checked:ReceiptPaid" />
            </div>

        </div>        

        <br />

        <div class="col-md-6  noMargin mediumMargintop">
            <div class="btn btn-primary " role="button" type="submit" data-bind="click: $parent.SaveClick" id="btnSave">
                Save
            </div>
            <div class="btn btn-primary " role="button" type="submit" data-bind="click: $parent.GenerateLinkClick" id="btnGenerateLink">
                Generate Link
            </div>

            <div class="btn btn-danger" tabindex="21" role="button" data-bind="click: $parent.CloseClick">
                Close
            </div>

        </div>


    </div>

</div>
<hr class="EndPage">


<div id="dialog" title="Alert" style="display:none;">
    <div id="DialogAlertMessage" class="DialogAlertMessage"></div>
</div>   